{% for message in messages %}
<div class="container-fluid p-0" style="position: fixed; z-index: 10000;display: flex; flex-direction: column; justify-content: center;">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="height: 56px; display: flex; align-items: center;justify-content: space-between; flex-direction: row-reverse;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: transparent">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}