<!DOCTYPE html>
{% load static %}
{% load fpc_tags %} 

<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue Aug 31 2021 15:24:31 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="61214ba6c3929879bd19b585" data-wf-site="61214ba6c39298139819b580" dir="rtl" lang="ar">
<head>
  <meta charset="utf-8">
  <title>Chocolate co. - We spread love everywhere</title>
  <meta content="Chocolate co. - We spread love everywhere" property="og:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="og:image">
  <meta content="Chocolate co. - We spread love everywhere" property="twitter:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="twitter:image">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  {% block styleFile %}{% endblock styleFile %}
  <link hretf="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'ar/css/webflow.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'ar/css/chocolateco.webflow.css' %}" rel="stylesheet" type="text/css">

  {% block customStyle %}{% endblock customStyle %}
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

  <!-- <script type="module" src="{% static 'js/search.js' %}"></script>   -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
  <link href="{% static 'images/webclip.png' %}" rel="apple-touch-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />

  
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

  {% fpc %}

  <!-- Snap Pixel Code -->
  <script type='text/javascript'>
    (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
    {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
    a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
    r.src=n;var u=t.getElementsByTagName(s)[0];
    u.parentNode.insertBefore(r,u);})(window,document,
    'https://sc-static.net/scevent.min.js');
    snaptr('init', '45774274-ef6a-4a6f-ad1b-9f1ee1efafac', {
    'user_email': '__INSERT_USER_EMAIL__'
    });
    snaptr('track', 'PAGE_VIEW');
  </script>
  <!-- End Snap Pixel Code -->

  
</head>
<body>

  <div id="loader-wrapper">
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>

  <script type="text/javascript">

    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
      location.reload(true);
    }

  </script>

  {% include "includes/messages.html" %}
  
  <div class="page-wrapper">

    <div class="visitor-user-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1100; background-color: rgba(0,0,0,0.4); display: none; justify-content: center; align-items: center; padding: 50px; top: 0">
		
      <div style="background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; display: flex; flex-direction: column; height: auto; width: 400px; justify-content: space-evenly">
  
        <form method="POST" action="{% url 'ar-create-visitor' %}">
          {% csrf_token %}
          <h4 class="heading-4">أكمل كزائر</h4>
          <input type="text" class="input w-input" name="name" placeholder="أدخل إسمك" required>
          <input type="text" class="input w-input" name="number" placeholder="أدخل رقم الهاتف" required>
          <button class="button-primary-3 w-button ok" style="width: 100%">أكمل</button>
        </form>
  
      </div>
    
    </div>
  
  
  
    <div class="visitor-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1100; background-color: rgba(0,0,0,0.4); display: none; justify-content: center; align-items: center; padding: 50px; top: 0">
      
      <div style="background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; display: flex; flex-direction: column; height: 250px; width: 400px; justify-content: space-evenly">
        <button class="button-primary-3 w-button visitor-user-button">أكمل كزائر</button>
  
  
        <a href="{% url 'ar-login' %}"><button class="button-primary-3 w-button ok" style="width: 100%">أدخل في حسابك</button></a>	
  
        <p class="paragraph-large mg-bottom-48px">لا تملك حسابا بعد ؟ <a href="{% url 'ar-register' %}" class="link">انشئ واحدا الأن</a></p>
      </div>
    
    </div>
    
      
    
    <div data-collapse="medium" data-animation="default" data-duration="400" data-hover="false" data-w-id="8c0c4230-03c8-6d2d-1aaf-dcff64127e81" role="banner" class="header w-nav">
      <div class="container-nav">
        <div class="header-left-side">
          <a href="/ar/" data-hover="false" aria-current="page" class="brand w-nav-brand w--current"><img src="{% static 'images/chocolateco-slogan.png' %}" width="160" data-hover="false" alt=""></a>
        </div>
        <div class="header-center-side">
          <nav role="navigation" data-hover="false" class="nav-menu w-nav-menu">
            <a href="/ar/" data-hover="false" aria-current="page" class="nav-link w-nav-link w--current">الرئيسية</a>
            
            <a href="{% url 'ar_chocolate_type' %}" data-hover="false" class="nav-link w-nav-link">صمم طلبك الخاص</a>

            <a href="{% url 'ar-about-us' %}" data-hover="false" class="nav-link w-nav-link">نبذة عنا</a>

          </nav>
        </div>
        <div class="header-right-side">
          

          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle" style="padding: 0; margin-right:20px; height: 25px">
              <img src="{% static 'images/search-icon.png' %}" width="25" data-hover="false" alt="" class="image-4" style="max-width: none; width: 25px; height: 25px">
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2">
                <form id="search-form" action="{% url 'ar-search' %}" method="POST">
                  {% csrf_token %}
                  <div class="w-layout-grid mega-menu-grid">
                    <div class="input-group">
                      
                     <input name="search" type="text" placeholder="البحث" class="form-control" id="search">
                     <button class="btn btn-outline-secondary" type="submit" id="button-addon2">بحث</button>

                    </div>
                  </div>
                </form>
              </div>
            </nav>
          </div>


          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle" style="padding: 0; margin-right:20px; height: 25px">
              <img src="{% static 'images/user.svg' %}" width="25" data-hover="false" alt="" class="image-4" style="max-width: none; width: 25px">
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2">
                <div class="w-layout-grid mega-menu-grid">
                  <div>
                   <ul style="list-style-type: none">
									   
										{% if request.user.is_authenticated %}
											{% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf"%}
                        {% if not request.user.is_staff and not request.user.is_superuser %}
                          <li style="text-align: right" class="mega-menu-title"><a class="heading-3" href="{% url 'ar-account' request.user.profile.id %}" style="text-decoration: none;">حسابي</a></li>
                        {% endif %}
												<li style="text-align: right"><a class="heading-3" href="{% url 'ar-logout' %}" style="text-decoration: none;">تسجيل خروج</a></li>
                        <li style="text-align: right"><a class="heading-3" href="{% url 'ar-favorites' %}" style="text-decoration: none;">المفضلة</a></li>
											{% else %}
												<li style="text-align: right" class="mega-menu-title"><a class="heading-3" href="{% url 'ar-register' %}" style="text-decoration: none;">إنشاء حساب</a></li>
                        <li style="text-align: right"><a class="heading-3" href="{% url 'ar-login' %}" style="text-decoration: none;">تسجيل دخول</a></li>
                        
											{% endif %}
										{% else %}
											<li style="text-align: right" class="mega-menu-title"><a class="heading-3" href="{% url 'ar-register' %}" style="text-decoration: none;">إنشاء حساب</a></li>
                      <li style="text-align: right"><a class="heading-3" href="{% url 'ar-login' %}" style="text-decoration: none;">تسجيل دخول</a></li>
										{% endif %}
									    
									    
									</ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle cart-icon-container" style="padding: 0; margin-right:20px; height: 25px">
              <img src="{% static 'images/shopping-cart.svg' %}" width="25" data-hover="false" alt="" class="image-4" style="max-width: none; width: 25px">
              {% if request.user.is_authenticated %}
                {% if order.get_order_total >= 0 %}

                  <div class="div-block-2" style="margin-right: -10px">
                    <div class="text-block-2 items-quantity " style="padding: 0 7px" >{{ order.get_products }}</div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2" id="cart-box-container">
                <div class="w-layout-grid mega-menu-grid">
                  <div id="cart-container">
                   <h4 class="mega-menu-title" style="text-align: right">السلة</h4>
                    {% if order.get_order_total > 0 %}
                      <div class="cart-box">
                        {% for item in order.items.all %}
                          {% if item.item.customized_box %}

                            <div class="menu-2-columns">
                              <div class="mega-menu-column-4"><img src="{{ item.tray.image.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div>
                              <div class="mega-menu-column-2" style="text-align: right">
                                <h4 class="heading-5 cart-box-title">{{ item.item.ar_title }}</h4>
                                {% if item.quantity_type == "Pieces" %}
                                  <h4 class="heading-6"><span style="font-size: 16px; color: #a38a72">{{ item.pieces_quantity }} </span> {{ item.price }} د.ك</h4>
                                {% elif item.quantity_type == "Weight" %}
                                  <h4 class="heading-6"><span style="font-size: 16px; color: #a38a72">{{ item.weight_quantity }} </span> {{ item.price }} د.ك</h4>
                                {% endif %}
                              </div>
                            </div>
                          {% else %}
                          
                            <div class="menu-2-columns">
                              <div class="mega-menu-column-4"><img src="{{ item.item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div>
                              <div class="mega-menu-column-2" style="text-align: right">
                                <h4 class="heading-5 cart-title-{{ item.item.id }} cart-box-title">{{ item.item.ar_title }}</h4>
                                {% if item.quantity_type == "Pieces" %}
                                  <h4 class="heading-6"><span class="cart-quantity-{{ item.item.id }}" style="font-size: 16px; color: #a38a72">{{ item.pieces_quantity }} </span> {{ item.price }} د.ك</h4>
                                {% elif item.quantity_type == "Weight" %}
                                  <h4 class="heading-6"><span class="cart-quantity-{{ item.item.id }}" style="font-size: 16px; color: #a38a72">{{ item.weight_quantity }} كجم</span> {{ item.price }} د.ك</h4>
                                {% endif %}
                              </div>
                            </div>
                          {% endif %}  
                        {% endfor %}
                      </div>
                    {% else %}
                      <h4 class="mega-menu-title empty-cart" style="text-align: right">سلتك فارغة</h4>
                    {% endif %}
                  </div>
                </div>
                {% if order.get_order_total > 0 %}
                  <h4 class="mega-menu-title" style="text-align: right;">المجموع: <span class="cart-price">{{ order.get_order_total }}</span> د.ك<br></h4>
                  <a style="color: #fff" {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "ar-checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal-button{% endif %}{% else %}visitor-modal-button{% endif %}">إتمام الطلب</a>
                  <div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url 'ar-cart' %}">عرض السلة</a></div>
                {% endif %}
                  
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle" style="padding: 0; margin-right:20px; height: 25px">
              <img class="lang-icon image-4" src="{% static 'images/E.svg' %}" width="25" alt="" style="display: flex; max-width: none; width: 25px">
            </div>
            
          </div>
          <div class="menu-icon w-nav-button">
            <div class="menu-icon-top-line"></div>
            <div class="menu-icon-middle-line"></div>
            <div class="menu-icon-bottom-line"></div>
          </div>
        </div>
      </div>
      
    </div>
    

	{% block content %}{% endblock content %}
    
    <footer data-w-id="71417737-5b4b-a09e-2591-ff5af838e990" class="footer wf-section" style="text-align: right">
      <div class="container-1180px">
        <div class="row">

          <div class="col-lg-3 col-md-3 col-sm-12" >
            <p><a href="{% url 'ar-about-us' %}" style="color: #a38a72; text-decoration: none;">نبذة عنا</a></p>
            <p><a href="{% url 'ar-terms-conditions' %}" style="color: #a38a72; text-decoration: none;">الشروط و الأحكام</a></p>
            <p><a href="{% url 'ar-privacy-policy' %}" style="color: #a38a72; text-decoration: none;">سياسة الخصوصية</a></p>



          </div>
          
          <div class="col-lg-3 col-md-3 col-sm-12">

            <p style="color: #a38a72; text-decoration: none;">25761776</a></p>
            <p style="color: #a38a72; text-decoration: none;">info@chocolatecokw.com</a></p>
            <p style="color: #a38a72; text-decoration: none;">السالمية, شارع بغداد, برج الطيب</a></p>
          
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12 footer-pad">
              <a href="https://www.facebook.com/Chocolate_CO-102013454708500" target="_blank" class="social-icon w-inline-block"><img src="{% static 'images/facebook.svg' %}" data-hover="false" alt="" class="image-2"></a>
              <a href="https://www.instagram.com/thechocolateco/" target="_blank" class="social-icon w-inline-block"><img src="{% static 'images/instagram.svg' %}" data-hover="false" alt="" class="image"></a>
          </div>


          <div class="col-lg-3 col-md-3 col-sm-12 subscribe-us">
            <h4 style="color: #a38a72;">اشترك</h4>
            <form name="subscribe-form" id="subscribe-form" method="post">
              {% csrf_token %}
              <div class="input-group">

                <input name="subs-email" type="email" placeholder="اشترك" class="form-control" id="subscribe">
                <button class="btn sub-button"  type="button"  id="button-addon2" style="background: #a38a72; color: #fff; border-color: #a38a72;">انضم لنا</button>

               </div>
            </form>
            <div class="row" style="margin-top: 10px; justify-content: space-between;">
              
              <img class="col-3" src="{% static 'images/visa-card.png' %}" alt="">
              <img class="col-3" src="{% static 'images/knet-card.png' %}" alt="">
              <img class="col-3" src="{% static 'images/mastercard_png1.png' %}" alt="">

            </div>
          </div>


        </div>
        <div class="footer-bottom">
          <div class="copyright">© شوكوليت كو 2022. كل الحقوق محفوظة</div>
        </div>
      </div>
      <iframe style="height:0px;width:0px;visibility:hidden" src="about:blank">
     </iframe>
    </footer>
  </div>
  <script src="{% static 'ar/js/counter.js' %}" type="text/javascript"></script>
  <script src="{% static 'ar/js/webflow.js' %}" type="text/javascript"></script>
  <script src="{% static 'ar/js/wow.js' %}"></script>
  <script src="{% static 'ar/js/bundle.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% comment %} <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script> {% endcomment %}

  {% comment %} <script type="module">

    // Import stylesheets
    import Trie from "{% static 'js/trie.js' %}";
    import countries from "{% static 'js/countries.js' %}";

    const input = document.getElementById("search");
    const results = document.getElementById("results");
    const trie = new Trie();
    const items = {{ items|safe }}
    console.log(items)
    console.log(trie)
    // Load up the trie with keys frp, the 'words' variable.
    const words = items.map(item => item.title.toLowerCase());
    words.forEach(word => trie.insert(word));

    /**
     * Helper function to create new <p> elements to be added to
     * the results list.
     * @param {String} str The string to be added to the new elements
     * innerHTML for display.
     * @returns {HTMLParagraphElement}
     */
    const newEl = str => {
      const p = document.createElement("p");
      p.classList = "results";
      p.innerText = str;
      return p;
    };
    input.addEventListener("keyup", ev => {
      // Get a list of countries with the current value of #input.
      const countriesResults = trie.autoComplete(input.value.toLowerCase());
      results.innerHTML = ""; 

      if (countriesResults.found) {
        countriesResults.found.forEach(country => {
          console.log(country)
          {% for item in items %}
            var item = "{{ item.title|lower }}"
            if(item === country){
              console.log("{{ item.price }}")
            }
          {% endfor %}
          const el = newEl(country);
          
          results.appendChild(el);
        });
      }
    });


  </script> {% endcomment %}

  <script>

    $(document).ready(function() {
      $(".sub-button").on("click", function(){
        console.log("hello")
        let newsletterFormData = $("#subscribe-form").serialize()


        if($("input[name=subs-email]").val() !== ""){
          $.ajax({
            url: "{% url 'subscribe' %}",
            type: "post",
            data: newsletterFormData,
            success: function(response){
              $("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">\
                                    <div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
                                        <h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">شكرا, لقد تم تسجيلك معنا</h2>\
                                        <button class="button-primary-3 w-button ok">حسنا</button>\
                                    </div>\
                                </div>')
              $("#subscribe-form").trigger("reset")
            },
            error: function(xhr, status, error) {
              var err = eval("(" + xhr.responseText + ")");
              alert(err.Message);
            }
          })
        }
        
      })


      $("body").on("click", ".max-modal div .ok", function(){
        $(".max-modal").remove();
      })
    })




    document.getElementById("search-form").addEventListener("submit", event => {
      let query = $("input[name=search]").val()
      if(query){
        
      }else{
        event.preventDefault()
      }
    })




    $("#cart-box-container").on("click", ".visitor-modal-button", function(){
      $(".visitor-modal").css("display", "flex")
    })


    $(".visitor-modal-button").on("click",  function(){
      $(".visitor-modal").css("display", "flex")
    })


    $(".visitor-user-button").on("click", function(){
      $(".visitor-modal").css("display", "none")
      $(".visitor-user-modal").css("display", "flex")

    })

    $(".lang-icon").on("click", function(){
      console.log(window.location)
      let currentLocation = window.location
      let currentPathName = window.location.pathname
      let pathName = currentPathName.replace("/ar", "")

      window.location = currentLocation.origin + pathName
    })


    $('.cart-box-title').each(function(i, obj) {
			console.log("in")
			if($(this).html() !== undefined){
				console.log("hiiiiiii")
				if($(this).is(":contains('   ')")){
					console.log($(this).html())
					// obj.text(obj.text().replace("   ", "<br>"))
					var text = $(this).html().replace(/   /g, "<br>");
		
					$(this).html(text);
		
				}
			}else{
				console.log("hello")
			}
			
		});
  </script>
  {% block script %}{% endblock script %}


  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>