{% extends 'base.html' %}



{% block title %}Items Choice{% endblock %}


{% block content %}


<div class="container">
    {% if order_item.quantity_choice == "Kilogram" %}
        <h1 style="text-align: center; margin-top: 5rem">Choose 60 products</h1>
    {% elif order_item.quantity_choice == "Half Kilo" %}
        <h1 style="text-align: center; margin-top: 5rem">Choose 30 products</h1>
    {% elif order_item.quantity_choice == "Quarter Kilo" %}
        <h1 style="text-align: center; margin-top: 5rem">Choose 15 products</h1>
    {% endif %}
    <form class="box-items-form" data-url="{% url 'box-items-choice-post' %}" method="POST">
        {% csrf_token %}
        <div class="row tt-layout-product-item">

            
            {% for item in items %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="tt-product thumbprod-center product-nohover">
                        <div class="tt-image-box">
                                <span class="tt-img"><img src="images/loader.svg" data-src="{{ item.picture.url }}" alt=""></span>
                        </div>
                        <div class="tt-description">
                            <h2 class="tt-title">{{ item.title }}</h2>
                                
                            
                            <div>
                                <div class="col-12" style="">
                                    <div class="box-counter style-01" style="max-width: 500px">
                                        <span class="minus-btn"></span>
                                        <input class="{% if order_item.quantity_choice == "Kilogram" %}kilogram{% elif order_item.quantity_choice == "Half Kilo" %}half-kilo{% elif order_item.quantity_choice == "Quarter Kilo" %}quarter-kilo{% endif %}" id="quantity-{{ item.slug }}" type="text" value="0" min="0" size="10" name='quantity-{{ item.slug }}' readonly>
                                        <span class="plus-btn"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
                
                </div>
                
            <div class="row" style="text-align: center">
                <div style="text-align: center">
                    <p class="error-text" style="color: red; font-size: 1.5rem"></p>
                    <button type="button" class="btn btn-cart thumbprod-button-bg {% if order_item.quantity_choice == "Kilogram" %} kilo-button {% elif order_item.quantity_choice == "Half Kilo" %} half-button {% elif order_item.quantity_choice == "Quarter Kilo" %} quarter-button {% endif %}"  style="width: 210px; margin-top: 10%; margin-bottom: 5rem">Submit</button>
                </div>
                </div>
            </div>
    </form>

{% endblock %}