<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chocolate.co - Checkout Done</title>
    <link rel="stylesheet" href="{% static 'css/style-skin-food02.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      
      fbq('init', '3179941832325793');
      fbq('track', 'Purchase', {
        value: {{ order.get_discount_total }},
        currency: 'KWD'
      });
      
    </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=3179941832325793&ev=PageView&noscript=1"/>
    </noscript>


    <!-- Snap Pixel Code -->
    <script type='text/javascript'>
      (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
      {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
      a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
      r.src=n;var u=t.getElementsByTagName(s)[0];
      u.parentNode.insertBefore(r,u);})(window,document,
      'https://sc-static.net/scevent.min.js');
      snaptr('init', '45774274-ef6a-4a6f-ad1b-9f1ee1efafac', {
      'user_email': '__INSERT_USER_EMAIL__'
      });
      
      snaptr('track', 'PURCHASE', { 'currency': 'KWD', 'price': {{ order.get_discount_total }} });
    </script>
    <!-- End Snap Pixel Code -->
  </head>
  <body>
    <div id="loader-wrapper">
      <div id="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </body>
  <script>
    var wsStart = "ws://";
    if (location.protocol == "https:") {
      wsStart = "wss://";
    }
    var endpoint = wsStart + location.host + "/dashboard/orders/";
    console.log(endpoint);

    var socket = new WebSocket(endpoint);

    socket.onopen = function (e) {
      console.log("open", e);
      socket.send("{{ request.user }}");
    };
    socket.onmessage = function (e) {
      var data = JSON.parse(e.data);
      console.log(data.status);
      document.location.href = "/ar/socket-checkout";
    };
    socket.onerror = function (e) {
      console.log("error", e);
    };
    socket.onclose = function (e) {
      console.log("close", e);
    };
  </script>
</html>
