{% extends "ar/base.html" %}
{% load static %}

{% load app_filters %}


{% block title %}Checkout{% endblock %}
{% block styleFile %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">


<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  
      
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>

{% endblock styleFile %}
{% block content %}

  <style>
    
    a:hover {
      text-decoration: none;
    }


    #CoverStartDateOtherPicker {
      opacity: 0;
      display: none;
    }

    #PickupDatePicker {
      opacity: 0;
      display: none;
    }

    input[type=radio]{
      display: none;
    }
    

    input[type=radio]:checked + .col-sm-3{
      background: #a38a72;

    }

    input[type=radio]:checked + .col-4{
      background: #a38a72;

    }

    input[type=radio]:checked + .col-sm-3 h5{
      color: #fff;

    }

    input[type=radio]:checked + .col-4 h4{
      color: #fff ;

    }

    .disabled {
      border-color: grey !important;
      cursor: default!important;
      opacity: 0.35
    }
    .disabled h5 {
      color: grey !important;
    }

    a.w--current{
      color: #fff!important;
      text-decoration: none !important;
    }



    .ui-widget-header {
      background: #5d4135;
      border: none;
    }


    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
      color: #a38a72;
      border: none;
      background: #f6f6f6;
    }


    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
      color: #5d4135;
      border: 1px solid #5d4135;
      background: #f6f6f6;
    }

    

  </style>
  
  <main style="margin-top: 10rem">
    <!-- <div class="container wow fadeIn" style="margin-top: 5rem">
      <form action="{% url 'checkout-post' %}" method="POST" class="card-body" style="padding-top: 0px">
        {% csrf_token %}
        <div class="row" style="flex-direction: row-reverse">
           <div class="col-md-4 mb-4">
                {% include "order_snippet.html" %}
            </div>

            <div class="col-md-8 mb-4">
              <h2 class="h2 text-center">Checkout form</h2>
              <div class="card" style="padding: 50px">
              
              
              
              
                  <h3>Shipping address</h3>

                  <div class='hideable_shipping_form'>


                      <div class="md-form mb-5">
                      <input class="form-control" type="text" name="area" value="{{ profile.area }}" readonly>
                      <label for="area" class="">Area and Street</label>
                      </div>

                      <div class="md-form mb-5">
                      <input class="form-control" type="text" name="address2" value="{{ profile.area }}, Block: {{ profile.block }}, {{ profile.street }} St, House No. {{ profile.house }}" readonly>
                      <label for="address2" class="">House .No, Flat and Apartment</label>
                      </div>
                  </div>

                  {% if default_shipping_address %}
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
                      <label class="custom-control-label" for="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|truncatechars:10 }}</label>
                  </div>
                  {% endif %}
                  <hr class="mb-4">
                  {% comment %} <a href="{{ url }}" id="checkout-btn" class="btn btn-cart btn-lg btn-block" type="button" style="padding: 35px">إتمام الطلب</a> {% endcomment %}
                  <button id="checkout-btn" class="btn btn-cart btn-lg btn-block" type="submit" style="padding: 35px">إتمام الطلب</button>
              </div>
            </div> 
        </div>
      </form>
    </div> -->

    <div class="container wow fadeIn" style="margin-top: 5rem;">


      <form class="wow fadeIn" action="{% url 'ar-checkout-post' %}" method="POST">
        {% csrf_token %}
        <div class="row" style="justify-content: space-evenly;">
          <div class="col-lg-4 col-12"></div>
          <div class="col-lg-4 col-12 delivery-message"></div>
        </div>
        <div class="row" style="justify-content: space-evenly">

          <input type="radio" name="type" value="Pickup" id="pickup" checked> 
          <label for="pickup" class="pickup col-4" style="border: 2px solid #a38a72; height: auto; display: flex; justify-content: center; align-items: center; border-radius: 8px; cursor: pointer;">
            <h4 style="color: #fff; margin: 0; padding: 0;" class="heading-3">استلام</h4>
          </label>

          
          <input type="radio" name="type" value="Delivery" id="delivery">
          <label for="delivery" class="delivery col-4" style="border: 2px solid #a38a72; height: auto; display: flex; justify-content: center; align-items: center; border-radius: 8px; cursor: pointer;">
            <div style="height: auto; display: flex; justify-content: space-evenly; align-items: center; flex-direction: column; ">
              <img width="40%" height="auto" class="del-icon" src="{% static 'images/Del-Icon.png' %}" alt="">
              <h4 style="color: #a38a72; margin: 0; padding: 0;" class="heading-3">توصيل</h4>
            </div>
          </label>

        </div>

        <hr style="color: #a38a72;" />


        
        <div class="checkout-content">


          
          
          <h3 style="color: #a38a72; text-align: right">استلم من فرعنا في {{ pickup.ar_name }}  <i class="fas fa-map-marker-alt"></i></h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4751.222743000933!2d48.05538724087202!3d29.338102220513107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf9dbf9adc9c81%3A0x7ef779962d92d43a!2sThe%20Chocolate%20Co.!5e0!3m2!1sen!2skw!4v1637525537908!5m2!1sen!2skw" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


          <h3 style="color: #a38a72; text-align: right">إختر تاريخ الاستلام <i class="fas fa-calendar-alt"></i> </h3>
          <div class="row" style="display: flex; justify-content: space-evenly;">
            <input type="radio" name="day" value="today" id="today" required="">
            <label for="today" class="col-8 col-sm-3 col-md-3 today-container" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;">
              <h5 style="margin: 0; padding: 0" class="heading-3">اليوم</h5>
            </label>
            <input type="radio" name="day" value="tomorrow" id="tomorrow">
            <label for="tomorrow" class="col-8 col-sm-3 col-md-3 tomorrow-container" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;">
              <h5 style="margin: 0; padding: 0" class="heading-3">غدا</h5>
            </label>
            <input type="radio" name="day" value="" id="PickupDate" style="">
            <div class="col-8 col-sm-3 col-md-3 pick-date-container" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;">
              <input type="text" id="PickupDatePicker" class="" readonly>
              <h5 class="pick-date-text heading-3" style="margin: 0; padding: 0; position: absolute;">إختر التاريخ</h5>
            </div>
          </div>


          <h3 style="color: #a38a72; text-align: right">إختر وقت الاستلام <i class="fas fa-clock"></i></h3>
          <div class="row time-container" style="display: flex; justify-content: space-evenly;"></div>



          <hr>

          <h3 style="color: #a38a72; text-align: right">ملاحظة العميل <i class="fas fa-comment"></i></h3>
          <textarea class="input w-input" name="note" id="customer-note" cols="30" rows="3" maxlength="250" placeholder="ملاحظة العميل"></textarea>

          <p class="checkout-message" style="text-align: center; color: red;"></p>
          <button id="checkout-btn" class="button-primary-3 w-button btn-lg btn-block" type="submit" style="padding: 35px; margin-top: 3%; margin-bottom: 9%">إتمام الطلب</button>
          
        </div>
      </form>


      
     



      



    


    
  
  </main>


  
{% endblock content %}

{% block script %}
<script>
  var offDates = [];
  {{ days_off|safe }}.some(day => {
    let fromDate = new Date(day.from_date)
    console.log(fromDate)
    fromDate.setHours(0, 0, 0)
    let toDate = new Date(day.to_date)
    console.log(toDate)
    toDate.setHours(0, 0, 0)
    offDates.push([fromDate, toDate])
    
  })
  
  var dateRange = [];
  offDates.forEach((date) => {
    var startDate = new Date(Math.min(...date));
    var endDate = new Date(Math.max(...date));
    for (var d = new Date(startDate); d <= new Date(endDate); d.setDate(d.getDate() + 1)) {
      dateRange.push($.datepicker.formatDate('yy-mm-dd', d));
    }
  })
  
  
  
  
  
  


var datePickerOptions = {
    dateFormat: 'dd/mm/yy',
    firstDay: 1,
    minDate: {{ day_number }},
    beforeShowDay: function(date){
      var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
      return [ dateRange.indexOf(string) == -1 ]
    },
    onSelect: function(date) {
      $(".pick-date-text").html($(this).val());
      $("#CoverStartDateOther").val($(this).val())
      $("#CoverStartDateOther").prop("checked", true)

      $(".time-container").text("")
      let pickedDate = new Date(date.split("/")[2], parseInt(date.split("/")[1]) - 1, date.split("/")[0])
      let tomorrowName = days[pickedDate.getDay()]
      console.log(tomorrowName, pickedDate)
      {% for day in days %}
        if("{{ day.day }}" === tomorrowName){
          $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time1|replace_date }} - {{ day.to_time1|replace_date }}" id="time1" {% if day.disabled_time1 %}disabled{% endif %} required><label for="time1" class="col-8 col-sm-3 col-md-3 {% if day.disabled_time1 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time1|ar_replace_date }} - {{ day.to_time1|ar_replace_date }}</h5></label>')
          $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time2|replace_date }} - {{ day.to_time2|replace_date }}" id="time2" {% if day.disabled_time2 %}disabled{% endif %}><label for="time2" class="col-8 col-sm-3 col-md-3 {% if day.disabled_time2 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time2|ar_replace_date }} - {{ day.to_time2|ar_replace_date }}</h5></label>')
          $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time3|replace_date }} - {{ day.to_time3|replace_date }}" id="time3" {% if day.disabled_time3 %}disabled{% endif %}><label for="time3" class="col-8 col-sm-3 col-md-3 {% if day.disabled_time3 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time3|ar_replace_date }} - {{ day.to_time3|ar_replace_date }}</h5></label>')
        }
      {% endfor %}

    }
}

var pickupPickerOptions = {
  dateFormat: 'dd/mm/yy',
  firstDay: 1,
  minDate: {{ day_number }},
  onSelect: function(date) {
    $(".pick-date-text").html($(this).val());
    $("#PickupDate").val($(this).val())
    $("#PickupDate").prop("checked", true)

    $(".time-container").text("")
    let pickedDate = new Date(date.split("/")[2], parseInt(date.split("/")[1]) - 1, date.split("/")[0])
    let tomorrowName = days[pickedDate.getDay()]
    console.log(tomorrowName, pickedDate.getDate())
    {% for day in days %}
      if("{{ day.day }}" === tomorrowName){
        $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time1|replace_date }} - {{ day.to_time1|replace_date }}" id="time1" {% if day.disabled_time1 %}disabled{% endif %} required><label for="time1" class="col-8 col-sm-3 col-md-3  {% if day.disabled_time1 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time1|ar_replace_date }} - {{ day.to_time1|ar_replace_date }}</h5></label>')
        $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time2|replace_date }} - {{ day.to_time2|replace_date }}" id="time2" {% if day.disabled_time2 %}disabled{% endif %}><label for="time2" class="col-8 col-sm-3 col-md-3  {% if day.disabled_time2 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time2|ar_replace_date }} - {{ day.to_time2|ar_replace_date }}</h5></label>')
        $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time3|replace_date }} - {{ day.to_time3|replace_date }}" id="time3" {% if day.disabled_time3 %}disabled{% endif %}><label for="time3" class="col-8 col-sm-3 col-md-3  {% if day.disabled_time3 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time3|ar_replace_date }} - {{ day.to_time3|ar_replace_date }}</h5></label>')
      }
    {% endfor %}
    $("#PickupDate").prop("checked", true) 
  }
}




$("body").on("domChange", function(){


  $("#CoverStartDateOtherPicker").datepicker(datePickerOptions);
  $("#CoverStartDateOther").click(function () {
    $("#CoverStartDateOtherPicker").datepicker("show");
  });

  $("#PickupDatePicker").datepicker(pickupPickerOptions);
  $(".pick-date-container").click(function() {
    $("#PickupDatePicker").datepicker("show")
  })

})



$(document).ready(function(){

  
  $("#PickupDatePicker").datepicker(pickupPickerOptions);
  $(".pick-date-container").click(function() {
    $("#PickupDatePicker").datepicker("show")
  })


})


  







const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

let today = new Date()
let tomorrow = new Date(today)
tomorrow.setDate(tomorrow.getDate() + 1)

let month = months[today.getMonth()]
let tomorrowMonth = months[tomorrow.getMonth()]

$(".today").text(today.getDate() + " " + month)
$(".tomorrow").text(tomorrow.getDate() + " " + tomorrowMonth)

$(".checkout-content").on("click", ".row .today-container", function() {
  if($("#today").prop("disabled")){
    console.log("it's disabled")
  }else{
    $(".time-container").text("")
    console.log(days[tomorrow.getDay()])
    console.log(tomorrow.getDay())
    console.log("{{ day.day }}")
    $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time1|replace_date }} - {{ day.to_time1|replace_date }}" id="time1" {% if day.disabled_time1 or today_disabled_time1 %}disabled{% endif %} required><label for="time1" class="col-8 col-sm-3 col-md-3 {% if day.disabled_time1 or today_disabled_time1 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time1|ar_replace_date }} - {{ day.to_time1|ar_replace_date }}</h5></label>')
    $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time2|replace_date }} - {{ day.to_time2|replace_date }}" id="time2" {% if day.disabled_time2 or today_disabled_time2 %}disabled{% endif %}><label for="time2" class="col-8 col-sm-3 col-md-3 {% if day.disabled_time2 or today_disabled_time2 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time2|ar_replace_date }} - {{ day.to_time2|ar_replace_date }}</h5></label>')
    $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time3|replace_date }} - {{ day.to_time3|replace_date }}" id="time3" {% if day.disabled_time3 or today_disabled_time3 %}disabled{% endif %}><label for="time3" class="col-8 col-sm-3 col-md-3 {% if day.disabled_time3 or today_disabled_time3 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time3|ar_replace_date }} - {{ day.to_time3|ar_replace_date }}</h5></label>')
  
  }
  
  
})
$(".checkout-content").on("click", ".row .tomorrow-container", function() {
  if($("#tomorrow").prop("disabled")){
    console.log("it's disabled")
  }else{
    $(".time-container").text("")
    let tomorrowName = days[tomorrow.getDay()]
    console.log(tomorrowName)
    {% for day in days %}
      if("{{ day.day }}" === tomorrowName){
        $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time1|replace_date }} - {{ day.to_time1|replace_date }}" id="time1" {% if day.disabled_time1 %}disabled{% endif %} required><label for="time1" class="col-8 col-sm-3 col-md-3 {% if day.disabled_time1 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time1|ar_replace_date }} - {{ day.to_time1|ar_replace_date }}</h5></label>')
        $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time2|replace_date }} - {{ day.to_time2|replace_date }}" id="time2" {% if day.disabled_time2 %}disabled{% endif %}><label for="time2" class="col-8 col-sm-3 col-md-3 {% if day.disabled_time2 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time2|ar_replace_date }} - {{ day.to_time2|ar_replace_date }}</h5></label>')
        $(".time-container").append('<input type="radio" name="time" value="{{ day.from_time3|replace_date }} - {{ day.to_time3|replace_date }}" id="time3" {% if day.disabled_time3 %}disabled{% endif %}><label for="time3" class="col-8 col-sm-3 col-md-3 {% if day.disabled_time3 %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">{{ day.from_time3|ar_replace_date }} - {{ day.to_time3|ar_replace_date }}</h5></label>')
      }
    {% endfor %}
  }
  
  

  
})


$(".delivery").on("click", function() {
  $(".del-icon").prop("src", "{% static 'images/del-icon-white.png' %}")
  if({{ order.get_order_total }} < {{ min_price }}){
    
    $(".pickup").css("background", "#a38a72")
    $(".pickup h4").css("color", "#fff")


    $(".delivery").css("background", "#fff")
    $(".delivery h4").css("color", "#a38a72")

    $(".delivery-message").text("")
    $(".delivery-message").append('<p class="delivery-message" style="text-align: center; color: red;">قيمة الطلب اقل من القيمة اللازمة للتوصيل.</p>')
    setTimeout(function(){
      $(".delivery-message").text("")
    }, 5000)
    
  }else{
    

    $(".pickup").css("background", "#fff")
    $(".pickup h4").css("color", "#a38a72")


    $(".delivery").css("background", "#a38a72")
    $(".delivery h4").css("color", "#fff")
    $(".checkout-content").text("")
    $(".checkout-content").append('<h3 style="color: #a38a72; text-align: right">إختر تاريخ التوصيل <i class="fas fa-calendar-alt"></i> </h3> <div class="row" style="display: flex; justify-content: space-evenly;"><input type="radio" name="day" value="today" id="today" required="" {% if today_off %}disabled{% endif %}><label for="today" class="col-8 col-sm-3 col-md-3 {% if today_off %}disabled{% endif %} today-container" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">اليوم</h5></label><input type="radio" name="day" value="tomorrow" id="tomorrow" {% if tomorrow_off %}disabled{% endif %}><label for="tomorrow" class="col-8 col-sm-3 col-md-3 tomorrow-container {% if tomorrow_off %}disabled{% endif %}" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px; "><h5 style="margin: 0; padding: 0" class="heading-3">غدا</h5></label><input type="radio" name="day" value="" id="CoverStartDateOther" style><label for="CoverStartDateOther" class="col-8 col-sm-3 col-md-3 pick-date-container" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><input type="text" id="CoverStartDateOtherPicker"  /><h5 class="pick-date-text heading-3" style="margin: 0; padding: 0; position: absolute;">إختر التاريخ</h5></label></div><h3 style="color: #a38a72; text-align: right">إختر وقت التوصيل <i class="fas fa-clock"></i></h3><div class="row time-container" style="display: flex; justify-content: space-evenly;"></div><hr><h3 style="color: #a38a72; text-align: right">ملاحظة العميل <i class="fas fa-comment"></i></h3><textarea class="input w-input" name="note" id="customer-note" cols="30" rows="3" maxlength="250" placeholder="ملاحظة العميل"></textarea><button id="checkout-btn" class="button-primary-3 w-button btn-lg btn-block" type="submit" style="padding: 35px; margin-top: 3%; margin-bottom: 9%">إتمام الطلب</button>')
    $("body").trigger("domChange")
  }
  
})

$(".pickup").on("click", function() {
  $(".del-icon").prop("src", "{% static 'images/del-icon.png' %}")

  $(".pickup").css("background", "#a38a72")
  $(".pickup h4").css("color", "#fff")


  $(".delivery").css("background", "#fff")
  $(".delivery h4").css("color", "#a38a72")
  $(".checkout-content").text("")
  $(".checkout-content").append('<h3 style="color: #a38a72; text-align: right">استلم من فرعنا في السالمية  <i class="fas fa-map-marker-alt"></i></h3><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4751.222743000933!2d48.05538724087202!3d29.338102220513107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf9dbf9adc9c81%3A0x7ef779962d92d43a!2sThe%20Chocolate%20Co.!5e0!3m2!1sen!2skw!4v1637525537908!5m2!1sen!2skw" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe><h3 style="color: #a38a72; text-align: right">إختر تاريخ الاستلام <i class="fas fa-calendar-alt"></i> </h3><div class="row" style="display: flex; justify-content: space-evenly;"><input type="radio" name="day" value="today" id="today" required=""><label for="today" class="col-8 col-sm-3 col-md-3 today-container" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">اليوم</h5></label><input type="radio" name="day" value="tomorrow" id="tomorrow"><label for="tomorrow" class="col-8 col-sm-3 col-md-3 tomorrow-container" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><h5 style="margin: 0; padding: 0" class="heading-3">غدا</h5></label><input type="radio" name="day" value="" id="PickupDate"><div class="col-8 col-sm-3 col-md-3 pick-date-container" style="height: 6rem; justify-content: center; border: 1px solid #a38a72; display: flex; flex-direction: column; align-items: center; cursor: pointer; border-radius: 8px;"><input type="text" id="PickupDatePicker" class="hasDatePicker" readonly><h5 class="pick-date-text heading-3" style="margin: 0; padding: 0; position: absolute;">إختر التاريخ</h5></div></div><h3 style="color: #a38a72; text-align: right">إختر وقت الاستلام <i class="fas fa-clock"></i></h3><div class="row time-container" style="display: flex; justify-content: space-evenly;"></div><hr><h3 style="color: #a38a72; text-align: right">ملاحظة العميل <i class="fas fa-comment"></i></h3><textarea class="input w-input" name="note" id="customer-note" cols="30" rows="3" maxlength="250" placeholder="ملاحظة العميل"></textarea><button id="checkout-btn" class="button-primary-3 w-button btn-lg btn-block" type="submit" style="padding: 35px; margin-top: 3%; margin-bottom: 9%">إتمام الطلب</button>')
  $("body").trigger("domChange")
})







/* var wsStart = "ws://"
if(location.protocol == "https:"){
	wsStart  = "wss://"
}
var endpoint = wsStart + location.host + "/dashboard/orders/"

var socket = new WebSocket(endpoint)

socket.onopen = function(e){
  console.log("open", e)
  $("#checkout-btn").click(function(){
    socket.send("{{ request.user }}")
  })
}
socket.onmessage = function(e){
  var data = JSON.parse(e.data)
  console.log(data.status)
  document.location.href = "/socket-checkout"

}
socket.onerror = function(e){
  console.log("error", e)
}
socket.onclose = function(e){
  console.log("close", e)
} */


$(".checkout-content").on("click", "#checkout-btn", function(){
  console.log("clicked")
  if($("input[name=day]:checked").val()){
    console.log("checked")
    if($("input[name=time]:checked").val()){
      console.log("time checked")
      
    }else{
      console.log("time not checked")
      $(".checkout-message").text("إختر تاريخ التوصيل")
    }
  }else{
    $(".checkout-message").text("إختر وقت التوصيل")
    console.log("not checked")
  }
})

</script>



{% endblock %}