{% extends 'base.html' %}



{% block content %}


<form class="" method="post">
  <div class="container-indent">
    <div class="container">
        <div class="tt-login-form"  style="margin-top: 45px">
            <div class="row justify-content-center">
                
                <div class="col-xs-12 col-md-6">

                    <div class="tt-item">
                        
                        {% if error == "email" %}
                            <p style="color:red">please enter a valid email</p>
                        {% endif %}


                        {% if error == "pin" %}
                            <p style="color:red">Your pin code is wrong</p>
                        {% endif %}

                        
                        <h2 style="color: #39124b" class="tt-title">Verify</h2>
                        <div class="form-default form-top">
                            <form id="customer_login" method="post" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label style="color: #39124b" for="password">Pin</label>
                                    <input type="text" name="pin" class="form-control" id="password" placeholder="Enter you pin code">
                                </div>

                                <button class="btn btn-border" type="submit">Verify</button>
                                
                                

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</form>

{% endblock content %}