{% extends 'base.html' %}
{% load static %}
{% block title %}Chocolate Weight{% endblock %}

{% block content %}

    <style>
    


    label {
        cursor: pointer;
        filter: grayscale(100%);
    }

    label:hover {
        filter: grayscale(0);
    }

    input[type="radio"]:checked + label {
        filter: grayscale(0);
    }

    
    
    </style>

    <div class="container" style="text-align: center">
        <form id="chocolate_weight_form" method="POST">
            {% csrf_token %}
            <div class="row" style="justify-content: center; padding: 10px">
                <h1 style="margin-top: 5rem; margin-bottom: 3rem; color: #000">Choose the weight</h1>
                <div style="text-align: right; margin-bottom: 3rem; justify-content: flex-end" class="custom-control custom-radio custom-control-inline col-6 col-md-4 col-lg-3">
                    <input style="width: 100%" class="sr-only" type="radio" name="quantity_choice" id="kilo" value="Kilogram" required>
                    <label style="width: 100%" for="kilo">
                        <img style="width: 100%" src="{% static 'images/kilogram.jpg' %}" alt="first">
                    </label>
                </div>
                <div style="text-align: center; margin-bottom: 3rem; justify-content: center" style="margin-left: -3px" class="custom-control custom-radio custom-control-inline col-6 col-md-4 col-lg-3">
                    <input style="width: 100%" class="sr-only" type="radio" name="quantity_choice" id="half" value="Half Kilo" required>
                    <label style="width: 100%" for="half">
                        <img style="width: 100%" src="{% static 'images/half_kilo.jpg' %}" alt="first">
                    </label>
                </div>
                <div style="text-align: left; margin-bottom: 3rem; justify-content: flex-start" class="custom-control custom-radio custom-control-inline col-6 col-md-4 col-lg-3">
                    <input style="width: 100%" class="sr-only" type="radio" name="quantity_choice" id="quarter" value="Quarter Kilo" required>
                    <label style="width: 100%" for="quarter">
                        <img style="width: 100%" src="{% static 'images/quarter_kilo.jpg' %}" alt="first">
                    </label>
                </div>
            </div>
            <div class="row" style="justify-content: center;"><button class="btn " type="submit" name="button" style="width: 10rem; margin-bottom: 5rem">Next</button></div>

        </form>
    </div>
{% endblock %}