<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue Aug 31 2021 15:24:31 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6128d0584af1d454519c6368" data-wf-site="61214ba6c39298139819b580">
<head>
  <meta charset="utf-8">
  <title>Design Your Own Order</title>
  <meta content="Design Your Own Order" property="og:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="og:image">
  <meta content="Design Your Own Order" property="twitter:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="twitter:image">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/chocolateco.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="page-wrapper">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-hover="false" data-w-id="8c0c4230-03c8-6d2d-1aaf-dcff64127e81" role="banner" class="header w-nav">
      <div class="container-nav">
        <div class="header-left-side">
          <a href="index.html" data-hover="false" class="brand w-nav-brand"><img src="images/Chocolate-Co-logo.svg" width="130" data-hover="false" alt=""></a>
        </div>
        <div class="header-center-side">
          <nav role="navigation" data-hover="false" class="nav-menu w-nav-menu">
            <a href="index.html" data-hover="false" class="nav-link w-nav-link">Shop</a>
            <a href="customize-your-box.html" data-hover="false" aria-current="page" class="nav-link w-nav-link w--current">Design Your Own Order</a>
            <a href="about-us.html" data-hover="false" class="nav-link w-nav-link">About Us</a>
            <a href="about-us.html" data-hover="false" class="nav-link w-nav-link">Profile</a>
          </nav>
        </div>
        <div class="header-right-side">
          <a href="contact-us.html" class="profile w-inline-block"><img src="images/user.svg" width="25" data-hover="false" alt="" class="image-3"></a>
          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle"><img src="images/shopping-cart.svg" width="25" data-hover="false" alt="" class="image-4" style="max-width: none; width: 25px">
              <div class="div-block-2">
                <div class="text-block-2">1</div>
              </div>
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2">
                <div class="w-layout-grid mega-menu-grid">
                  <div>
                    <h4 class="mega-menu-title">Cart</h4>
                    <div class="menu-2-columns">
                      <div class="mega-menu-column-4"><img src="images/Chocolates_Wood_Bowl.jpg" loading="lazy" data-hover="false" alt="" class="image-6"></div>
                      <div class="mega-menu-column-2" style="text-align: right">
                        <h4 class="heading-5">Product Name</h4>
                        <h4 class="heading-6">10 KD</h4>
                      </div>
                    </div>
                    <div class="menu-2-columns">
                      <div class="mega-menu-column-4"><img src="images/Shelves_Silver_Bowl.jpg" loading="lazy" data-hover="false" alt="" class="image-6"></div>
                      <div class="mega-menu-column-2" style="text-align: right">
                        <h4 class="heading-5">Product Name</h4>
                        <h4 class="heading-6">5 KD</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <h4 class="mega-menu-title">Subtotal: KD 15<br></h4>
                <a href="#" class="button-checkout w-button">place order</a>
              </div>
            </nav>
          </div>
          <div class="menu-icon w-nav-button">
            <div class="menu-icon-top-line"></div>
            <div class="menu-icon-middle-line"></div>
            <div class="menu-icon-bottom-line"></div>
          </div>
        </div>
      </div>
    </div>
    <section class="section-full wf-section">
      <div class="form-wrapper w-form">
        <form id="email-form" name="email-form" data-name="Email Form" redirect="/success" data-redirect="/success" data-hover="false" class="container-1180px">
          <div data-animation="cross" data-hide-arrows="1" data-disable-swipe="1" data-duration="240" data-hover="false" class="slider w-slider">
            <div class="mask w-slider-mask">
              <div data-w-id="0f443d0a-2e50-0b15-cb49-6cc6e2061c1f" class="slide w-slide">
                <div class="slider-content-wrap">
                  <div class="form-content">
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="form-title-wrap">
                      <div class="form-section-title">Choose Chocolate Type</div>
                    </div>
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="checkbox_wrap"><label class="w-checkbox checkbox-field form12_checkbox_field"><input type="checkbox" id="Chocolate Name" name="Chocolate-Name" data-name="Chocolate Name" data-hover="false" data-w-id="b31920e2-3fa5-324e-54ef-8ec8f97e87d9" class="w-checkbox-input checkbox"><img src="images/pralines_paper.jpg" data-hover="false" alt="" class="checkbox-image"><span for="Chocolate Name-2" data-hover="false" class="checkbox-title w-form-label">Chocolate Type</span></label><label class="w-checkbox checkbox-field form12_checkbox_field"><input type="checkbox" id="Chocolate Name" name="Chocolate-Name" data-name="Chocolate Name" data-hover="false" data-w-id="0990c7d8-4a0c-1e65-8ed6-2b7432c37655" class="w-checkbox-input checkbox"><img src="images/bars_paper.jpg" data-hover="false" srcset="images/bars_paper-p-500.jpeg 500w, images/bars_paper-p-800.jpeg 800w, images/bars_paper.jpg 1080w" sizes="(max-width: 479px) 46vw, (max-width: 767px) 38vw, 278px" alt="" class="checkbox-image"><span for="Chocolate Name-2" data-hover="false" class="checkbox-title w-form-label">Chocolate Type</span></label></div>
                  </div>
                  <div style="opacity:0" class="details-right"><img src="https://uploads-ssl.webflow.com/6128d02a1143062566855877/6128d02b114306468185588c_1.svg" data-hover="false" alt="" class="counter-image">
                    <div class="text-counter">1 / 4</div>
                  </div>
                </div>
              </div>
              <div data-w-id="78572520-4d30-76e7-1837-bda03936fb50" class="slide w-slide">
                <div class="slider-content-wrap">
                  <div class="form-content">
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="form-title-wrap">
                      <div class="form-section-title">Choose Chocolate Type</div>
                    </div>
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="checkbox_wrap"><label class="w-checkbox checkbox-field form12_checkbox_field"><input type="checkbox" id="Chocolate Name" name="Chocolate-Name" data-name="Chocolate Name" data-hover="false" data-w-id="78572520-4d30-76e7-1837-bda03936fb58" class="w-checkbox-input checkbox"><img src="images/kilogram.jpg" data-hover="false" alt="" class="checkbox-image"><span for="Chocolate Name-2" data-hover="false" class="checkbox-title w-form-label">Chocolate Type</span></label><label class="w-checkbox checkbox-field form12_checkbox_field"><input type="checkbox" id="Chocolate Name" name="Chocolate-Name" data-name="Chocolate Name" data-hover="false" data-w-id="eec6cee0-c912-edfe-9ea2-ef7473ac1966" class="w-checkbox-input checkbox"><img src="images/half_kilo.jpg" data-hover="false" alt="" class="checkbox-image"><span for="Chocolate Name-2" data-hover="false" class="checkbox-title w-form-label">Chocolate Type</span></label><label class="w-checkbox checkbox-field form12_checkbox_field"><input type="checkbox" id="Chocolate Name" name="Chocolate-Name" data-name="Chocolate Name" data-hover="false" data-w-id="78572520-4d30-76e7-1837-bda03936fb5d" class="w-checkbox-input checkbox"><img src="images/quarter_kilo.jpg" data-hover="false" alt="" class="checkbox-image"><span for="Chocolate Name-2" data-hover="false" class="checkbox-title w-form-label">Chocolate Type</span></label></div>
                  </div>
                  <div style="opacity:0" class="details-right"><img src="images/2.svg" data-hover="false" alt="" class="counter-image">
                    <div class="text-counter">2 / 4</div>
                  </div>
                </div>
              </div>
              <div data-w-id="29139f87-1bcf-5083-093b-12b4da0be594" class="slide w-slide">
                <div class="slider-content-wrap">
                  <div class="form-content">
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="form-title-wrap">
                      <div class="form-section-title">Choose Chocolate Type</div>
                    </div>
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="checkbox_wrap"><label class="w-checkbox checkbox-field form12_checkbox_field"><input type="checkbox" id="Chocolate Name" name="Chocolate-Name" data-name="Chocolate Name" data-hover="false" data-w-id="29139f87-1bcf-5083-093b-12b4da0be59c" class="w-checkbox-input checkbox"><img src="images/first_box_paper.jpg" data-hover="false" srcset="images/first_box_paper-p-800.jpeg 800w, images/first_box_paper.jpg 1080w" sizes="(max-width: 479px) 46vw, (max-width: 767px) 38vw, (max-width: 1279px) 26vw, 278px" alt="" class="checkbox-image"><span for="Chocolate Name-2" data-hover="false" class="checkbox-title w-form-label">Chocolate Type</span></label><label class="w-checkbox checkbox-field form12_checkbox_field"><input type="checkbox" id="Chocolate Name" name="Chocolate-Name" data-name="Chocolate Name" data-hover="false" data-w-id="29139f87-1bcf-5083-093b-12b4da0be5a1" class="w-checkbox-input checkbox"><img src="images/second_box_paper.jpg" data-hover="false" srcset="images/second_box_paper-p-500.jpeg 500w, images/second_box_paper-p-800.jpeg 800w, images/second_box_paper.jpg 1080w" sizes="(max-width: 479px) 46vw, (max-width: 767px) 38vw, (max-width: 1279px) 26vw, 278px" alt="" class="checkbox-image"><span for="Chocolate Name-2" data-hover="false" class="checkbox-title w-form-label">Chocolate Type</span></label><label class="w-checkbox checkbox-field form12_checkbox_field"><input type="checkbox" id="Chocolate Name" name="Chocolate-Name" data-name="Chocolate Name" data-hover="false" data-w-id="29139f87-1bcf-5083-093b-12b4da0be5a6" class="w-checkbox-input checkbox"><img src="images/third_box_paper.jpg" data-hover="false" alt="" class="checkbox-image"><span for="Chocolate Name-2" data-hover="false" class="checkbox-title w-form-label">Chocolate Type</span></label></div>
                  </div>
                  <div style="opacity:0" class="details-right"><img src="https://uploads-ssl.webflow.com/6128d02a1143062566855877/6128d02b114306468185588c_1.svg" data-hover="false" alt="" class="counter-image">
                    <div class="text-counter">3 / 4</div>
                  </div>
                </div>
              </div>
              <div data-w-id="461cffe0-bf0a-6b68-9416-ab12f1fd55a9" class="slide w-slide">
                <div class="slider-content-wrap">
                  <div class="form-content">
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="form-title-wrap">
                      <div class="form-section-title">Choose Chocolate Type</div>
                    </div>
                    <div class="w-layout-grid grid-2">
                      <div class="product-2">
                        <div class="product-image-2"><img width="418" data-hover="false" src="images/Chocolate_Mix_Box.jpg" alt="" class="card-featured-image-2"></div>
                        <div class="product-details-2">
                          <div class="productname-customize">Chocolate Mix Box</div>
                          <div class="hack17-counter-row">
                            <div class="hack17-counter-button hack17-up"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow flip"></div><input type="text" class="hack17-counter-input w-input" maxlength="256" name="Hack16-Counter-Input" data-name="Hack 16 Counter Input" placeholder="0" id="Hack16-Counter-Input" required="">
                            <div class="hack17-counter-button hack17-down"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow"></div>
                          </div>
                        </div>
                      </div>
                      <div class="product-2">
                        <div class="product-image-2"><img width="418" data-hover="false" src="images/Chocolate_Open_Bars.jpg" alt="" class="card-featured-image-2"></div>
                        <div class="product-details-2">
                          <div class="productname-customize">Chocolate Mix Box</div>
                          <div class="hack17-counter-row">
                            <div class="hack17-counter-button hack17-up"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow flip"></div><input type="text" class="hack17-counter-input w-input" maxlength="256" name="Hack16-Counter-Input-11" data-name="Hack 16 Counter Input 11" placeholder="0" id="Hack16-Counter-Input-11" required="">
                            <div class="hack17-counter-button hack17-down"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow"></div>
                          </div>
                        </div>
                      </div>
                      <div class="product-2">
                        <div class="product-image-2"><img width="418" data-hover="false" src="images/Chocolate_Square_Tray.jpg" alt="" class="card-featured-image-2"></div>
                        <div class="product-details-2">
                          <div class="productname-customize">Chocolate Mix Box</div>
                          <div class="hack17-counter-row">
                            <div class="hack17-counter-button hack17-up"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow flip"></div><input type="text" class="hack17-counter-input w-input" maxlength="256" name="Hack16-Counter-Input-12" data-name="Hack 16 Counter Input 12" placeholder="0" id="Hack16-Counter-Input-12" required="">
                            <div class="hack17-counter-button hack17-down"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow"></div>
                          </div>
                        </div>
                      </div>
                      <div class="product-2">
                        <div class="product-image-2"><img width="418" data-hover="false" src="images/Chocolate_Mix_Metal.jpg" alt="" class="card-featured-image-2"></div>
                        <div class="product-details-2">
                          <div class="productname-customize">Chocolate Mix Box</div>
                          <div class="hack17-counter-row">
                            <div class="hack17-counter-button hack17-up"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow flip"></div><input type="text" class="hack17-counter-input w-input" maxlength="256" name="Hack16-Counter-Input-13" data-name="Hack 16 Counter Input 13" placeholder="0" id="Hack16-Counter-Input-13" required="">
                            <div class="hack17-counter-button hack17-down"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow"></div>
                          </div>
                        </div>
                      </div>
                      <div class="product-2">
                        <div class="product-image-2"><img width="418" data-hover="false" src="images/Chocolate_White_Bowl.jpg" alt="" class="card-featured-image-2"></div>
                        <div class="product-details-2">
                          <div class="productname-customize">Chocolate Mix Box</div>
                          <div class="hack17-counter-row">
                            <div class="hack17-counter-button hack17-up"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow flip"></div><input type="text" class="hack17-counter-input w-input" maxlength="256" name="Hack16-Counter-Input-14" data-name="Hack 16 Counter Input 14" placeholder="0" id="Hack16-Counter-Input-14" required="">
                            <div class="hack17-counter-button hack17-down"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow"></div>
                          </div>
                        </div>
                      </div>
                      <div class="product-2">
                        <div class="product-image-2"><img width="418" data-hover="false" src="images/Chocolate_Wood_Box.jpg" alt="" class="card-featured-image-2"></div>
                        <div class="product-details-2">
                          <div class="productname-customize">Chocolate Mix Box</div>
                          <div class="hack17-counter-row">
                            <div class="hack17-counter-button hack17-up"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow flip"></div><input type="text" class="hack17-counter-input w-input" maxlength="256" name="Hack16-Counter-Input-15" data-name="Hack 16 Counter Input 15" placeholder="0" id="Hack16-Counter-Input-15" required="">
                            <div class="hack17-counter-button hack17-down"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow"></div>
                          </div>
                        </div>
                      </div>
                      <div class="product-2">
                        <div class="product-image-2"><img width="418" data-hover="false" src="images/Chocolate_Wood_Tray.jpg" alt="" class="card-featured-image-2"></div>
                        <div class="product-details-2">
                          <div class="productname-customize">Chocolate Mix Box</div>
                          <div class="hack17-counter-row">
                            <div class="hack17-counter-button hack17-up"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow flip"></div><input type="text" class="hack17-counter-input w-input" maxlength="256" name="Hack16-Counter-Input-16" data-name="Hack 16 Counter Input 16" placeholder="0" id="Hack16-Counter-Input-16" required="">
                            <div class="hack17-counter-button hack17-down"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow"></div>
                          </div>
                        </div>
                      </div>
                      <div class="product-2">
                        <div class="product-image-2"><img width="418" data-hover="false" src="images/Chocolates_Mixture_Tray.jpg" alt="" class="card-featured-image-2"></div>
                        <div class="product-details-2">
                          <div class="productname-customize">Chocolate Mix Box</div>
                          <div class="hack17-counter-row">
                            <div class="hack17-counter-button hack17-up"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow flip"></div><input type="text" class="hack17-counter-input w-input" maxlength="256" name="Hack16-Counter-Input-17" data-name="Hack 16 Counter Input 17" placeholder="0" id="Hack16-Counter-Input-17" required="">
                            <div class="hack17-counter-button hack17-down"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow"></div>
                          </div>
                        </div>
                      </div>
                      <div class="product-2">
                        <div class="product-image-2"><img width="418" data-hover="false" src="images/Chocolate_Individual_Wrap.jpg" alt="" class="card-featured-image-2"></div>
                        <div class="product-details-2">
                          <div class="productname-customize">Chocolate Mix Box</div>
                          <div class="hack17-counter-row">
                            <div class="hack17-counter-button hack17-up"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow flip"></div><input type="text" class="hack17-counter-input w-input" maxlength="256" name="Hack16-Counter-Input-18" data-name="Hack 16 Counter Input 18" placeholder="0" id="Hack16-Counter-Input-18" required="">
                            <div class="hack17-counter-button hack17-down"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow"></div>
                          </div>
                        </div>
                      </div>
                      <div class="product-2">
                        <div class="product-image-2"><img width="418" data-hover="false" src="images/Chocolate_Silver_Bowl.jpg" alt="" class="card-featured-image-2"></div>
                        <div class="product-details-2">
                          <div class="productname-customize">Chocolate Mix Box</div>
                          <div class="hack17-counter-row">
                            <div class="hack17-counter-button hack17-up"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow flip"></div><input type="text" class="hack17-counter-input w-input" maxlength="256" name="Hack16-Counter-Input-19" data-name="Hack 16 Counter Input 19" placeholder="0" id="Hack16-Counter-Input-19" required="">
                            <div class="hack17-counter-button hack17-down"><img src="images/up-arro.svg" alt="" class="hack16-counter-arrow"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="opacity:0" class="details-right"><img src="images/6.svg" data-hover="false" alt="" class="counter-image">
                    <div class="text-counter">4 / 4</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="previous w-slider-arrow-left"><img src="https://uploads-ssl.webflow.com/6128d02a1143062566855877/6128d02b1143063373855887_arrow.svg" data-hover="false" alt="" class="arrow">
              <div class="previous-button">Previous</div>
            </div>
            <div class="next w-slider-arrow-right">
              <div class="button-primary-3 long">Next</div>
            </div>
          </div>
          <div class="mobile-nav-bottom"></div>
        </form>
        <div class="success-message-2 w-form-done">
          <div>Thanks! I have received your form submission, I&#x27;ll get back to you shortly!</div>
        </div>
        <div class="error-message-2 w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61214ba6c39298139819b580" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>