{% extends 'ar/base.html' %}
{% load static %}
{% block title %}{{ item.ar_title }}{% endblock %}

{% block styleFile %}

<link rel="stylesheet" href="{% static 'css/style-skin-food02.css' %}">
<link rel="stylesheet" href="{% static 'css/rtl.css' %}">

<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<style>
	#custom-product-item .slick-arrow {
		position: absolute;
		top: 50%;
		z-index: 2;
		cursor: pointer;
		font-size: 0;
		line-height: 0;
		background: none;
		border: none;
		width: 38px;
		height: 38px;
		background: #f7f8fa;
		color: #191919;
		font-weight: 500;
		border-radius: 50%;
		transition: all 0.2s linear;
		transform: translate(0%, -50%)
	}
	#custom-product-item{
		opacity: 0;
		transition: opacity 0.2s linear;
	}
	#custom-product-item.tt-show{
		opacity: 1;
	}

	#custom-product-item .slick-arrow:hover {
		background: #2879fe;
		color: #ffffff;
	}

	#custom-product-item .slick-arrow:before {
		font-family: "wokiee";
		font-size: 20px;
		line-height: 1;
	}
	#custom-product-item .slick-prev{
		left: 10px;
	}
	#custom-product-item .slick-prev:before {
		content: "\e90d";
	}
	#custom-product-item .slick-next {
		right: 10px;
	}
	#custom-product-item .slick-next:before {
		content: "\e90e";
	}
	#smallGallery .slick-arrow.slick-disabled,
	#custom-product-item .slick-arrow.slick-disabled{
		opacity: 0;
		pointer-events: none;
	}
</style>

{% endblock styleFile %}

{% block customStyle %}

<style>

    #loader-wrapper {
        display: none
    }

</style>


{% endblock customStyle %}


{% block content %}
{% csrf_token %}
<div id="tt-pageContent">
	<div class="container-indent">
		<!-- mobile product slider  -->
		<div class="tt-mobile-product-layout visible-xs">
			<div class="tt-mobile-product-slider arrow-location-center" id="zoom-mobile__slider">
				<div><img data-lazy="{{ item.picture.url }}" alt=""></div>
				{% if item.picture2 %}
					<div><img data-lazy="{{ item.picture2.url }}" alt=""></div>
				{% endif %}
				{% if item.picture3 %}
					<div><img data-lazy="{{ item.picture3.url }}" alt=""></div>
				{% endif %}
				
				
			</div>
		</div>
		<div class="container  container-fluid-mobile">
			<div class="row" style="justify-content: center;">
				<div class="col-5 hidden-xs">
					<div class="tt-product-single-img no-zoom">
						<div style="text-align: center; height: 350px">
							<img class="zoom-product" src='{{ item.picture.url }}' data-zoom-image="{{ item.picture.url }}" alt="" style="width: 350px;">
						</div>
					</div>
					{% if item.picture2 %}
						<div class="product-images-carousel">
							<ul id="smallGallery" class="arrow-location-02  slick-animated-show-js">
								<li><a class="zoomGalleryActive" href="#" data-image="{{ item.picture.url }}" data-zoom-image="{{ item.picture.url }}"><img src="{{ item.picture.url }}" alt="" /></a></li>
								{% if item.picture2 %}
									<li><a href="#" data-image="{{ item.picture2.url }}" data-zoom-image="{{ item.picture2.url }}"><img src="{{ item.picture2.url }}" alt="" /></a></li>
								{% endif %}
								{% if item.picture3 %}
									<li><a href="#" data-image="{{ item.picture3.url }}" data-zoom-image="{{ item.picture3.url }}"><img src="{{ item.picture3.url }}" alt="" /></a></li>
								{% endif %}
								
							</ul>
						</div>
					{% endif %}
				</div>
				<div class="col-6">
					<div class="tt-product-single-info" style="padding-left: 0">
						<h1 class="heading-6 m-top-575 item-title">{{ item.ar_title }}</h1>
						

						<div class="tt-wrapper heading-3 description-container" style="">
							{{ item.ar_description }}
						</div>
						
							
						<div class="tt-wrapper">
							<div class="row" style="align-items: center;">
								{% if item.has_choices %}
									<div class="col-12" style="margin-bottom: 20px">
									



										{% comment %} {% for choice in item.choices.all %}

											<label for="choice-{{ choice.id }}">
												<div style="display: flex; justify-content: right; align-items: center; margin-left: 10px;">
													<input type="radio" name="choice" value="{{ choice.id }}" id="choice-{{ choice.id }}" class="form-check-input" style="margin-left: 0; margin-top: 0; position: relative;" required>
													<p class="heading-4" style="margin: 0; margin-right: 15px; ">{{ choice.ar_choice }}</p>
												</div>
											</label>

										{% endfor %} {% endcomment %}
										{% if item.choice1 %}
											<label for="choice1">
												<div style="display: flex; justify-content: right; align-items: center; margin-left: 10px;">
													<input type="radio" name="choice" value="{{ item.ar_choice1 }}" id="choice1" class="form-check-input" style="margin-left: 0; margin-top: 0; position: relative;">
													<p class="heading-4" style="margin: 0; margin-right: 15px; ">{{ item.ar_choice1 }}</p>
												</div>
											</label>

											<label for="choice2">
												<div style="display: flex; justify-content: right; align-items: center; margin-left: 10px;">
													<input type="radio" name="choice" value="{{ item.ar_choice2 }}" id="choice2" class="form-check-input" style="margin-left: 0; margin-top: 0; position: relative;">
													<p class="heading-4" style="margin: 0; margin-right: 15px; ">{{ item.ar_choice2 }}</p>
												</div>
											</label>

											<label for="choice3">
												<div style="display: flex; justify-content: right; align-items: center; margin-left: 10px;">
													<input type="radio" name="choice" value="{{ item.ar_choice3 }}" id="choice3" class="form-check-input" style="margin-left: 0; margin-top: 0; position: relative;">
													<p class="heading-4" style="margin: 0; margin-right: 15px; ">{{ item.ar_choice3 }}</p>
												</div>
											</label>

											<label for="choice4">
												<div style="display: flex; justify-content: right; align-items: center; margin-left: 10px;">
													<input type="radio" name="choice" value="{{ item.ar_choice4 }}" id="choice4" class="form-check-input" style="margin-left: 0; margin-top: 0; position: relative;">
													<p class="heading-4" style="margin: 0; margin-right: 15px; ">{{ item.ar_choice4 }}</p>
												</div>
											</label>

											<label for="choice5">
												<div style="display: flex; justify-content: right; align-items: center; margin-left: 10px;">
													<input type="radio" name="choice" value="{{ item.ar_choice5 }}" id="choice5" class="form-check-input" style="margin-left: 0; margin-top: 0; position: relative;">
													<p class="heading-4" style="margin: 0; margin-right: 15px; ">{{ item.ar_choice5 }}</p>
												</div>
											</label>

											<label for="choice6">
												<div style="display: flex; justify-content: right; align-items: center; margin-left: 10px;">
													<input type="radio" name="choice" value="{{ item.ar_choice6 }}" id="choice6" class="form-check-input" style="margin-left: 0; margin-top: 0; position: relative;">
													<p class="heading-4" style="margin: 0; margin-right: 15px; ">{{ item.ar_choice6 }}</p>
												</div>
											</label>
										{% else %}

											{% for choice in item.choices.all|dictsort:"en_choice" %}
												<label for="choice-{{ choice.id }}">
													<div style="display: flex; justify-content: right; align-items: center; margin-left: 10px;">
														<input type="radio" name="choice" value="{{ choice.en_choice }}" id="choice-{{ choice.id }}" class="form-check-input" style="margin-left: 0; margin-top: 0; position: relative;" required>
														<p class="heading-4" style="margin: 0; margin-right: 15px; ">{{ choice.ar_choice }}</p>
													</div>
												</label>
											{% endfor %}

										{% endif %}
									</div>
								{% endif %}


								{% if item.has_flavors or item.has_colors %}
									<div class="row" style="margin-bottom: 33px">
										{% if item.has_flavors %}
											<div class="col-6">
												<h4 class="heading heading-4" style="padding-bottom: 0">أختر النكهة</h4>
												{% for flavor in item.flavors.all|dictsort:"index" %}
													<label for="flavor-{{ flavor.id }}">
														<div style="display: flex; justify-content: right; align-items: center; margin-right: 10px;">
															<input type="radio" name="flavor" value="{{ flavor.id }}" id="flavor-{{ flavor.id }}" class="form-check-input" style="margin-left: 0; margin-top: 0; position: relative;" required checked="on">
															<p class="heading-4" style="margin: 0; margin-right: 15px; ">{{ flavor.ar_name }}</p>
														</div>
													</label>
												{% endfor %}
											</div>
										{% endif %}
										{% if item.has_colors %}
											<div class="col-6">
												<h4 class="heading heading-4" style="padding-bottom: 0">أختر اللون</h4>
												{% for color in item.colors.all|dictsort:"index" %}
													<label for="color-{{ color.id }}">
														<div style="display: flex; justify-content: right; align-items: center; margin-right: 10px;">
															<input type="radio" name="color" value="{{ color.id }}" id="color-{{ color.id }}" class="form-check-input" style="margin-left: 0; margin-top: 0; position: relative;" required checked="on">
															<p class="heading-4" style="margin: 0; margin-right: 15px; ">{{ color.ar_name }}</p>
														</div>
													</label>
												{% endfor %}
											</div>
										{% endif %}
									</div>
								
								{% endif %}

								<div class="col-6">
									<div class="tt-input-counter style-01" style="display: flex; align-items: center">
										<div class="hack17-counter-button hack17-down" style="padding: 10px;"><img src="{% static 'images/up-arro.svg' %}" alt="" class="hack16-counter-arrow flip"></div>
										<input name="quantity" class="hack17-counter-input w-input quantity-sample-item-12 {% if item.quantity_type == "Weight" %}weight-quantity{% endif %}" type="text" value="{% if item.quantity_type == "Pieces" %}{{ item.pieces_minimum }}{% elif item.quantity_type == "Weight" %}{{ item.weight_minimum }} كجم{% endif %}" id="quantity-{{ item.id }}" readonly data-pieces-max="{{ item.pieces_maximum }}" data-pieces-min="{{ item.pieces_minimum }}" data-weight-max="{{ item.weight_maximum }}" data-weight-min="{{ item.weight_minimum }}" style="color: #a38a72; font-size: 18px" />
										<div class="hack17-counter-button hack17-up" style="padding: 10px;"><img src="{% static 'images/up-arro.svg' %}" alt="" class="hack16-counter-arrow"></div>
									</div>
								</div>
								<div class="tt-price" style="margin: 20px 0">
									<span class="new-price" id="price-{{ item.id }}">{{ item.get_min_price }} د.ك</span>
									<span class="old-price"></span>
								</div>
								<div class="col-12">
									<button class="btn btn-lg heading-4 {% if item.category.en_title == "Our finest Swiss chocolate " and not item.sub_category.en_title == "Luxury Swiss packet Bars" or item.category.en_title == "Our Belgium Chocolate" %}add-to-cart-button{% else %}add-to-cart{% endif %}" style="width: 100%; margin-bottom: 0; color: #fff;"><i class="icon-f-39"></i>أضف إلى السلة</button>
								</div>
								<h4 class="heading-4">وقت التوصيل: {{ item.delivery_date.ar_date }}</h4>
							</div>
						</div>
						<div class="tt-wrapper" style="display: flex; justify-content: space-between; margin-top: 75px;">
							<ul class="tt-list-btn fav-container">
								{% if item in request.user.profile.favorites.all %}
									
									<li><div  class="btn-link remove-favorite heading-4" style="cursor: pointer; font-size: 20px; display: flex; align-items: center;" ><i class="fas fa-heart" id="fav-icon" style="color: #dc3545; font-size: 22px; margin-left: 7px"></i>ازل من المفضلة</div></li>
								{% else %}
									{% if request.user.is_authenticated %}
										{% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}
											<li><a href="{% url 'login' %}" class="btn-link heading-4" style="cursor: pointer; font-size: 20px; display: flex; align-items: center;"><i id="fav-icon" class="icon-n-072" style="font-size: 22px;"></i>أضف الى المفضلة</a></li>
										{% else %}
											<li><div class="btn-link add-favorite heading-4" style="cursor: pointer; font-size: 20px; display: flex; align-items: center;"><i id="fav-icon" class="icon-n-072" style="font-size: 22px;"></i>أضف الى المفضلة</div></li>
										{% endif %}
									{% else %}
										<li><a href="{% url 'login' %}" class="btn-link heading-4" style="cursor: pointer; font-size: 20px; display: flex; align-items: center;"><i id="fav-icon" class="icon-n-072" style="font-size: 22px;"></i>أضف الى المفضلة</a></li>
									{% endif %}
								{% endif %}

							</ul>
							<ul class="tt-list-btn ">
								
								<li><div class="heading-3" style="font-size: 20px">نشر</div></li>
								<li><a href="whatsapp://send?text=https://www.chocolatecokw.com{% url 'ar-detail' item.id %}" data-action="share/whatsapp/share" class="btn-link" style="cursor: pointer" ><i class="fab fa-whatsapp" style="color: #25d366; font-size: 30px; margin-right: 7px;"></i></a></li>
								<li><a href="https://twitter.com/intent/tweet?text=https://www.chocolatecokw.com{% url 'ar-detail' item.id %}" target="_blank" class="btn-link" style="cursor: pointer" ><i class="fab fa-twitter" style="color: #2daae1; font-size: 30px; margin-right: 7px;"></i></a></li>
							

							</ul>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>



{% endblock content %}



{% block script %}


<script>


	$(document).ready(function(){
		$("body").on("click", ".max-modal div .ok", function(){
			console.log()
			$(".max-modal").remove()
		})



		$(".add-to-cart-button").on("click", function(){
			console.log("hiiii")
			{% if item.quantity_type == "Weight" %}
				if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.weight_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
					$("body").prepend('<div class="my-item-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px; top: 0">\
										<div style="width: 780px; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; max-height: 500px; overflow: auto;">\
											<h2 class="heading-3" style="font-size: 17px; line-height: 1.5">هذه هي العلب المتاحة لهذا المنتج</h2>\
											<div class="row" style="justify-content: center">\
												{% for package in packages %}\
													{% if package.subcategory == item.sub_category %}\
														{% if package.price == 0 %}\
															<label for="{{ package.id }}" class="col-sm-6 col-md-3 col-lg-3 col-6">\
																<div>\
																	<img style="border-radius: 10px;" src="{{ package.image.url }}" alt="">\
																	<h2 class="productname" style="padding: 0; font-size: 11px; line-height: 1.5">{{ package.ar_name }}</h2>\
																</div>\
															</label>\
														{% endif %}\
													{% endif %}\
												{% endfor %}\
											</div>\
											<button class="button-primary-3 w-button add-to-cart-{{ item.id }}">حسنا</button>\
										</div>\
									</div>')
				}else{
					$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px; top: 0">\
									<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
										<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">الحد الأقصى لهذا المنتج هو '+ {{ item.weight_maximum }} +' كجم</h2>\
										<button class="button-primary-3 w-button ok">OK</button>\
									</div>\
								</div>')
				}
			{% else %}
				if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.pieces_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
					$("body").prepend('<div class="my-item-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px; top: 0">\
						<div style="width: 780px; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; max-height: 500px; overflow: auto;">\
							<h2 class="heading-3" style="font-size: 17px; line-height: 1.7">هذه هي العلب المتاحة لهذا المنتج</h2>\
							<div class="row" style="justify-content: center">\
								{% for package in packages %}\
									{% if package.subcategory == item.sub_category %}\
										{% if package.price == 0 %}\
											<label for="{{ package.id }}" class="col-sm-6 col-md-3 col-lg-3 col-6">\
												<div>\
													<img style="border-radius: 10px;" src="{{ package.image.url }}" alt="">\
													<h2 class="productname" style="padding: 0; font-size: 11px; line-height: 1.5">{{ package.ar_name }}</h2>\
												</div>\
											</label>\
										{% endif %}\
									{% endif %}\
								{% endfor %}\
							</div>\
							<button class="button-primary-3 w-button add-to-cart-{{ item.id }}">حسنا</button>\
						</div>\
					</div>')
				}else{
					$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px; top: 0">\
									<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
										<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">الحد الأقصى لهذا المنتج هو '+ {{ item.pieces_maximum }} +' قطع</h2>\
										<button class="button-primary-3 w-button ok">OK</button>\
									</div>\
								</div>')
				}
			{% endif %}
	
		})


		$("body").on("click", ".my-item-modal div .item-modal-cancel", function() {
			console.log("hiiiiiii")
			$(".my-item-modal").remove()
		})


		$("body").on("click", ".my-item-modal div .add-to-cart-{{ item.id }}", function() {
				

			{% if item.quantity_type == "Weight" %}
				if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.pieces_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
					console.log(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
					console.log(parseFloat($("#quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
					let packaging = $("input[name=packaging]:checked").val()
					let choice = $("input[name=choice]:checked").val()
					let color = $("input[name=color]:checked").val()
					let flavor = $("input[name=flavor]:checked").val()

					console.log(packaging, "PACK")
					let csrfToken = $("input[name=csrfmiddlewaretoken]").val()
					var quantity = $("#quantity-{{ item.id }}").val()
					console.log(quantity, "QUANTITY")
					var serializedData = "csrfmiddlewaretoken="+ csrfToken + "&quantity="+ quantity.split(" ")[0];
					console.log(serializedData)
					var products = parseInt($(".items-quantity").text())
					
					let price = $("#price-{{ item.id }}").text()
					$.ajax({
						url: "{% url 'ajax-add' item.id %}",
						data: serializedData + "&packaging=" + packaging + "&choice=" + choice + "&color=" + color + "&flavor=" + flavor,
						type: 'post',
						success: function(response) {

							$(".my-item-modal").remove()
							console.log("IT IS WEIGHT")
							$("#quantity-{{ item.id }}").val(parseFloat({{ item.weight_minimum }}).toFixed(3) + " كجم")
							$("#price-{{ item.id }}").text("{{ item.get_min_price }} د.ك")
							
							
							let lst = []
							$(".cart-box-title").each(function(i, item) {
								lst.push(item.innerHTML)
							})
							if(lst.includes("{{ item.ar_title }}")){
								//pass
							}else{
								$(".items-quantity").text(products + 1)
								console.log(lst)
								console.log("{{ item.ar_title }}")
							}
							console.log(parseFloat(quantity) / 0.25)
							console.log(parseFloat(price))
							let totalPrice = parseFloat($(".cart-price").text()) + parseFloat(price)
							$(".cart-price").text(parseFloat(parseFloat($(".cart-price").text()) + parseFloat(price)).toFixed(3))
							
							
							$(".cart-icon-container").effect("bounce", "slow")
							if($(".cart-title-{{ item.id }}").text()){
								$(".cart-quantity-{{ item.id }}").text(parseFloat($(".cart-quantity-{{ item.id }}").text()) + parseFloat(quantity) + " كجم")
							}else{
								$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +'</span> {{ item.price }} د.ك</h4></div></div>')
								$('.cart-box-title').each(function(i, obj) {
									console.log("in")
									if($(this).html() !== undefined){
										console.log("hiiiiiii")
										if($(this).is(":contains('   ')")){
											console.log($(this).html())
											// obj.text(obj.text().replace("   ", "<br>"))
											var text = $(this).html().replace(/   /g, "<br>");
								
											$(this).html(text);
								
										}
									}else{
										console.log("hello")
									}
									
								});
							}
							
							
							
							if($(".empty-cart").text()){
								$(".empty-cart").remove()
								$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +'</span> {{ item.price }} د.ك</h4></div></div></div>')
								$("#cart-box-container").append('<h4 class="mega-menu-title" style="text-align: right;">المجموع: <span class="cart-price">'+ parseFloat(price).toFixed(3) +'</span> د.ك<br></h4><a style="color: #fff" {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "ar-checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal-button{% endif %}{% else %}visitor-modal-button{% endif %}">إتمام الطلب</a>')
								$("#cart-box-container").append('<div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url "ar-cart" %}">عرض السلة</a></div>')
								$('.cart-box-title').each(function(i, obj) {
									console.log("in")
									if($(this).html() !== undefined){
										console.log("hiiiiiii")
										if($(this).is(":contains('   ')")){
											console.log($(this).html())
											// obj.text(obj.text().replace("   ", "<br>"))
											var text = $(this).html().replace(/   /g, "<br>");
								
											$(this).html(text);
								
										}
									}else{
										console.log("hello")
									}
									
								});
							}else{
								console.log("he")
							}
						}
					})
					console.log(serializedData)
				}else{
					console.log(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
					console.log(parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]))
					console.log("No ou Can't ")
					
					$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px; top: 0">\
									<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
										<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">الحد الأقصى لهذا المنتج هو '+ {{ item.weight_maximum }} +' كجم</h2>\
										<button class="button-primary-3 w-button ok">OK</button>\
									</div>\
								</div>')

				}
			{% else %}
				if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.weight_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
					
					console.log(serializedData)
					let packaging = $("input[name=packaging]:checked").val()
					let choice = $("input[name=choice]:checked").val()
					let color = $("input[name=color]:checked").val()
					let flavor = $("input[name=flavor]:checked").val()
					var products = parseInt($(".items-quantity").text())
					let csrfToken = $("input[name=csrfmiddlewaretoken]").val()
					var quantity = $("#quantity-{{ item.id }}").val()
					let price = $("#price-{{ item.id }}").text()
					var serializedData = "csrfmiddlewaretoken="+ csrfToken + "&quantity="+ quantity.split(" ")[0];
					$.ajax({
						url: "{% url 'ajax-add' item.id %}",
						data: serializedData + "&packaging=" + packaging + "&choice=" + choice + "&color=" + color + "&flavor=" + flavor,
						type: 'post',
						success: function(response) {
							$(".my-item-modal").remove()
							{% if item.quantity_type == "Weight" %}
								console.log("IT IS WEIGHT")
								$("#quantity-{{ item.id }}").val({{ item.pieces_minimum }})
								$("#price-{{ item.id }}").text("{{ item.get_min_price }} د.ك")
								
								
								let lst = []
								$(".cart-box-title").each(function(i, item) {
									lst.push(item.innerHTML)
								})
								if(lst.includes("{{ item.ar_title }}")){
									//pass
								}else{
									$(".items-quantity").text(products + 1)
									console.log(lst)
									console.log("{{ item.ar_title }}")
								}
								console.log(parseFloat(quantity) / 0.25)
								console.log(parseFloat(price))
								let totalPrice =parseFloat($(".cart-price").text()) + parseFloat(price)
								$(".cart-price").text(parseFloat(parseFloat($(".cart-price").text()) + parseFloat(price)).toFixed(3))
							{% elif item.quantity_type == "Pieces" %}
								console.log("IT IS NOT")
								$("#quantity-{{ item.id }}").val({{ item.pieces_minimum }})
								let lst = []
								$(".cart-box-title").each(function(i, item) {
									lst.push(item.innerHTML)
								})
								if(lst.includes("{{ item.ar_title }}")){
									//pass
								}else{
									$(".items-quantity").text(products + 1)
									console.log(lst)
									console.log("{{ item.ar_title }}")
								}
								
								
								let totalPrice = parseFloat(quantity) * parseFloat(price)
								$(".cart-price").text(parseFloat(parseFloat($(".cart-price").text()) + parseFloat(price)).toFixed(3))

							{% endif %}
							
							$(".cart-icon-container").effect("bounce", "slow")
							if($(".cart-title-{{ item.id }}").text()){

								
								{% if item.quantity_type == "Pieces" %}
									$(".cart-quantity-{{ item.id }}").text(parseInt($(".cart-quantity-{{ item.id }}").text()) + parseInt(quantity) + " ")
								{% else %}
									$(".cart-quantity-{{ item.id }}").text(parseFloat($(".cart-quantity-{{ item.id }}").text()) + parseFloat(quantity) + " كجم")
								{% endif %}
							}else{
								{% if item.quantity_type == "Pieces" %}
									$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' </span> {{ item.price }} د.ك</h4></div></div>')
									$('.cart-box-title').each(function(i, obj) {
										console.log("in")
										if($(this).html() !== undefined){
											console.log("hiiiiiii")
											if($(this).is(":contains('   ')")){
												console.log($(this).html())
												// obj.text(obj.text().replace("   ", "<br>"))
												var text = $(this).html().replace(/   /g, "<br>");
									
												$(this).html(text);
									
											}
										}else{
											console.log("hello")
										}
										
									});
								{% else %}
								$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +'</span> {{ item.price }} د.ك</h4></div></div>')
								$('.cart-box-title').each(function(i, obj) {
									console.log("in")
									if($(this).html() !== undefined){
										console.log("hiiiiiii")
										if($(this).is(":contains('   ')")){
											console.log($(this).html())
											// obj.text(obj.text().replace("   ", "<br>"))
											var text = $(this).html().replace(/   /g, "<br>");
								
											$(this).html(text);
								
										}
									}else{
										console.log("hello")
									}
									
								});
								{% endif %}
							}
							
							
							
							if($(".empty-cart").text()){
								$(".empty-cart").remove()
								
								$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' </span> {{ item.price }} د.ك</h4></div></div></div>')
								$("#cart-box-container").append('<h4 class="mega-menu-title" style="text-align: right;">المجموع: <span class="cart-price">'+ totalPrice +'</span> د.ك<br></h4><a style="color: #fff" {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "ar-checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal-button{% endif %}{% else %}visitor-modal-button{% endif %}">إتمام الطلب</a>')
								$("#cart-box-container").append('<div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url "ar-cart" %}">عرض السلة</a></div>')
								$('.cart-box-title').each(function(i, obj) {
									console.log("in")
									if($(this).html() !== undefined){
										console.log("hiiiiiii")
										if($(this).is(":contains('   ')")){
											console.log($(this).html())
											// obj.text(obj.text().replace("   ", "<br>"))
											var text = $(this).html().replace(/   /g, "<br>");
								
											$(this).html(text);
								
										}
									}else{
										console.log("hello")
									}
									
								});
							}else{
								console.log("he")
							}
						}
					})
					console.log(serializedData)
				}else{
					$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px; top: 0">\
									<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
										<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">الحد الأقصى لهذا المنتج هو '+ {{ item.pieces_maximum }} +'</h2>\
										<button class="button-primary-3 w-button ok">OK</button>\
									</div>\
								</div>')
				}
				
			{% endif %}
			
		});


		$(".add-to-cart").on("click", function(){
			{% if item.quantity_type == "Weight" %}
				if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.pieces_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
					console.log(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
					console.log(parseFloat($("#quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
					let packaging = $("input[name=packaging]:checked").val()
					let choice = $("input[name=choice]:checked").val()
					let color = $("input[name=color]:checked").val()
					let flavor = $("input[name=flavor]:checked").val()
					console.log(packaging, "PACK")
					let csrfToken = $("input[name=csrfmiddlewaretoken]").val()
					var quantity = $("#quantity-{{ item.id }}").val()
					console.log(quantity, "QUANTITY")
					var serializedData = "csrfmiddlewaretoken="+ csrfToken + "&quantity="+ quantity.split(" ")[0];
					console.log(serializedData)
					var products = parseInt($(".items-quantity").text())
					
					let price = $("#price-{{ item.id }}").text()
					$.ajax({
						url: "{% url 'ajax-add' item.id %}",
						data: serializedData + "&packaging=" + packaging + "&choice=" + choice + "&color=" + color + "&flavor=" + flavor,
						type: 'post',
						success: function(response) {

							$(".my-item-modal").remove()
							console.log("IT IS WEIGHT")
							$("#quantity-{{ item.id }}").val(parseFloat({{ item.weight_minimum }}).toFixed(3) + " كجم")
							$("#price-{{ item.id }}").text("{{ item.get_min_price }} د.ك")
							
							
							let lst = []
							$(".cart-box-title").each(function(i, item) {
								lst.push(item.innerHTML)
							})
							if(lst.includes("{{ item.ar_title }}")){
								//pass
							}else{
								$(".items-quantity").text(products + 1)
								console.log(lst)
								console.log("{{ item.ar_title }}")
							}
							console.log(parseFloat(quantity) / 0.25)
							console.log(parseFloat(price))
							let totalPrice = parseFloat($(".cart-price").text()) + parseFloat(price)
							$(".cart-price").text(parseFloat(parseFloat($(".cart-price").text()) + parseFloat(price)).toFixed(3))
							
							
							$(".cart-icon-container").effect("bounce", "slow")
							if($(".cart-title-{{ item.id }}").text()){
								$(".cart-quantity-{{ item.id }}").text(parseFloat($(".cart-quantity-{{ item.id }}").text()) + parseFloat(quantity) + " كجم")
							}else{
								$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +'</span> {{ item.price }} د.ك</h4></div></div>')
								$('.cart-box-title').each(function(i, obj) {
									console.log("in")
									if($(this).html() !== undefined){
										console.log("hiiiiiii")
										if($(this).is(":contains('   ')")){
											console.log($(this).html())
											// obj.text(obj.text().replace("   ", "<br>"))
											var text = $(this).html().replace(/   /g, "<br>");
								
											$(this).html(text);
								
										}
									}else{
										console.log("hello")
									}
									
								});
							}
							
							
							
							if($(".empty-cart").text()){
								$(".empty-cart").remove()
								$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +'</span> {{ item.price }} د.ك</h4></div></div></div>')
								$("#cart-box-container").append('<h4 class="mega-menu-title" style="text-align: right;">المجموع: <span class="cart-price">'+ parseFloat(price).toFixed(3) +'</span> د.ك<br></h4><a style="color: #fff" {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "ar-checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal-button{% endif %}{% else %}visitor-modal-button{% endif %}">إتمام الطلب</a>')
								$("#cart-box-container").append('<div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url "ar-cart" %}">عرض السلة</a></div>')
								$('.cart-box-title').each(function(i, obj) {
									console.log("in")
									if($(this).html() !== undefined){
										console.log("hiiiiiii")
										if($(this).is(":contains('   ')")){
											console.log($(this).html())
											// obj.text(obj.text().replace("   ", "<br>"))
											var text = $(this).html().replace(/   /g, "<br>");
								
											$(this).html(text);
								
										}
									}else{
										console.log("hello")
									}
									
								});
							}else{
								console.log("he")
							}
						}
					})
					console.log(serializedData)
				}else{
					console.log(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
					console.log(parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]))
					console.log("No ou Can't ")
					
					$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px; top: 0">\
									<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
										<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">الحد الأقصى لهذا المنتج هو '+ {{ item.weight_maximum }} +' كجم</h2>\
										<button class="button-primary-3 w-button ok">OK</button>\
									</div>\
								</div>')

				}
			{% else %}
				if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.pieces_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
					
					console.log(serializedData)
					let packaging = $("input[name=packaging]:checked").val()
					let choice = $("input[name=choice]:checked").val()
					let color = $("input[name=color]:checked").val()
					let flavor = $("input[name=flavor]:checked").val()
					var products = parseInt($(".items-quantity").text())
					let csrfToken = $("input[name=csrfmiddlewaretoken]").val()
					var quantity = $("#quantity-{{ item.id }}").val()
					let price = $("#price-{{ item.id }}").text()
					var serializedData = "csrfmiddlewaretoken="+ csrfToken + "&quantity="+ quantity.split(" ")[0];
					$.ajax({
						url: "{% url 'ajax-add' item.id %}",
						data: serializedData + "&packaging=" + packaging + "&choice=" + choice + "&color=" + color + "&flavor=" + flavor,
						type: 'post',
						success: function(response) {
							$(".my-item-modal").remove()
							{% if item.quantity_type == "Weight" %}
								console.log("IT IS WEIGHT")
								$("#quantity-{{ item.id }}").val({{ item.pieces_minimum }})
								$("#price-{{ item.id }}").text("{{ item.get_min_price }} د.ك")
								
								
								let lst = []
								$(".cart-box-title").each(function(i, item) {
									lst.push(item.innerHTML)
								})
								if(lst.includes("{{ item.ar_title }}")){
									//pass
								}else{
									$(".items-quantity").text(products + 1)
									console.log(lst)
									console.log("{{ item.ar_title }}")
								}
								console.log(parseFloat(quantity) / 0.25)
								console.log(parseFloat(price))
								let totalPrice =parseFloat($(".cart-price").text()) + parseFloat(price)
								$(".cart-price").text(parseFloat(parseFloat($(".cart-price").text()) + parseFloat(price)).toFixed(3))
							{% elif item.quantity_type == "Pieces" %}
								console.log("IT IS NOT")
								$("#quantity-{{ item.id }}").val(1)
								let lst = []
								$(".cart-box-title").each(function(i, item) {
									lst.push(item.innerHTML)
								})
								if(lst.includes("{{ item.ar_title }}")){
									//pass
								}else{
									$(".items-quantity").text(products + 1)
									console.log(lst)
									console.log("{{ item.ar_title }}")
								}
								
								
								let totalPrice = parseFloat(quantity) * parseFloat(price)
								$(".cart-price").text(parseFloat(parseFloat($(".cart-price").text()) + parseFloat(price)).toFixed(3))

							{% endif %}
							
							$(".cart-icon-container").effect("bounce", "slow")
							if($(".cart-title-{{ item.id }}").text()){

								
								{% if item.quantity_type == "Pieces" %}
									$(".cart-quantity-{{ item.id }}").text(parseInt($(".cart-quantity-{{ item.id }}").text()) + parseInt(quantity) + " ")
								{% else %}
									$(".cart-quantity-{{ item.id }}").text(parseFloat($(".cart-quantity-{{ item.id }}").text()) + parseFloat(quantity) + " كجم")
								{% endif %}
							}else{
								{% if item.quantity_type == "Pieces" %}
									$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' </span> {{ item.price }} د.ك</h4></div></div>')
								{% else %}
								$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +'</span> {{ item.price }} د.ك</h4></div></div>')
								{% endif %}
								$('.cart-box-title').each(function(i, obj) {
									console.log("in")
									if($(this).html() !== undefined){
										console.log("hiiiiiii")
										if($(this).is(":contains('   ')")){
											console.log($(this).html())
											// obj.text(obj.text().replace("   ", "<br>"))
											var text = $(this).html().replace(/   /g, "<br>");
								
											$(this).html(text);
								
										}
									}else{
										console.log("hello")
									}
									
								});
							}
							
							
							
							if($(".empty-cart").text()){
								$(".empty-cart").remove()
								
								$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' </span> {{ item.price }} د.ك</h4></div></div></div>')
								$("#cart-box-container").append('<h4 class="mega-menu-title" style="text-align: right;">المجموع: <span class="cart-price">'+ totalPrice +'</span> د.ك<br></h4><a style="color: #fff" {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "ar-checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal-button{% endif %}{% else %}visitor-modal-button{% endif %}">إتمام الطلب</a>')
								$("#cart-box-container").append('<div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url "ar-cart" %}">عرض السلة</a></div>')
								$('.cart-box-title').each(function(i, obj) {
									console.log("in")
									if($(this).html() !== undefined){
										console.log("hiiiiiii")
										if($(this).is(":contains('   ')")){
											console.log($(this).html())
											// obj.text(obj.text().replace("   ", "<br>"))
											var text = $(this).html().replace(/   /g, "<br>");
								
											$(this).html(text);
								
										}
									}else{
										console.log("hello")
									}
									
								});
							}else{
								console.log("he")
							}
						}
					})
					console.log(serializedData)
				}else{
					$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px; top: 0">\
									<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
										<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">الحد الأقصى لهذا المنتج هو '+ {{ item.pieces_maximum }} +' قطع</h2>\
										<button class="button-primary-3 w-button ok">OK</button>\
									</div>\
								</div>')
				}
				
			{% endif %}
		})

	})

	$(".hack17-up").on("click", function(){
		
		var input = $(this).parent().find('input').not(".cart-quantity");
		let max = input.data("weight-max")

		if(input.hasClass("weight-quantity")){
            
            if(parseFloat(input.val().split(" ")) < parseFloat(max)){
                
                $(".new-price").text(parseFloat(parseFloat($(".new-price").text()) + parseFloat("{{ item.price }}")).toFixed(3) + " د.ك")
                
                
            }
            
        }else{
			{% if item.pieces_maximum %}
				if(parseInt(input.val()) < {{ item.pieces_maximum }} || NaN){
					$(".new-price").text(parseFloat(parseFloat($(".new-price").text()) + parseFloat("{{ item.price }}")).toFixed(3) + " د.ك")
				}
			{% else %}
				$(".new-price").text(parseFloat(parseFloat($(".new-price").text()) + parseFloat("{{ item.price }}")).toFixed(3) + " د.ك")
			{% endif %}	
		}	


	})

	$(".hack17-down").on("click", function(){
		if(parseFloat($(".new-price").text()) > parseFloat("{{ item.get_min_price }}")){
			$(".new-price").text(parseFloat(parseFloat($(".new-price").text()) - parseFloat("{{ item.price }}")).toFixed(3) + " د.ك")	
		}
		
	})

	if($(".description-container").html() !== undefined){
		if($(".description-container:contains('   ')")){
			console.log($(".description-container").html())
			// $(".description-container").text($(".description-container").text().replace("   ", "<br>"))
			var text = $(".description-container").html().replace(/   /g, "<br>");

			$(".description-container").html(text);

		}
	}


	if($(".item-title").html() !== undefined){
		if($(".item-title:contains('   ')")){
			console.log($(".item-title").html())
			// $(".item-title").text($(".item-title").text().replace("   ", "<br>"))
			var text = $(".item-title").html().replace(/   /g, "<br>");

			$(".item-title").html(text);

		}
	}


	

	var csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
	$(".fav-container").on("click", ".add-favorite", function() {
		console.log("add")

		let data = "csrfmiddlewaretoken="+ csrf
		$.ajax({
			url: "{% url 'add-favorite' item.id %}",
			data: data,
			type: "post",
			success: function() {
				console.log("hey")
				$(".fav-container").empty()
				$(".fav-container").append('<li><div class="btn-link remove-favorite heading-4" style="cursor: pointer; font-size: 20px; display: flex; align-items: center;"><i id="fav-icon" class="fas fa-heart" style="font-size: 22px; color: #dc3545; margin-left: 7px"></i>ازل من المفضلة</div></li>')

			}

		})
	})


	$(".fav-container").on("click", ".remove-favorite", function() {
		console.log("remove")
		let data = "csrfmiddlewaretoken="+ csrf
		$.ajax({
			url: "{% url 'remove-favorite' item.id %}",
			data: data,
			type: "post",
			success: function() {
				console.log("hey")
				$(".fav-container").empty()
				$(".fav-container").append('<li><div class="btn-link add-favorite heading-4" style="cursor: pointer; font-size: 20px; display: flex; align-items: center;"><i id="fav-icon" class="icon-n-072" style="font-size: 22px;"></i>أضف الى المفضلة</div></li>')


			}

		})
	})

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<script defer src="{% static 'js/single-product.js' %}"></script>


{% endblock script %}