{% extends 'ar/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

	{% if customized_ordered %}
		<div class="my-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1000; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">
		
			<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">
				<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">لقد تم اضافة طلبك بنجاح</h2>

				<button class="button-primary-3 w-button ok">حسنا</button>
			</div>
		
		</div>
	{% endif %}

	{% if not pop_up.disabled %}
		<div class="pop-up" style="width: 100%; height: 100%; position: fixed; z-index: 1000; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">
			
			<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; display: flex; flex-direction: column; align-items: center;">
				
				<img src="{{ pop_up.picture.url }}" alt="Pop Up Image" style="width: 600px; border-radius: 10px; margin-bottom: 15px;">

				<div style="display: flex; justify-content: space-evenly; width: 75%;">
					<button class="button-primary-3 w-button pop-up-cancel" style="width: 140px; margin-left: 30px">إلغاء</button>
					{% if pop_up.has_link %}
						<a href="{{ pop_up.ar_link }}" class="button-primary-3 w-button pop-up-ok" style="width: 140px">{{ pop_up.ar_text }}</a>
					{% endif %}
				</div>

			</div>
		
		</div>
	{% endif %}


	{% if checkout %}
		<div class="my-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1000; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">
		
			<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">
				<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">شكرا، تم استلام طلبك بنجاح</h2>

				<button class="button-primary-3 w-button ok">حسنا</button>
			</div>
		
		</div>
	{% endif %}


	{% if checkout_failed %}
		<div class="my-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1000; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">
		
			<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">
				<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">حدث خطأ, يرجى المحاولة مرة أخرى</h2>

				<button class="button-primary-3 w-button ok">حسنا</button>
			</div>
		
		</div>
	{% endif %}
	

	<div data-hover="false">
	
		<!-- Slideshow container -->
		<div class="slideshow-container" style="max-width: 100%; width: 100%">

			<!-- Full-width images with number and caption text -->
			<div class="mySlides fade" style="opacity: 1">
				<img src="{{ banner_image.image1.url }}" style="object-fit: contain; object-position: 100% 0; width: 100%; height: auto; margin-top: 92px">
			</div>
		
			<div class="mySlides fade" style="opacity: 1">
				<img src="{{ banner_image.image2.url }}" style="object-fit: contain; object-position: 100% 0; width: 100%; height: auto; margin-top: 92px">
			</div>

			<div class="mySlides fade" style="opacity: 1">
				<img src="{{ banner_image.image3.url }}" style="object-fit: contain; object-position: 100% 0; width: 100%; height: auto; margin-top: 92px">
			</div>
			
			<div class="mySlides fade" style="opacity: 1">
				<img src="{{ banner_image.image4.url }}" style="object-fit: contain; object-position: 100% 0; width: 100%; height: auto; margin-top: 92px">
			</div>

			<div class="mySlides fade" style="opacity: 1">
				<img src="{{ banner_image.image5.url }}" style="object-fit: contain; object-position: 100% 0; width: 100%; height: auto; margin-top: 92px">
			</div>
			
		</div>
		
		 <!-- The dots/circles -->
		{% comment %} <div style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
			<span class="dot" onclick="currentSlide(4)"></span>
			<span class="dot" onclick="currentSlide(5)"></span>

		</div> {% endcomment %}
	</div>

	<div class="section showrooms-text" style="background: #a38a72; color: #fff; text-align: center; padding-top: 10px; padding-bottom: 10px; line-height: 1.6">
		نستقبلكم يوميا من ٨ صباحا حتى ١٠ مساء.
	</div>
	
	<div id="results"></div>
    <section class="section wf-section" style="padding-top: 0; margin-top: -55px">
		
		<div class="container-1180px">
			<div class="latest-blog-post-wrapper categories-list">
				<div class="row grid-3">
					{% for category in categories %}
						
						{% if not category.hidden %}
							<div class="col-sm-4 col-md-4 col-lg-4 col-6" style="margin-bottom: 2.5rem;">
								<a href="{% if category.en_title == "Design Your Own Order" %}{% url 'ar_chocolate_type' %}{% else %}{% url 'ar-category-items' category.id %}{% endif %}" style="text-decoration: none">
									
									<img src="{{ category.image.url }}" alt="test image" style="border-radius: 15px; width: 100%; height: auto">
									<h2 class="heading-3" style="margin-top: 10px;">{{ category.ar_title }}</h2>
									
								</a>
							</div>
						{% endif %}
					
						
					

					{% endfor %}
					
				</div>
			</div>
		</div>
    </section>
    
{% endblock %}
{% block script %}
	<script>
	$(document).ready(function() {

		$(".slick-slider").slick()

		{% for item in items %}
			$(".add-to-cart-{{ item.slug }}").click(function() {
				var serializedData = $(".add-to-cart-form-{{ item.slug }}").serialize();
				console.log(serializedData)
				var products = parseInt($(".items-quantity").text())
				var sum = parseFloat($("#box-total").text())
				var quantity = $("#quantity-{{ item.slug }}").val()
				let price = $("#price-{{ item.slug }}").text()
				$.ajax({
					url: $(".add-to-cart-form-{{ item.slug }}").data('url'),
					data: serializedData,
					type: 'post',
					success: function(response) {
						$(".items-quantity").text(products + parseInt(quantity))
						$("#box-total").text(parseFloat(sum) + {{ item.price }} * parseInt(quantity))
						if($(".cart-title-{{ item.slug }}").text()){

							
							console.log($(".cart-quantity-{{ item.slug }}").text())
							console.log(quantity, "Quantity")
							$(".cart-quantity-{{ item.slug }}").text(parseInt($(".cart-quantity-{{ item.slug }}").text()) + parseInt(quantity) + " X")
							console.log($(".cart-quantity-{{ item.slug }}").text())
						}else{
							$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.slug }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div>')
						}
						$(".cart-price-{{ item.item.slug }}").text(parseFloat($(".cart-price-{{ item.item.slug }}").text()) + parseFloat(quantity) * parseFloat(price))
						console.log(quantity, "Quantity")
						console.log(price, "Price")
						console.log(parseInt(quantity) * parseInt(price), "Price")
						
						if($(".empty-cart").text()){
							let totalPrice = parseFloat(quantity) * parseFloat(price)
							$(".empty-cart").remove()
							$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.slug }}">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.slug }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div></div>')
							$("#cart-box-container").append('<h4 class="mega-menu-title">Subtotal: <span class="cart-price-{{ item.slug }}">'+ totalPrice +'</span> KD<br></h4><a {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal{% endif %}{% else %}visitor-modal{% endif %}">place order</a>')
						}else{
							console.log("he")
						}
					}
				})
				console.log(serializedData)
			});
		{% endfor %}

		$(".hack17-up").on("click", function(){
			let input = $(this).parent().find("input")
			input.val(parseInt(input.val()) + 1)
		})

		$(".hack17-down").on("click", function(){
			let input = $(this).parent().find("input")
			if(input.val() > 1){
				input.val(parseInt(input.val()) - 1)
			}
			
		})

		$(".close").on("click", function(){
			$(".container-fluid").remove()
		})


		$(".ok").on("click", function() {
			$(".my-modal").css("display", "none")
		})



		$(".pop-up-cancel").on("click", function() {
			$(".pop-up").css("display", "none")
		})
		

	});

	

	</script>
	
{% endblock %}

{% block footer_style %}margin-bottom: 100px{% endblock footer_style %}


