{% extends 'base.html' %}
{% load static %}



{% block content %}



<section class="section-full wf-section">
    <div class="container-1180px"
        style="text-align: center; display: flex; flex-direction: column; align-items: center;">

        <div class="form-section-title customized-box-title">Choose occasion</div>
        <div style="margin: 25px 0; ">
            {% for occasion in occasions %}
            <a href="{% url 'chocolate_type' occasion.id %}" style="text-decoration: none; color: #bda59b;">
                <div style="border: 1px solid; padding: .1rem 0; width: 14rem; margin: 10px 0; border-radius: 30px;">
                    {{ occasion.title }}
                </div>
            </a>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock content %}