<div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your cart</span>
    <span class="badge badge-secondary badge-pill items-count" style="background-color: #604d42; color: #fff">{{ order.items.count }}</span>
    </h4>
    <ul class="list-group mb-3 z-depth-1">
    {% for order_item in order.items.all %}
    <li class="list-group-item d-flex justify-content-between lh-condensed {% if not order_item.item.customized_box %}item-{{ order_item.item.slug }}{% else %}item-{{ order_item.slug }}{% endif %}" style="z-index: 1">
        <div>
        
        <h6 class="my-0 item-title"><span class="{% if order_item.item.customized_box %}{{ order_item.slug }}-main-quantity {% else %}{{ order_item.item.slug }}-main-quantity{% endif %}">{{ order_item.quantity }}</span> x {{ order_item.item.ar_title}}</h6>
        <small class="text-muted">{{ order_item.item.description}}</small>
        </div>
        <div><span class="text-muted {% if not order_item.item.title == "Customize your box" %}{{ order_item.item.slug }}-price{% else %}{{ order_item.slug }}-price{% endif %}" id="orderFinalPrice">{{ order_item.get_item_total }}</span><span>KD</span></div>  
        
        <div class="tt-input-counter style-01">
            {% csrf_token %}
            
            <p style="display: inline" {% if not order_item.item.customized_box %}data-url="{% url 'remove-check' order_item.item.slug %}"{% else %}data-url="{% url 'remove-box-check' order_item.slug %}"{% endif %} class="{% if order_item.item.customized_box %}remove-box-quantity-{{ order_item.slug }}{% else %}remove-check-quantity-{{ order_item.item.slug }}{% endif %}" ><span class="minus-btn"></span></p>
            <input readonly type="text" value="{{ order_item.quantity }}" class="{% if not order_item.item.customized_box %}{{ order_item.item.slug }}-quantity {% else %}{{ order_item.slug }}-quantity{% endif %}" name="{{ order_item.item.title }}-quantity" size="10">
            <p {% if not order_item.item.customized_box %}data-url="{% url 'add-check' order_item.item.slug %}"{% else %}data-url="{% url 'add-box-check' order_item.slug %}"{% endif %} class="{% if not order_item.item.customized_box %}add-check-quantity-{{ order_item.item.slug }}{% else %}add-box-quantity-{{ order_item.slug }} {% endif %}"><span class="plus-btn"></span></p>

        </div>
    </li>
    
    {% endfor %}
    {% if order.coupon %}
    <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
        <h6 class="my-0">Promo code</h6>
        <small>{{ order.coupon.code }}</small>
        </div>
        <span class="text-success">{{ order.coupon.amount }} KD</span>
    </li>
    {% endif %}
    <li class="list-group-item d-flex justify-content-between" style="z-index: 0">
        <span>Total</span>
        <strong><span class="order-total">{{ order.get_order_total }}</span> KD</strong>
    </li>
    </ul>



</div>