{% extends 'ar/base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block styleFile %}
    
    <link rel="stylesheet" href="{% static 'css/style-skin-food02.css' %}">
    <link rel="stylesheet" href="{% static 'css/rtl.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">



   
{% endblock styleFile %}

{% block customStyle %}

<style>
    
    .tt-input-counter.style-01 .mobile-minus:before, .tt-input-counter.style-01 .mobile-plus:before{
        line-height: 15px
    }



    #loader-wrapper {
        display: none
    }


    @media screen and (max-width: 789px){
        .hack17-counter-input{
            text-align: right;
        }
    }
    

</style>

{% endblock customStyle %}

{% block content %}


<div class="container-indent" style="margin-top: 10rem">
    
		<div class="container">
            {% csrf_token %}
            
            <h1 class="tt-title-subpages noborder heading-4" style="text-align: right">تفاصيل الطلب</h1>
            <div class="tt-shopcart-table-02" style="direction: rtl">
                
                <table>
                    <tbody>
                        {% for item in order.items.all %}

                            <tr class="{% if item.item.customized_box %}item-{{ item.id }}{% else %}item-{{ item.id }} {% endif %}">
                                <td>
                                    <a href="{% if not item.item.customized_box %}{% url 'ar-detail' item.item.id %}{% else %}{% url 'chocolate_type' %}{% endif %}">
                                        <div class="tt-product-img">
                                            <img src="{% if item.item.customized_box %}{{ item.tray.image.url }}{% else %}{{ item.item.picture.url }} {% endif %}" alt="">
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% if not item.item.customized_box %}{% url 'ar-detail' item.item.id %}{% else %}{% url 'chocolate_type' %}{% endif %}">
                                        <h2 class="heading-3 item-title" style="display: inline; font-size: 20px">
                                            {{ item.item.ar_title }} {% if item.item.has_flavors %} ( النكهة: {{ item.flavor.ar_name }} ) {% endif %} {% if item.item.has_colors %} ( اللون: {{ item.color.ar_name }} )  {% endif %}
                                        </h2>
                                    </a>
                                    {% comment %} {% if item.item.customized_box %}
                                        <div class="tooltip" style="opacity: 1"><i class="fas fa-info-circle"></i>
                                            <span class="tooltiptext">{{ item.chocolate_type }},<br />{{ item.quantity_choice }},<br />{% for i in item.box_items.all %}{% if i.quantity > 0 %} {{ i.quantity }} of {{ i.item.title }},<br />{% endif %}{% endfor %}</span>
                                        </div>
                                    {% endif %} {% endcomment %}
                                
                                    <ul class="tt-list-parameters">
                                        <li>
                                            <div class="heading-3" style="text-align: right">
                                                {{ item.price }} د.ك
                                            </div>
                                        </li>
                                        <li style="margin: 0">
                                            <div class="detach-quantity-mobile">

                                                <div class="hack17-counter-row mt-0"  style="width: 62%">
                                            
                                                    <input type="text" value="{% if item.quantity_type == "Pieces" %}{{ item.pieces_quantity }}{% else %}{{ item.weight_quantity }} كجم{% endif %}" size="10" name='quantity' class="hack17-counter-input w-input {{ item.id }}-quantity cart-quantity" id="quantity-{{ item.id }}" name="Hack16-Counter-Input-11" data-name="Hack 16 Counter Input 11" readonly style="background: transparent; padding: 0">
                                                </div>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="heading-3" style="text-align: right">
                                                <span class="{% if not item.item.customized_box %}{{ item.id }}-mobile-price {% else %}{{ item.id }}-mobile-price {% endif %}">{{ item.get_item_total }}</span> د.ك
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="heading-3">
                                        {{ item.price }} د.ك
                                    </div>
                                </td>
                                <td>
                                    <div class="detach-quantity-desctope">
                                        <div class="hack17-counter-row">
                                            
                                            <input type="text" value="{% if item.quantity_type == "Pieces" %}{{ item.pieces_quantity }}{% else %}{{ item.weight_quantity }} كجم{% endif %}" size="10" name='quantity' class="hack17-counter-input w-input {{ item.id }}-quantity cart-quantity" id="quantity-{{ item.id }}" name="Hack16-Counter-Input-11" data-name="Hack 16 Counter Input 11" readonly style="background: transparent; padding: 0">
                                        
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="subtotal heading-3">
                                        <span class="{% if not item.item.customized_box %}{{ item.id }}-price {% else %}{{ item.id }}-price {% endif %}">{{ item.get_item_total }}</span> د.ك
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>


                            {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <div class="tt-shopcart-col">
                <div class="row" style="direction: rtl;">
                    


                    {% comment %} <div class="col-lg-6">
                        <div class="tt-shopcart-box tt-boredr-large">
                            <table class="tt-shopcart-table01">
                                
                                <tfoot>
                                    <tr>

                                        
                                        <th class="heading-4" style="color: #a38a72; font-size: 20px">أضف كوبون</th>
                                    </tr>
                                </tfoot>
                            </table>
                            
                            <form class="coupon-form">
                                <div class="input-group coupon" style="height: 46px">
                                    {% csrf_token %}
                                    <input name="coupon" type="text" placeholder="رمز الكوبون" class="form-control" id="coupon" style="height: 46px" required> 
                                    <div class="input-group-append-rtl">
                                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">إضافة</button>
                                    </div>
                                   
                                
                                </div>
                                <div class="error-message w-form-fail" style="display: none;">
                                    <div class="error-message-text">Wrong Coupon Code.</div>
                                </div>
                            </form>
                        </div>
                    </div> {% endcomment %}
                    <div class="col-lg-12">
                        <div class="tt-shopcart-box tt-boredr-large">
                            <table class="tt-shopcart-table01">
                                
                                <tfoot>
                                    {% if order.order_type == "Delivery" %}


                                        {% if discount %}
                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">المجموع الفرعي</th>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>

                                                <td class="heading-4" style="color: #a38a72; text-align: left">{{ order.get_order_sub }} د.ك</td>
                                            </tr>

                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">خصم</th>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>

                                                <td class="heading-4" style="color: #a38a72; text-align: left">{{ discount.value }}%</td>
                                            </tr>
                                            
                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">المجموع الفرعي بعد الخصم</th>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>

                                                <td class="heading-4" style="color: #a38a72; text-align: left">{{ order.get_discount_sub }} د.ك</td>
                                            </tr>

                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">تكلفة التوصيل</th>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>

                                                <td class="heading-4" style="color: #a38a72; text-align: left">{{ delivery_charge }} د.ك</td>
                                            </tr>


                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">المجموع الكلي</th>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>

                                                <td class="heading-4" style="color: #a38a72; text-align: left">{{ order.get_discount_total }} د.ك</td>
                                            </tr>

                                        {% else %}

                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">المجموع الفرعي</th>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>

                                                <td class="heading-4" style="color: #a38a72; text-align: left">{{ order.get_order_sub }} د.ك</td>
                                            </tr>

                                           

                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">تكلفة التوصيل</th>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>

                                                <td class="heading-4" style="color: #a38a72; text-align: left">{{ delivery_charge }} د.ك</td>
                                            </tr>


                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">المجموع الكلي</th>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>

                                                <td class="heading-4" style="color: #a38a72; text-align: left">{{ order.get_order_total }} د.ك</td>
                                            </tr>

                                        {% endif %}
                                    
                                    {% elif discount %}

                                        <tr>
                                            <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">المجموع الفرعي</th>
                                            <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>
                                            <td class="heading-4" style="color: #a38a72; text-align: left">{{ order.get_order_sub }} د.ك</td>
                                        </tr>

                                        <tr>
                                            <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">خصم</th>
                                            <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>
                                            <td class="heading-4" style="color: #a38a72; text-align: left">{{ discount.value }}%</td>
                                        </tr>

                                        <tr>
                                            <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">المجموع الكلي</th>
                                            <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>
                                            <td class="heading-4" style="color: #a38a72; text-align: left">{{ order.get_discount_total }} د.ك</td>
                                        </tr>

                                    {% else %}

                                        <tr>
                                            <th class="heading-4" style="color: #a38a72; font-size: 20px; text-align: right;">المجموع الكلي</th>
                                            <td class="heading-4 with-coupon" style="color: #a38a72; display: none"></td>
                                            <td class="heading-4" style="color: #a38a72; text-align: left">{{ order.get_order_total }} د.ك</td>
                                        </tr>


                                    {% endif %}
                                </tfoot>
                            </table>
                            <a href="{% url 'ar-send-payment' %}" class="btn btn-lg heading-4" style="color: #fff"><span class="icon icon-check_circle"></span>إتمام الطلب</a>
                        </div>
                    </div>


                    
                </div>
            </div>
           
		</div>
	</div>
</div>

{% endblock %}


{% block script %}
<script>
    $(document).ready(function() {
        $(".coupon-form").on("submit", (event) => {
            event.preventDefault()
            let serializedData = $(".coupon-form").serialize();
            $.ajax({
            url: "{% url 'ar-submit-coupon' %}",
            type: "post",
            data: serializedData,
            success: function(response){
                if (response.status.code == 200){
                    $(".order-total").text(parseFloat(response.results.before).toFixed(3))
                    $(".order-total").parent().css("text-decoration", "line-through")

                    $(".cart-price").text(parseFloat(response.results.after).toFixed(3))
                    $(".with-coupon span").text(parseFloat(response.results.after).toFixed(3))
                    $(".with-coupon").css("display", "table-cell")


                    $(".error-message").css("display", "none")
                }else if(response.status.code !== 100){
                    console.log(response.status.code, 'STATUS CODE')
                    $(".error-message-text").text(response.results)
                    $(".error-message").css("display", "block")
                }else{
                    console.log("SHOULD BE 100")
                    console.log(response)
                    console.log(response.status.code)
                    console.log(response.results)
                    $(".page-wrapper").prepend('<div class="replace-coupon" style="width: 100%; height: 100%; position: fixed; display: flex; z-index: 1100; background-color: rgba(0,0,0,0.4); justify-content: center; align-items: center; padding: 50px; top: 0">\
                                                    <div style="background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; display: flex; flex-direction: column; height: auto; width: 400px; justify-content: space-evenly">\
                                                        <h4 class="heading-4">لديك بالفعل كوبون فعال بقيمة '+ response.results +'%</h4>\
                                                        <button class="button-primary-3 w-button replace" style="width: 100%; margin-bottom: 10px">إستبدال</button>\
                                                        <button class="button-primary-3 w-button ok" style="width: 100%">إلغاء</button>\
                                                    </form>\
                                                    </div>\
                                                </div>'
                    )
                }
                
            },
            error: function(xhr, status, error) {
              var err = eval("(" + xhr.responseText + ")");
              alert(err.Message);
            }
          })
        })



        $(".page-wrapper").on("click", ".replace-coupon div .ok", () => {
            console.log("CLICKED")
            $(".replace-coupon").remove()
        })


        $(".page-wrapper").on("click", ".replace-coupon div .replace", () => {
            let serializedData = $(".coupon-form").serialize();
            $.ajax({
            url: "{% url 'ar-replace-coupon' %}",
            type: "post",
            data: serializedData,
            success: function(response){
                if (response.status.code == 200){
                    $(".replace-coupon").remove()
                    $(".order-total").text(parseFloat(response.results).toFixed(3))
                    $(".cart-price").text(parseFloat(response.results).toFixed(3))
                    $(".error-message").css("display", "none")
                }
                
            },
            error: function(xhr, status, error) {
              var err = eval("(" + xhr.responseText + ")");
              alert(err.Message);
            }
          })
        })

        $('.item-title').each(function(i, obj) {
			console.log("in")
			if($(this).html() !== undefined){
				console.log("hiiiiiii")
				if($(this).is(":contains('   ')")){
					console.log($(this).html())
					// obj.text(obj.text().replace("   ", "<br>"))
					var text = $(this).html().replace(/   /g, "<br>");
		
					$(this).html(text);
		
				}
			}else{
				console.log("hello")
			}
			
		});
        
    });
</script>

{% endblock script %}
