{% extends 'ar/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
	
    <section class="section wf-section" style="margin-top: 5rem">
		
		<div class="container-1180px">
			<h3>سياسة الخصوصية</h3>
            <p>
                شكرًا لاختيارك أن تكون جزءًا من مجتمعنا في شركة Chocolateco.
                نحن ملتزمون بحماية معلوماتك الشخصية و
                حقك في الخصوصية. إذا كانت لديك أية أسئلة أو مخاوف بشأن إشعار الخصوصية هذا
                أو ممارساتنا فيما يتعلق بمعلوماتك الشخصية ، يرجى التواصل معنا على
                info@chocolatecokw.com. <br>


                يصف إشعار الخصوصية هذا كيف يمكننا استخدام معلوماتك إذا: <br>
                    - زرت موقعنا <br>
                    - شاركت معنا بطرق أخرى ذات صلة - بما في ذلك أي مبيعات أو تسويق أو أحداث<br>
                    الغرض من إشعار الخصوصية هذا هو ان نشرح لك بأوضح طريقة ممكنة
                    ما هي المعلومات التي نجمعها ، وكيف نستخدمها ، وما هي الحقوق التي لديك فيما يتعلق بها. <br>
                    إذا كانت هناك أية شروط في إشعار الخصوصية هذا لا توافق عليها ، برجاء
                    توقف عن استخدام خدماتنا على الفور<br>
            </p>
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>1. ما هي المعلومات التي نجمعها</h3>
            <p>
                باختصار: نحن نجمع المعلومات الشخصية التي تزودنا بها.
            </p>
            <p>
                نقوم بجمع المعلومات الشخصية التي تقدمها لنا طواعية عند التسجيل
                عبر الموقع الإلكتروني عن اهتمامك بالحصول على معلومات عنا أو عن منتجاتنا
                والخدمات ، عند مشاركتك في الأنشطة على الموقع الإلكتروني أو غير ذلك عندما
                اتصل بنا.
            </p>

            <p>
                تعتمد المعلومات الشخصية التي نجمعها على سياق تفاعلاتك
                معنا ومع الموقع الإلكتروني ، والاختيارات التي تقوم بها والمنتجات والميزات الخاصة بك
                استعمال. قد تتضمن المعلومات الشخصية التي نجمعها ما يلي:
            </p>

            <p>
                المعلومات الشخصية التي قدمتها. نقوم بجمع الأسماء ؛ أرقام الهواتف؛ البريد الإلكتروني
                عناوين؛ كلمات السر وغيرها من المعلومات المماثلة.
            </p>


            <p>
                بيانات الدفع. قد نجمع البيانات اللازمة لمعالجة مدفوعاتك إذا قمت بإجراء عمليات شراء ، مثل رقم وسيلة الدفع الخاصة بك (مثل رقم بطاقة الائتمان) ، ورمز الأمان المرتبط بأداة الدفع الخاصة بك.
            </p>


            
            <p>
                يجب أن تكون جميع المعلومات الشخصية التي تقدمها لنا صحيحة وكاملة ودقيقة ، ويجب عليك إخطارنا بأي تغييرات تطرأ على هذه المعلومات الشخصية.
            </p>
            
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>2. كيف نستخدم معلوماتك؟</h3>
      <p>
        نقوم بمعالجة معلوماتك لأغراض تستند إلى المصالح التجارية المشروعة ، والوفاء بعقدنا معك ، والامتثال لالتزاماتنا القانونية ، و / أو موافقتك. <br>
      </p>
      <p>
        نحن نستخدم المعلومات الشخصية التي تم جمعها عبر موقعنا الإلكتروني لمجموعة متنوعة من الأغراض التجارية الموضحة أدناه. نقوم بمعالجة معلوماتك الشخصية لهذه الأغراض اعتمادًا على مصالحنا التجارية المشروعة ، من أجل إبرام عقد معك أو تنفيذه ، بموافقتك ، و / أو الامتثال لالتزاماتنا القانونية. نشير إلى أسباب المعالجة المحددة التي نعتمد عليها بجانب كل غرض مدرج أدناه.
      </p>

      <h4>
        نستخدم المعلومات التي نجمعها أو نتلقاها:
      </h4>

      <p>لتسهيل إنشاء الحساب وعملية تسجيل الدخول.</p>
      

      <p>طلب ملاحظات.</p>

      <p>لإدارة حسابات المستخدمين.</p>


      
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>3. كيف نحافظ على أمان معلوماتك؟</h3>
      <p>
        باختصار: نحن نهدف إلى حماية معلوماتك الشخصية من خلال نظام من التدابير الأمنية التنظيمية والفنية.
      </p>

      <p>
        لقد قمنا بتنفيذ تدابير أمنية تقنية وتنظيمية مناسبة مصممة لحماية أمن أي معلومات شخصية نقوم بمعالجتها. ومع ذلك ، على الرغم من الضمانات والجهود التي نبذلها لتأمين معلوماتك ، لا يمكن ضمان أن يكون النقل الإلكتروني عبر الإنترنت أو تقنية تخزين المعلومات آمنًا بنسبة 100٪ ، لذلك لا يمكننا أن نعد أو نضمن أن المتسللين أو مجرمي الإنترنت أو غيرهم من الأطراف الثالثة غير المصرح لهم لن يكونوا قادرًا على هزيمة أمننا وجمع معلوماتك أو الوصول إليها أو سرقتها أو تعديلها بشكل غير صحيح. على الرغم من أننا سنبذل قصارى جهدنا لحماية معلوماتك الشخصية ، ونقل المعلومات الشخصية من وإلى موقعنا
      </p>

            
		</div>
    </section>



    <section class="section wf-section" style="padding-top: 0">
		<div class="container-1180px">
			<h3>4. كيف يمكنك مراجعة أو تحديث أو حذف البيانات التي نجمعها منك؟</h3>
      <p>
        استنادًا إلى القوانين المعمول بها في بلدك ، قد يكون لك الحق في طلب الوصول إلى المعلومات الشخصية التي نجمعها منك أو تغيير تلك المعلومات أو حذفها في بعض الظروف. لطلب مراجعة معلوماتك الشخصية أو تحديثها أو حذفها ، يرجى استخدام نموذج "اتصل بنا" في صفحة "نبذة عنا"
      </p>
		</div>
    </section>


    
{% endblock %}
