{% extends 'ar/base.html' %}
{% load static %}

{% block title %}Search Results{% endblock %}

{% block content %}

	

	
	
	
    <section class="section wf-section">
        <div class="container-1180px">
			{% if results > 0 %}
            	<h3 style="color:#a38a72; margin-top: 5rem;">{{ results }} نتيجة</h3>
			{% else %}
				<h3 style="color:#a38a72; margin-top: 5rem; font-size: 28px">لا يوجد نتائج لكلمة البحث</h3>
			{% endif %}
        </div>
		<div class="container-1180px">
			<div class="latest-blog-post-wrapper">
				<div class="w-layout-grid grid-2">
					{% for item in items %}
					<div class="product-2" style="height: 100%">
						<div class="product-image-2" style="position: relative;">
							{% if item.sold_out or item.coming_soon or item.not_available %}
								<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available or item.coming_soon %} style="filter: brightness(0.6);" {% endif %}>
							{% else %}
								{% if item.sold_out %}
									<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available or item.coming_soon %} style="filter: brightness(0.6);" {% endif %}>
								{% else %}
									<a href="{% url 'ar-detail' item.id %}">
					
										<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available or item.coming_soon %} style="filter: brightness(0.6);" {% endif %}>
									</a>
								{% endif %}
							{% endif %}
							<div class="{% if item in request.user.profile.favorites.all %} remove-favorite-{{ item.id }} {% else %} add-favorite-{{ item.id }} {% endif %}" data-url="{% if item in request.user.profile.favorites.all %} {% url 'remove-favorite' item.id %} {% else %} {% url 'add-favorite' item.id %} {% endif %}" style="cursor: pointer"><i class="fas fa-heart" id="favorite-{{ item.id }}" style="position: absolute; top: 5px; left: 5px; padding: 10px; border-radius: 50%; background: #fff; {% if item in request.user.profile.favorites.all %} color: #dc3545; {% else %} color: #78798f; {% endif %}"></i></div>
						</div>
						<div class="product-details-2">
							{% if item.sold_out %}
								<h3 style="color: red">نفذت الكمية</h3>
							{% elif item.not_available %}
								<h3 style="color: red">غير متاح</h3>
							{% elif item.coming_soon %}
								<h3 style="color: red">قريبا</h3>
							{% endif %}
							{% if item.coming_soon %}
								<div class="productname item-title" style="font-size: 23px">{{ item.ar_title }}</div>
							{% else %}
								<a href="{% url 'ar-detail' item.id %}">
									<div class="productname item-title">{{ item.ar_title }}</div>
								</a>
							{% endif %}
							{% if category.has_dimensions %}
								<div style="margin-top: 15px">
									{% if item.width %}
										<div class="productname" style="margin:0; font-size: 10px;">العرض: {{ item.width }} سم</div>
									{% endif %}
									{% if item.height %}
										<div class="productname" style="margin:0; font-size: 10px;">الارتفاع: {{ item.height }} سم</div>
									{% endif %}
									{% if item.length %}
										<div class="productname" style="margin:0; font-size: 10px;">الطول: {{ item.length }} سم</div>
									{% endif %}
								</div>
							{% endif %}
							{% if item.has_choices %}
								<a href="{% url 'ar-detail' item.id %}" class="button-primary-3 w-button" style="margin-top: 24px">أختر {{ sub.singular }}</a>
							{% else %}
								{% if not item.coming_soon %}
									<a href="{% url 'ar-detail' item.id %}" class="button-primary-3 w-button" style="margin-top: 24px">تفاصيل المنتج</a>
								{% endif %}	
							{% endif %}
					
						</div>
					</div>
					{% endfor %}
					
				</div>
			</div>
		</div>
    </section>
    
{% endblock %}
{% block script %}
<script>
	$(document).ready(function() {
		var csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
		{% for item in items %}
			$(".add-to-cart-{{ item.id }}").click(function() {
				
				var serializedData = $(".add-to-cart-form-{{ item.id }}").serialize();
				console.log(serializedData)
				var products = parseInt($(".items-quantity").text())
				var quantity = $("#quantity-{{ item.id }}").val()
				let price = $("#price-{{ item.id }}").text()
				$.ajax({
					url: $(".add-to-cart-form-{{ item.id }}").data('url'),
					data: serializedData,
					type: 'post',
					success: function(response) {
						{% if item.quantity_type == "Weight" %}
							console.log("IT IS WEIGHT")
							$("#quantity-{{ item.id }}").val(0.25 + " كجم")
							
							
							let lst = []
							$(".cart-box-title").each(function(i, item) {
								lst.push(item.innerHTML)
							})
							if(lst.includes("{{ item.ar_title }}")){
								//pass
							}else{
								$(".items-quantity").text(products + 1)
								console.log(lst)
								console.log("{{ item.ar_title }}")
							}
							console.log(parseFloat(quantity) / 0.25)
							console.log(parseFloat(price))
							let totalPrice =parseFloat($(".cart-price").text()) + parseFloat(price)
							$(".cart-price").text(parseFloat($(".cart-price").text()) + parseFloat(price))
						{% elif item.quantity_type == "Pieces" %}
							console.log("IT IS NOT")
							$("#quantity-{{ item.id }}").val(1)
							let lst = []
							$(".cart-box-title").each(function(i, item) {
								lst.push(item.innerHTML)
							})
							if(lst.includes("{{ item.ar_title }}")){
								//pass
							}else{
								$(".items-quantity").text(products + 1)
								console.log(lst)
								console.log("{{ item.ar_title }}")
							}
							
							
							let totalPrice = parseFloat(quantity) * parseFloat(price)
							$(".cart-price").text(parseFloat($(".cart-price").text()) + parseFloat(quantity) * parseFloat(price))

						{% endif %}
						
						$(".cart-icon-container").effect("bounce", "slow")
						if($(".cart-title-{{ item.id }}").text()){

							
							{% if item.quantity_type == "Pieces" %}
								$(".cart-quantity-{{ item.id }}").text(parseInt($(".cart-quantity-{{ item.id }}").text()) + parseInt(quantity) + " X")
							{% else %}
								$(".cart-quantity-{{ item.id }}").text(parseFloat($(".cart-quantity-{{ item.id }}").text()) + parseFloat(quantity) + " كجم X")
							{% endif %}
						}else{
							$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} د.ك</h4></div></div>')
						}
						
						
						
						if($(".empty-cart").text()){
							$(".empty-cart").remove()
							$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2" style="text-align: right"><h4 class="heading-5 cart-title-{{ item.id }}">{{ item.ar_title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} د.ك</h4></div></div></div>')
							$("#cart-box-container").append('<h4 class="mega-menu-title">Subtotal: <span class="cart-price">'+ totalPrice +'</span> د.ك<br></h4><a {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal{% endif %}{% else %}visitor-modal{% endif %}">place order</a>')
							$("#cart-box-container").append('<div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url "cart" %}">View Cart</a></div>')
						}else{
							console.log("he")
						}
					}
				})
				console.log(serializedData)
			});
			$(".product-image-2").on("click", ".add-favorite-{{  item.id }}", function() {
				let clickedFav = $(this)
				console.log(clickedFav)
				let data = "csrfmiddlewaretoken="+ csrf
				$.ajax({
					url: "{% url 'add-favorite' item.id %}",
					data: data,
					type: "post",
					success: function() {
						console.log("hey")
						$("#favorite-{{ item.id }}").css("color", "#dc3545")
						$(".add-favorite-{{ item.id }}").attr("class", "remove-favorite-{{ item.id }}")

					}

				})
			})

			$(".product-image-2").on("click", ".remove-favorite-{{ item.id }}", function() {
				let data = "csrfmiddlewaretoken="+ csrf
				$.ajax({
					url: "{% url 'remove-favorite' item.id %}",
					data: data,
					type: "post",
					success: function() {
						console.log("hey")
						$("#favorite-{{ item.id }}").css("color", "#78798f")
						$(".remove-favorite-{{ item.id }}").attr("class", "add-favorite-{{ item.id }}")
					}

				})
			})
		{% endfor %}


		$(".close").on("click", function(){
			$(".container-fluid").remove()
		})

		if($(".item-title").html() !== undefined){
			if($(".item-title:contains('   ')")){
				console.log($(".item-title").html())
				// $(".item-title").text($(".item-title").text().replace("   ", "<br>"))
				var text = $(".item-title").html().replace(/   /g, "<br>");
	
				$(".item-title").html(text);
	
			}
		}

	});

	

</script>
	
{% endblock %}

{% block footer_style %}margin-bottom: 100px{% endblock footer_style %}