<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Done</title>
</head>
<body>
    

    <script>
        var wsStart = "ws://"
        if(location.protocol == "https:"){
            wsStart  = "wss://"
        }
        var endpoint = wsStart + location.host + "/dashboard/orders/"

        var socket = new WebSocket(endpoint)

        socket.onopen = function(e){
        console.log("open", e)
        
        socket.send("{{ request.user }}")
        }
        socket.onmessage = function(e){
        var data = JSON.parse(e.data)
        console.log(data.status)
        document.location.href = '/'
        }
        socket.onerror = function(e){
        console.log("error", e)
        }
        socket.onclose = function(e){
        console.log("close", e)
        }
    </script>
</body>
</html>