{% extends 'ar/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
	
    <section class="section wf-section" style="margin-top: 5rem">
		
		<div class="container-1180px">
			<h3>1. المقدمة</h3>
            <p>
              مرحبًا بكم في chocolatecokw.com. هذه هي الشروط والأحكام التي تحكم وصولك إلى موقع chocolatecokw.com واستخدامه والمواقع والخدمات والأدوات ذات الصلة ("الموقع"). من خلال قبول هذه الشروط والأحكام ، وباستخدام الموقع ، فإنك تقر بأنك توافق على الامتثال لهذه الشروط والأحكام مع chocolatecokw.com ("نحن" ، أو "نحن" ، أو "chocolatecokw.com") فيما يتعلق باستخدامك الموقع ("اتفاقية المستخدم"). اتفاقية المستخدم هذه سارية المفعول عند القبول. إذا كنت لا توافق على الالتزام باتفاقية المستخدم هذه ، فيرجى عدم الوصول إلى هذا الموقع أو التسجيل فيه أو استخدامه.

              قبل أن تصبح أو تستمر كعضو في الموقع ، يجب عليك قراءة اتفاقية المستخدم هذه والموافقة عليها وقبولها وسياسة الخصوصية الخاصة بـ chocolatecokw.com ("سياسة الخصوصية"). يجب عليك قراءة اتفاقية المستخدم هذه وسياسة الخصوصية والوصول وقراءة جميع المعلومات المرتبطة الأخرى المشار إليها في اتفاقية المستخدم هذه ، حيث تحتوي هذه المعلومات على شروط وأحكام أخرى تنطبق عليك كمستخدم لـ chocolatecokw.com.   
            </p>
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>2. حسابك والتزامات التسجيل</h3>
            <p>
              عندما تقوم بالتسجيل كعضو في الموقع ، فقد طُلب منك أو سيُطلب منك تقديم معلومات معينة وتسجيل اسم مستخدم وكلمة مرور لاستخدامهما على هذا الموقع. ويكون حسابك غير نشط بعد فتره 12 اشهر من عدم الدخول للحساب.
            </p>
                <h4>عندما تصبح عضوًا في الموقع ، فإنك توافق على:</h4>

                <p>
                    أنت مسؤول عن الحفاظ على سرية حسابك وكلمة مرورك وتقييد الوصول إليهما واستخدامهما ، وتقبل المسؤولية عن جميع الأنشطة التي تحدث تحت حسابك وكلمة المرور. أنت توافق على إخطار chocolatecokw.com على الفور بأي استخدام غير مصرح به لكلمة المرور أو حسابك أو أي خرق آخر للأمن. لن يكون chocolatecokw.com بأي حال من الأحوال مسؤولاً عن أي خسارة مباشرة أو غير مباشرة أو تبعية أو خسارة في الأرباح أو حسن النية أو ضرر من أي نوع ينتج عن الكشف عن اسم المستخدم و / أو كلمة المرور الخاصة بك. لا يجوز لك استخدام حساب شخص آخر في أي وقت ، دون إذن صريح من صاحب الحساب. أنت توافق على تعويض chocolatecokw.com عن أي استخدام غير لائق أو غير مصرح به أو غير قانوني لحسابك من قبلك أو من قبل أي شخص لديه حق الوصول إلى الموقع أو الخدمات أو بطريقة أخرى باستخدام اسم المستخدم وكلمة المرور المخصصين لك ، سواء سمحت بهذا الوصول أم لا

سوف تقدم معلومات صحيحة ودقيقة وحديثة وكاملة عن نفسك كما هو مطلوب من خلال نموذج التسجيل الخاص بـ chocolatecokw.com ("بيانات التسجيل").

لن تقوم بتضمين: كلمة "Chocolateco" في معرف مستخدم التسجيل الخاص بك. ستحتفظ ببيانات التسجيل وتقوم بتحديثها على الفور لإبقائها صحيحة ودقيقة وحديثة وكاملة. إذا قدمت أي معلومات غير صحيحة أو غير دقيقة أو غير حديثة أو غير كاملة أو إذا كان لدى chocolatecokw.com أسباب معقولة للاشتباه في أن هذه المعلومات غير صحيحة أو غير دقيقة أو غير حديثة أو غير كاملة أو لا تتوافق مع اتفاقية المستخدم هذه ، دون الإخلال بـ أي حقوق وتعويضات أخرى لـ chocolatecokw.com بموجب اتفاقية المستخدم هذه أو بموجب القانون ، يحق لـ chocolatecokw.com تعليق أو تقييد أو سحب وصولك إلى الموقع و / أو عضويتك في الموقع إلى أجل غير مسمى. نحتفظ أيضًا بالحق في إلغاء الحسابات غير المؤكدة / غير المؤكدة أو الحسابات التي كانت غير نشطة لفترة طويلة
                </p>
            
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>3. استخدام الموقع</h3>
            <p>
              من خلال قبول الشروط ، فإنك تؤكد أن جميع المعلومات والتفاصيل التي قدمتها لنا (بما في ذلك التسجيل) صحيحة ودقيقة ومحدثة من جميع النواحي وفي جميع الأوقات.
            </p>
                <h4>أنت توافق على أنه عند استخدامك للموقع لن:</h4>

                <p>1.  استخدم موقع الويب بأي طريقة تتسبب أو من المحتمل أن تتسبب في مقاطعة الموقع أو الوصول إليه أو إتلافه أو إضعافه بأي شكل من الأشكال.</p>

                <p>2. استخدام موقع الويب للقيام بنشاط إجرامي أو احتيالي أو غير قانوني أو بأي طريقة من شأنها أن تسبب ضررًا أو محنة لأي طرف ثالث.</p>

                <p> نحتفظ بالحق في تعليق أو تقييد أو إنهاء وصولك إلى الموقع في أي وقت دون سابق إنذار إذا كانت لدينا أسباب معقولة للاعتقاد بأنك انتهكت أيًا من هذه القيود أو إذا اشتبهنا في نشاط أو سلوك احتيالي في الحساب. لن يحد هذا من حقنا في اتخاذ أي إجراء آخر نراه مناسبًا ضدك.</p>
            
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>4. شروط الطلب وشروط التسليم والإرجاع</h3>
            <p>
                توضح المعلومات التالية رسوم التوصيل وتفاصيل التسليم المقدرة.

                <h4>عمل طلب</h4>
                عند تقديم طلب عبر موقعنا على الإنترنت. www.chocolatecokw.com ، ستتلقى بريدًا إلكترونيًا منا لتأكيد إجراء الطلب. سيحتوي هذا البريد على رقم الطلب ، إلى جانب التفاصيل الأخرى المتعلقة بطلبك

في حالة وجود معلومات مفقودة / غير مكتملة ، سيتصل بك عضو فريق خدمة العملاء لدينا لاستكمال المعلومات.
                
                <h4>التوصيل داخل دولة الكويت</h4>
                تكلفة الشحن 3 د.ك. لجميع مناطق التوصيل المحددة ، لأي طلبات حسب الحد الأدنى لقيمة الطلب. وهذه التكلفه متغيره بما لا يعارض لوائح وزاره التجاره. 

                يتم التوصيل في خلال الفتره المحدده للتوصيل وفي حاله حدوث اي طارئ مثل حالات  الازدحام المروري أو الحظر الجزئي أو الظروف الخارجه عن الاراده فلا يكون التعويض الا بالقدر المدفوع من قبل طالب الخدمه.

                <h4>ارجاع المنتجات</h4>
                الطلب بعد تحضيره ( بعد أن يصبح جاهزا)  لا يمكن إلغاؤه. سوف تساعدكم  Chocolateco بجميع التغييرات في العنوان أو الرسالة أو الملاحظات ولكن ليس تغييرات المنتج. ومع ذلك ، يمكنك الوصول إلى مركز الاتصال الخاص بنا للتحقق من إمكانية تغيير الطلب (فقط في حالة إمكانية التغيير). تسعى Chocolateco جاهدة لدعم جميع متطلبات العملاء.

                

                <h4>المبالغ المستردة</h4>
                ستتم معالجة جميع المبالغ المستردة في غضون خمسه أيام عمل من تاريخ طلب الاسترداد.


            </p>
		</div>
    </section>



    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>5. حقوق النشر</h3>
            <p>
              جميع المحتويات المضمنة في الموقع ، بما في ذلك على سبيل المثال لا الحصر ، النصوص والرسومات والشعارات وأيقونات الأزرار والصور ومقاطع الصوت والتنزيلات الرقمية وتصنيفات البيانات والبرامج هي ملكية وعمل حقوق الطبع والنشر لأي من chocolatecokw.com ومستخدميها ومستخدميها موردو المحتوى أو المرخصون التابعون له ومحمي بموجب حقوق النشر والعلامات التجارية وبراءات الاختراع أو حقوق وقوانين الملكية الفكرية الأخرى. تجميع المحتوى على الموقع هو ملكية حصرية وحقوق نشر خاصة بـ chocolatecokw.com ومحمي بموجب حقوق النشر والعلامات التجارية وبراءات الاختراع أو حقوق وقوانين الملكية الفكرية الأخرى.  
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>6. العلامات التجارية</h3>
            <p>
              إن "chocolatecokw.com" والشعارات ذات الصلة والكلمات والشعارات الأخرى الموجودة على الموقع هي إما علامات تجارية غير مسجلة أو علامات تجارية مسجلة لـ chocolatecokw.com وهي محمية بموجب قوانين العلامات التجارية الدولية وغيرها من حقوق وقوانين الملكية الفكرية. لا يجوز استخدام العلامات التجارية الخاصة بـ chocolatecokw.com فيما يتعلق بأي منتج أو خدمة ليست تابعة لـ chocolatecokw.com ولا بأي طريقة تقلل من شأن chocolatecokw.com أو تشوه سمعته.    
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>7. خرق اتفاقية المستخدم وسحب الوصول و / أو العضوية</h3>
            <p>
              مع عدم الإخلال بأي حقوق أو تعويضات أخرى لـ chocolatecokw.com بموجب اتفاقية المستخدم هذه أو بموجب القانون أو غير ذلك ، يجوز لـ chocolatecokw.com على الفور وبدون مسؤولية: تقييد نشاطك أو تقييد عضويتك أو سحبها.    
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>8. تحديد الالتزامات</h3>
            <p>
              إلى الحد الذي يسمح به القانون ، لن تكون chocolatecokw.com ومسؤوليها وموظفيها ووكلائها والشركات التابعة لها ومورديها مسؤولين عن أي خسارة أو ضرر من أي نوع سواء كان مباشرًا أو غير مباشر أو عرضي أو خاص أو تبعي أو نموذجي ، بما في ذلك على سبيل المثال لا الحصر ، الخسائر أو الأضرار الناتجة عن خسارة الأرباح أو الشهرة أو الأعمال أو الفرص أو البيانات أو غيرها من الخسائر غير الملموسة الناشئة عن أو فيما يتعلق باستخدامك للموقع أو خدماته أو اتفاقية المستخدم هذه (مهما كانت ناشئة ، بما في ذلك الإهمال أو غير ذلك وسواء أكان ذلك أم لا تم إخطار chocolatecokw.com بإمكانية حدوث مثل هذه الخسائر أو الأضرار). <br>

              إذا كنت غير راضٍ عن الموقع أو أي محتوى أو مواد عليه ، فإن الحل الحصري الوحيد لك هو التوقف عن استخدامك له. علاوة على ذلك ، فإنك توافق على أن أي استخدام غير مصرح به للموقع وخدماته نتيجة لإهمالك أو إهمالك سيؤدي إلى إصابة لا يمكن إصلاحها لـ chocolatecokw.com ويجب أن تعامل chocolatecokw.com أي استخدام غير مصرح به على أنه يخضع لشروط وأحكام اتفاقية المستخدم هذه.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>9. التعويض</h3>
            <p>
              أنت توافق على تعويض chocolatecokw.com والشركات التابعة لها ومسؤوليها وموظفيها ووكلائها ومورديها وحمايتهم من أي وجميع المطالبات والطلبات والإجراءات والإجراءات والخسائر والمسؤوليات والأضرار والتكاليف والنفقات (بما في ذلك التكاليف والنفقات القانونية المعقولة) ، كيفما عانى أو تم تكبده بسبب أو نتيجة لخرقك لاتفاقية المستخدم هذه ، أو انتهاكك لأي قانون أو حقوق طرف ثالث.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>10. عام</h3>
            <p>
              إذا تم اعتبار أي بند من بنود اتفاقية المستخدم هذه غير صالح أو باطل أو غير قابل للتنفيذ لأي سبب من الأسباب ، فسيتم اعتبار هذا البند قابلاً للفصل ولا يؤثر على صلاحية البنود المتبقية من اتفاقية المستخدم هذه وإمكانية إنفاذها. تحدد اتفاقية المستخدم هذه (بصيغتها المعدلة من وقت لآخر وفقًا لشروط اتفاقية المستخدم هذه) التفاهم والاتفاق الكاملين بينك وبين chocolatecokw.com فيما يتعلق بالموضوع المذكور هنا.لا يحق لأي شخص ليس طرفًا في اتفاقية المستخدم هذه تنفيذ أي بند من بنود اتفاقية المستخدم هذه. إذا تمت ترجمة اتفاقية المستخدم هذه إلى أي لغة أخرى غير الإنجليزية ، سواء على الموقع أو غير ذلك ، فإن النص الإنجليزي هو الذي يسود.
    
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>11. استخدام الموقع </h3>
            <p>
              عند استخدامك للموقع فانت تقبل ضمنيا بتلقي الايجاب المقدم منا عن طريق استخدام شبكه المعلومات وبمجرد قبول الطلب فان ارادتك تتجه لقبول ذلك العرض من خلال التلاقي عبر شاشات الحاسب الالي أو اي وسيله الكترونيه اخرى. 
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>12. قبول العرض</h3>
            <p>
              يقبل العميل العرض بالضغط على زر القبول. 
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
      <div class="container-1180px">
        <h3>13. سياسه الدفع</h3>
              <p>
                يتم الوفاء بالالتزامات الناشئه على شركه Chocolateco بمجرد إتمام الطلب بالدفع من خلال طرق السداد الإلكتروني الموجوده بالموقع.يقبل العميل العرض بالضغط على زر القبول. 
              </p>
      </div>
      </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			
			<h3>14. ضمان مطابقه المنتج المباع للمواصفات</h3>


        <p>
          تضمن شركه Chocolateco جوده ونظافه المنتج المباع ,أن يكون الشكل النهائي للمنتج المباع في صوره قريبه من المنتج المعروض بالموقع الإلكتروني www.chocolatecokw.com
        </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>15. ابراء الذمه</h3>
            <p>
              يتم ابراء ذمه Chocolateco بمجرد استلام المنتج والفحص عند الاستلام.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>16. عدم الرجوع </h3>
            <p>
              يقر العميل بعدم الرجوع للتعويض او الشكوى في حاله الظروف القاهره أو حاله استحاله التنفيذ لاي طاري خارجي ولكن تتعهد الشركه بارجاع المبلغ المدفوع في حاله الطلب في وجود الظروف القاهره أو التقصير من طرف الشركه.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>17. إخلاء المسؤولية</h3>
            <p>
              يتم بذل كل جهد ممكن للإبقاء على الموقع يعمل بسلاسة. ومع ذلك ، لا تتحمل Chocolateco أي مسؤولية ولن تكون مسؤولة عن عدم توفر موقع الويب مؤقتًا بسبب مشكلات فنية خارجة عن إرادتنا. <br>

              نحتفظ بالحق في إجراء أي تغييرات أو تعديلات على الشروط والأحكام في أي وقت دون إشعار مسبق ، وتكون سارية فور نشرها على هذه الصفحة ، ومن مسؤولية العميل مراجعتها قبل إجراء أي عملية شراء <br>

              نحتفظ بالحق في تقييد الوصول إلى موقع الويب أو إنهائه لأسباب تتعلق بالصيانة أو لأي سبب آخر ، في أي وقت.

              عند النقر فوق تقديم الطلب ، فإنك توافق على الشروط والأحكام المكتوبة هنا في هذا المستند.
            </p>
		</div>
    </section>



    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>18. القانون الحاكم</h3>
            <p>
              تخضع اتفاقية المستخدم هذه وتفسر وفقًا لقانون دولة الكويت. سيبقى هذا البند ساريًا بعد أي انتهاء أو إلغاء لاتفاقية المستخدم هذه لأي سبب من الأسباب.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
      <div class="container-1180px">
        <h2>سياسة الخصوصية</h2>
        <h3>1. جمع المعلومات واستخدامها ومشاركتها</h3>            
              <p>
                نحن المالك الوحيد للمعلومات التي تم جمعها على هذا الموقع. لدينا فقط إمكانية الوصول إلى / جمع المعلومات التي تقدمها لنا طواعية عبر البريد الإلكتروني أو أي اتصال مباشر آخر منك. لن نبيع أو نؤجر هذه المعلومات لأي شخص.<br>

                سوف نستخدم معلوماتك للرد عليك ، بخصوص سبب اتصالك بنا. لن نشارك معلوماتك مع أي طرف ثالث على سبيل المثال لشحن طلبية.<br>

                ما لم تطلب منا عدم القيام بذلك ، فقد نتصل بك عبر البريد الإلكتروني في المستقبل لإخبارك بالعروض الخاصة أو المنتجات أو الخدمات الجديدة أو التغييرات في سياسة الخصوصية هذه.
              </p>
      </div>
      </section>
  
  
      <section class="section wf-section" style="padding-top: 0">
      
      <div class="container-1180px">
        <h2>تسجيل الدخول </h2>
        <h3>1. تسجيل الدخول لعمل حساب جديد</h3>
          <p>
            للتسجيل للحصول على حساب جديد ، نطلب منك تزويدنا بعنوان بريدك الإلكتروني ، أو المعلومات الأخرى اللازمة للاتصال بك عبر الإنترنت وعبر الهاتف. نستخدم عنوان بريدك الإلكتروني ومعلومات الاتصال الأخرى التي تزودنا بها لتأكيد طلبك وللتواصل معك في حالة وجود مشكلة في الطلب ، لذلك لا يمكن للعميل التسجيل بدون عنوان بريد إلكتروني. إذا قمت بتزويدنا بعنوان بريدك الإلكتروني ، فيمكنك الوصول إليه لاحقًا وتحديثه وتعديله وحذف أي معلومات غير دقيقة عن طريق الوصول إلى حسابك من خلال رابط معلومات حسابي على الصفحة الرئيسية للمستخدم. يمكنك أيضًا اختيار عدم تزويدنا بعنوان بريدك الإلكتروني ؛ ومع ذلك ، لن تتمكن من التسجيل في الموقع وتقديم الطلبات. نحن نستخدم هذه المعلومات لتسهيل وتحسين استخدامك للموقع ، وللتواصل معك ، ولأغراض داخلية وللامتثال لأية متطلبات قانونية. قد يتم الكشف عن هذه المعلومات لموظفينا ولأطراف ثالثة معنية بتسليم طلبك أو تحليل ودعم استخدامك للموقع. نحن لا نبيع ولن نكشف معلومات الاتصال الشخصية الخاصة بك إلى أطراف ثالثة بخلاف ما هو محدد في سياسة الخصوصية هذه دون إذنك ما لم يكن لدينا حق قانوني أو ملزمين بالقيام بذلك (على سبيل المثال ، إذا طلب منا القيام بذلك بأمر من المحكمة أو من أجل أغراض منع الاحتيال أو الجرائم الأخرى).
          </p>
      </div>
      </section>
  
  
      <section class="section wf-section" style="padding-top: 0">
      
      <div class="container-1180px">
        <h3>2. وصولك إلى المعلومات والتحكم فيها</h3>
              <p>
                يمكنك إلغاء الاشتراك في أي جهات اتصال مستقبلية منا في أي وقت. يمكنك القيام بما يلي في أي وقت عن طريق الاتصال بنا عبر عنوان البريد الإلكتروني أو رقم الهاتف الموجود على موقعنا الإلكتروني:<br>
                انظر إلى البيانات التي لدينا عنك ، إن وجدت. <br>
                تغيير / تصحيح أي بيانات لدينا عنك. <br>
                دعنا نحذف أي بيانات لدينا عنك.<br>
                عبر عن أي قلق لديك بشأن استخدامنا لبياناتك.
              </p>
      </div>
      </section>
  
  
      <section class="section wf-section" style="padding-top: 0">
      
      <div class="container-1180px">
        <h3>3. الاتصالات الإلكترونية</h3>
              <p>
                  You agree that we may communicate with you by email or by posting notices on the Site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing. chocolatecokw.com requires your agreement during the registration process to send you promotional emails to let you know about any new changes, features or promotional activities added to the Site. If, at any time, you decide that you do not wish to receive promotional emails, you can opt out of receiving such promotional emails by clicking on the link at the bottom of any promotional email.
              </p>
      </div>
      </section>
  
  
      <section class="section wf-section" style="padding-top: 0">
      
      <div class="container-1180px">
        <h3>4. الأمن</h3>
              <p>
                نحن نأخذ الاحتياطات اللازمة لحماية المعلومات الخاصة بك. عندما ترسل معلومات حساسة عبر موقع الويب ، فإن معلوماتك محمية على الإنترنت وغير متصل.<br>
  
                أينما نجمع معلومات حساسة (مثل بيانات بطاقة الائتمان) ، يتم تشفير هذه المعلومات وإرسالها إلينا بطريقة آمنة. يمكنك التحقق من ذلك بالبحث عن رمز قفل في شريط العناوين والبحث عن "https" في بداية عنوان صفحة الويب.<br>
  
                بينما نستخدم التشفير لحماية المعلومات الحساسة المرسلة عبر الإنترنت ، فإننا نحمي أيضًا معلوماتك في وضع عدم الاتصال. يتم منح الموظفين الذين يحتاجون إلى المعلومات لأداء وظيفة معينة (على سبيل المثال ، الفواتير أو خدمة العملاء) حق الوصول إلى معلومات التعريف الشخصية.
              </p>
      </div>
      </section>
  
  
  
      <section class="section wf-section" style="padding-top: 0">
      
      <div class="container-1180px">
        <h3>5. ملفات تعريف الارتباط</h3>
              <p>
                ونحن نستخدم ملفات تعريف الارتباط على هذا الموقع. ملف تعريف الارتباط هو جزء من البيانات المخزنة على القرص الصلب لزائر الموقع لمساعدتنا على تحسين وصولك إلى موقعنا وتحديد الزائرين المتكررين لموقعنا. على سبيل المثال ، عندما نستخدم ملف تعريف ارتباط لتحديد هويتك ، فلن تضطر إلى تسجيل الدخول بكلمة مرور أكثر من مرة ، وبالتالي توفير الوقت على موقعنا. يمكن أن تمكّننا ملفات تعريف الارتباط أيضًا من تتبع اهتمامات مستخدمينا واستهدافها لتعزيز التجربة على موقعنا. لا يرتبط استخدام ملف تعريف الارتباط بأي شكل من الأشكال بأي معلومات تعريف شخصية على موقعنا.
              </p>
      </div>
      </section>
  
    
{% endblock %}
