<!DOCTYPE html>
{% load static %}
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue Aug 31 2021 15:24:31 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="612bc3053a5724568e9bf95f" data-wf-site="61214ba6c39298139819b580">
<head>
  <meta charset="utf-8">
  <title>Account | Chocolate co.</title>
  <meta content="Chocolate co. - We spread love everywhere" property="og:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="og:image">
  <meta content="Chocolate co. - We spread love everywhere" property="twitter:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="twitter:image">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  {% block styleFile %}{% endblock styleFile %}
  <link hretf="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/webflow.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/chocolateco.webflow.css' %}" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

  <!-- <script type="module" src="{% static 'js/search.js' %}"></script>   -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
  <link href="{% static 'images/webclip.png' %}" rel="apple-touch-icon">

</head>
<body>


  <div id="loader-wrapper">
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>

  <script type="text/javascript">

    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
      location.reload(true);
    }

  </script>




  <div class="page-wrapper">



    <div class="visitor-user-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1100; background-color: rgba(0,0,0,0.4); display: none; justify-content: center; align-items: center; padding: 50px; top: 0">
		
      <div style="background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; display: flex; flex-direction: column; height: auto; width: 400px; justify-content: space-evenly">
  
        <form method="POST" action="{% url 'create-visitor' %}">
          {% csrf_token %}
          <h4 class="heading-4">Continue as a visitor</h4>
          <input type="text" class="input w-input" name="name" placeholder="Enter your name" required>
          <input type="text" class="input w-input" name="number" placeholder="Enter your number" required>
          <button class="button-primary-3 w-button ok" style="width: 100%">Continue</button>
        </form>
  
      </div>
    
    </div>
  
  
  
    <div class="visitor-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1100; background-color: rgba(0,0,0,0.4); display: none; justify-content: center; align-items: center; padding: 50px; top: 0">
      
      <div style="background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; display: flex; flex-direction: column; height: 250px; width: 400px; justify-content: space-evenly">
        <button class="button-primary-3 w-button visitor-user-button">Continue as a visitor</button>
  
  
        <a href="{% url 'login' %}"><button class="button-primary-3 w-button ok" style="width: 100%">Login to your account</button></a>	
  
        <p class="paragraph-large mg-bottom-48px">Don't have an account? <a href="{% url 'register' %}" class="link">Register Now</a></p>
      </div>
    
    </div>

    <div data-collapse="medium" data-animation="default" data-duration="400" data-hover="false" data-w-id="8c0c4230-03c8-6d2d-1aaf-dcff64127e81" role="banner" class="header w-nav">
      <div class="container-nav">
        <div class="header-left-side">
          <a href="/" data-hover="false" aria-current="page" class="brand w-nav-brand w--current"><img src="{% static 'images/chocolateco-slogan.png' %}" width="160" data-hover="false" alt=""></a>
        </div>
        <div class="header-center-side">
          <nav role="navigation" data-hover="false" class="nav-menu w-nav-menu">
            <a href="/" data-hover="false" aria-current="page" class="nav-link w-nav-link w--current">Main</a>
            
            <a href="{% url 'chocolate_type' %}" data-hover="false" class="nav-link w-nav-link">Design Your Own Order</a>

            <a href="{% url 'about-us' %}" data-hover="false" class="nav-link w-nav-link">About Us</a>

          </nav>
        </div>
        <div class="header-right-side">
          

          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle" style="padding: 0; margin-left:20px; height: 25px">
              <img src="{% static 'images/search-icon.png' %}" width="25" data-hover="false" alt="" class="image-4" style="max-width: none; width: 25px; height: 25px">
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2">
                <form id="search-form" action="{% url 'search' %}?query={{ query }}" method="POST">
                  {% csrf_token %}
                  <div class="w-layout-grid mega-menu-grid">
                    <div class="input-group">
                      
                     <input name="search" type="text" placeholder="Search" class="form-control" id="search">
                     <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Go</button>

                    </div>
                  </div>
                </form>
              </div>
            </nav>
          </div>


          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle" style="padding: 0; margin-left:20px; height: 25px">
              <img src="{% static 'images/user.svg' %}" width="25" data-hover="false" alt="" class="image-4" style="max-width: none; width: 25px">
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2">
                <div class="w-layout-grid mega-menu-grid">
                  <div>
                   <ul style="list-style-type: none">
									   
										{% if request.user.is_authenticated %}
											{% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}
												{% if not request.user.is_staff and not request.user.is_superuser %}
												  <li class="mega-menu-title"><a class="heading-3" href="{% url 'account' request.user.profile.id %}" style="text-decoration: none;">Account</a></li>
                        {% endif %}
												<li><a class="heading-3" href="{% url 'logout' %}" style="text-decoration: none;">Sign Out</a></li>
                        <li><a class="heading-3" href="{% url 'favorites' %}" style="text-decoration: none;">Favorites</a></li>
											{% else %}
												<li class="mega-menu-title"><a class="heading-3" href="{% url 'register' %}" style="text-decoration: none;">Register</a></li>
                        <li><a class="heading-3" href="{% url 'login' %}" style="text-decoration: none;">Sign In</a></li>
                        
											{% endif %}
										{% else %}
											<li class="mega-menu-title"><a class="heading-3" href="{% url 'register' %}" style="text-decoration: none;">Register</a></li>
									    	<li><a class="heading-3" href="{% url 'login' %}" style="text-decoration: none;">Sign In</a></li>
										{% endif %}
									    
									    
									</ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle cart-icon-container" style="padding: 0; margin-left:20px; height: 25px">
              <img src="{% static 'images/shopping-cart.svg' %}" width="25" data-hover="false" alt="" class="image-4" style="max-width: none; width: 25px">
              {% if request.user.is_authenticated %}
                {% if order.get_order_total >= 0 %}

                  <div class="div-block-2">
                    <div class="text-block-2 items-quantity " style="padding: 0 7px" >{{ order.get_products }}</div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2" id="cart-box-container">
                <div class="w-layout-grid mega-menu-grid">
                  <div id="cart-container">
                   <h4 class="mega-menu-title">Cart</h4>
                    {% if order.get_order_total > 0 %}
                      <div class="cart-box">
                        {% for item in order.items.all %}
                          {% if item.item.customized_box %}

                            <div class="menu-2-columns">
                              <div class="mega-menu-column-4"><img src="{{ item.tray.image.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div>
                              <div class="mega-menu-column-2">
                                <h4 class="heading-5 cart-box-title">{{ item.item.title }}</h4>
                                {% if item.quantity_type == "Pieces" %}
                                  <h4 class="heading-6"><span style="font-size: 16px; color: #a38a72">{{ item.pieces_quantity }} X</span> {{ item.price }} KD</h4>
                                {% elif item.quantity_type == "Weight" %}
                                  <h4 class="heading-6"><span style="font-size: 16px; color: #a38a72">{{ item.weight_quantity }} X</span> {{ item.price }} KD</h4>
                                {% endif %}
                              </div>
                            </div>
                          {% else %}
                          
                            <div class="menu-2-columns">
                              <div class="mega-menu-column-4"><img src="{{ item.item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div>
                              <div class="mega-menu-column-2">
                                <h4 class="heading-5 cart-title-{{ item.item.id }} cart-box-title">{{ item.item.title }}</h4>
                                {% if item.quantity_type == "Pieces" %}
                                  <h4 class="heading-6"><span class="cart-quantity-{{ item.item.id }}" style="font-size: 16px; color: #a38a72">{{ item.pieces_quantity }} X</span> {{ item.price }} KD</h4>
                                {% elif item.quantity_type == "Weight" %}
                                  <h4 class="heading-6"><span class="cart-quantity-{{ item.item.id }}" style="font-size: 16px; color: #a38a72">{{ item.weight_quantity }} KG X</span> {{ item.price }} KD</h4>
                                {% endif %}
                              </div>
                            </div>
                          {% endif %}  
                        {% endfor %}
                      </div>
                    {% else %}
                      <h4 class="mega-menu-title empty-cart">Your cart is empty</h4>
                    {% endif %}
                  </div>
                </div>
                {% if order.get_order_total > 0 %}
                  <h4 class="mega-menu-title">Subtotal: <span class="cart-price">{{ order.get_order_total }}</span> KD<br></h4>
                  <a style="color: #fff" {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal-button{% endif %}{% else %}visitor-modal-button{% endif %}">place order</a>
                  <div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url 'cart' %}">View Cart</a></div>
                {% endif %}
                  
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle" style="padding: 0; margin-left:5px; height: 25px">
              <img class="lang-icon image-4" src="{% static 'images/A.svg' %}" width="25" alt="" style="display: flex; max-width: none; width: 25px">
            </div>
            
          </div>

          <div class="menu-icon w-nav-button">
            <div class="menu-icon-top-line"></div>
            <div class="menu-icon-middle-line"></div>
            <div class="menu-icon-bottom-line"></div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="section-hero-sup wf-section">
      <div class="content">
        <div class="block-hero">
          <div class="text-hero">
            <h1 class="hero-title-small"><strong class="bold-text">Account</strong></h1>
          </div>
          <div class="img-hero">
            <div class="food-shadow-1 single-page"></div>
            <div class="food-shadow-2 single-page"></div>
            <div class="food-shadow-3 single-page"></div><img src="{% static 'images/6123aa8c2159dadd8c9d0e02_61214cdda2a447105195edbc_food-1.png' %}" loading="lazy" alt="" class="image-food-1 single-page"><img src="{% static 'images/9d0e02_61214cdda2a447105195edbc_food-1.png' %}" loading="lazy" alt="" class="image-food-2 single-page"><img src="{% static 'images/61214cdda2a447105195edbc_food.png' %}" loading="lazy" alt="" class="image-food-3 single-page">
          </div>
        </div>
      </div>
    </div>
    <section class="section wf-section row">
      <div class="col-12 col-md-6 col-sm-12" >
        <div class="w-layout-grid conrtact-us">
          <div id="w-node-eca6ec24-5096-b414-ff9d-9e41b199f78b-8e9bf95f" data-w-id="eca6ec24-5096-b414-ff9d-9e41b199f78b" style="opacity:0; margin-bottom: 3rem" class="contact-us-form">
            <div class="">
              {% if error %}
                <div class="error-message w-form-fail">
                  <div class="error-message-text">{{ error }}</div>
                </div>
              {% endif %}
              <form id="email-form" name="email-form" data-name="Email Form" class="post-card-newsletter-form" method="POST">
                {% csrf_token %}
                
                <label>Name</label>
                {{ form.name }}

                <label>Number</label>
                {{ form.phone_number }}

                <label>Area</label>
                {{ form.area }}

                <label>Block</label>
                {{ form.block }}

                <label>Street</label>
                {{ form.street }}

                <label>House</label>
                {{ form.house }}
                
                <label>Floor No</label>
                {{ form.floor }}

                <label>Apartment No</label>
                {{ form.apartment }}
                
                <div class="div-block"> 

                  <button type="submit" class="button-primary-3 big w-button">Save</button>

                </div>
              </form>
              
              
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-sm-12">
        <div class="w-layout-grid conrtact-us">
          <div id="w-node-eca6ec24-5096-b414-ff9d-9e41b199f78b-8e9bf95f" data-w-id="eca6ec24-5096-b414-ff9d-9e41b199f78b" style="opacity:0; height: 210px; margin-bottom: 3rem;" class="contact-us-form">
            <div style="display: flex; flex-direction: column; justify-content: space-evenly; height: 150px;">  
              <a href="{% url 'change-password' %}" class="button-primary-3 big w-button" style="text-align: center;">Change Password</a>
              <a href="{% url 'orders-history' %}" class="button-primary-3 big w-button" style="text-align: center;">Orders History</a>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <footer data-w-id="71417737-5b4b-a09e-2591-ff5af838e990" class="footer wf-section">
      <div class="container-1180px">
        <div class="row">

          <div class="col-lg-3 col-md-3 col-sm-12" >
            <p><a href="{% url "about-us" %}" style="color: #a38a72; text-decoration: none;">About Us</a></p>
            <p><a href="{% url 'terms-conditions' %}" style="color: #a38a72; text-decoration: none;">Terms & Conditions</a></p>
            <p><a href="{% url 'privacy-policy' %}" style="color: #a38a72; text-decoration: none;">Privacy Poilcy</a></p>


          </div>
          
          <div class="col-lg-3 col-md-3 col-sm-12">

            <p style="color: #a38a72; text-decoration: none;">+965 2576 1776</a></p>
            <p style="color: #a38a72; text-decoration: none;">info@chocolatecokw.com</a></p>
            <p style="color: #a38a72; text-decoration: none;">Salmiya,bagdad st, AlTayb Tower</a></p>
          
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12 footer-pad">
              <a href="https://www.facebook.com/Chocolate_CO-102013454708500" target="_blank" class="social-icon w-inline-block"><img src="{% static 'images/facebook.svg' %}" data-hover="false" alt="" class="image-2"></a>
              <a href="https://www.instagram.com/thechocolateco/" target="_blank" class="social-icon w-inline-block"><img src="{% static 'images/instagram.svg' %}" data-hover="false" alt="" class="image"></a>
          </div>


          <div class="col-lg-3 col-md-3 col-sm-12 subscribe-us">
            <h4 style="color: #a38a72;">Subscribe</h4>
            <form name="newsletterform" id="newsletterform" method="post">
              <div class="input-group">

                <input name="subscribe" type="text" placeholder="Subscribe" class="form-control" id="subscribe">
                <button class="btn"  type="submit" id="button-addon2" style="background: #a38a72; color: #fff; border-color: #a38a72;">Join Us</button>

               </div>
            </form>
            <div class="row" style="margin-top: 10px; justify-content: space-between;">
              
              <img class="col-3" src="{% static 'images/visa-card.png' %}" alt="">
              <img class="col-3" src="{% static 'images/knet-card.png' %}" alt="">
              <img class="col-3" src="{% static 'images/mastercard_png1.png' %}" alt="">

            </div>
          </div>


        </div>
        <div class="footer-bottom">
          <div class="copyright">© Chocolate.co 2022. All Rights Reserved</div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61214ba6c39298139819b580" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{% static 'js/webflow.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/bundle.js' %}"></script>
  <script>


    $("#cart-box-container").on("click", ".visitor-modal-button", function(){
      $(".visitor-modal").css("display", "flex")
    })


    $(".visitor-user-button").on("click", function(){
      $(".visitor-modal").css("display", "none")
      $(".visitor-user-modal").css("display", "flex")

    })

    $(".lang-icon").on("click", function(){
      console.log("hello")
      let currentLocation = window.location
      window.location = currentLocation.origin + "/ar" + currentLocation.pathname
      console.log(window.location)
    })

  </script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>