{% extends 'base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block styleFile %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style-skin-food02.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">



   
{% endblock styleFile %}


{% block customStyle %}

<style>
    
    .tt-input-counter.style-01 .mobile-minus:before, .tt-input-counter.style-01 .mobile-plus:before{
        line-height: 15px
    }



    #loader-wrapper {
        display: none
    }


    @media screen and (max-width: 767px) {
        .tt-title-subpages{
            text-align: left!important
        }
    }

</style>


{% endblock customStyle %}

{% block content %}


<div class="container-indent" style="margin-top: 10rem">
    
		<div class="container">
            {% csrf_token %}
            {% if order.get_order_sub > 0 %}
                <h1 class="tt-title-subpages noborder heading-4">SHOPPING CART</h1>
                <div class="tt-shopcart-table-02">
                    
                    <table>
                        <tbody>
                            {% for item in items %}

                                <tr class="item-{{ item.id }}">
                                    <td>
                                        <a href="{% if not item.item.customized_box %}{% url 'detail' item.item.id %}{% else %}{% url 'chocolate_type' %}{% endif %}">
                                            <div class="tt-product-img">
                                                <img src="{% if item.item.customized_box %}{{ item.tray.image.url }}{% else %}{{ item.item.picture.url }} {% endif %}" alt="">
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% if not item.item.customized_box %}{% url 'detail' item.item.id %}{% else %}{% url 'chocolate_type' %}{% endif %}">
                                            <h2 class="heading-3 item-title" style="display: inline; font-size: 20px">
                                                {{ item.item.title }} {% if item.item.has_choices %} ( {{ item.choice }} ) {% endif %}{% if item.item.has_flavors %} ( Flavor: {{ item.flavor.en_name }} ) {% endif %} {% if item.item.has_colors %} ( Color: {{ item.color.en_name }} )  {% endif %}
                                            </h2>
                                        </a>
                                        {% comment %} {% if item.item.customized_box %}
                                            <div class="tooltip" style="opacity: 1"><i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">{{ item.chocolate_type }},<br />{{ item.quantity_choice }},<br />{% for i in item.box_items.all %}{% if i.quantity > 0 %} {{ i.quantity }} of {{ i.item.title }},<br />{% endif %}{% endfor %}</span>
                                            </div>
                                        {% endif %} {% endcomment %}
                                    
                                        <ul class="tt-list-parameters">
                                            <li>
                                                <div class="heading-3" style="text-align: left">
                                                    {{ item.price }} KD
                                                </div>
                                            </li>
                                            <li style="margin: 0">
                                                <div class="detach-quantity-mobile">

                                                    <div class="hack17-counter-row" style="width: 62%">
                                                
                                                        <div data-url="{% if not item.item.customized_box %}{% url 'remove-quantity' item.id %}{% else %}{% url 'remove-box-quantity' item.id %}{% endif %}" class="hack17-counter-button hack17-down remove-check-quantity-{{ item.id }}" style="width: 50px; height: 50px; padding: 0"><img src="{% static 'images/up-arro.svg' %}" alt="" class="hack16-counter-arrow flip"></div>
                                                        <input type="text" value="{% if item.quantity_type == "Pieces" %}{{ item.pieces_quantity }}{% else %}{{ item.weight_quantity }} KG{% endif %}" size="10" name='quantity' class="hack17-counter-input w-input {{ item.id }}-quantity cart-quantity" id="quantity-{{ item.id }}" name="Hack16-Counter-Input-11" data-name="Hack 16 Counter Input 11" readonly style="background: transparent; padding: 0">
                                                        <div data-url="{% url 'add-check' item.id %}" class="hack17-counter-button hack17-up add-check-quantity-{{ item.id }}" style="width: 50px; height: 50px; padding: 0"><img src="{% static 'images/up-arro.svg' %}" alt="" class="hack16-counter-arrow"></div>
                                                    </div>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="heading-3" style="text-align: left">
                                                    <span class="{{ item.id }}-mobile-price">{{ item.get_item_total }}</span> KD
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="heading-3">
                                            {{ item.price }} KD
                                        </div>
                                    </td>
                                    <td>
                                        <div class="detach-quantity-desctope">
                                            <div class="hack17-counter-row">
                                                
                                                <div data-url="{% if not item.item.customized_box %}{% url 'remove-quantity' item.id %}{% else %}{% url 'remove-box-quantity' item.id %}{% endif %}" class="hack17-counter-button hack17-down remove-check-quantity-{{ item.id }}" style="width: 50px; height: 50px"><img src="{% static 'images/up-arro.svg' %}" alt="" class="hack16-counter-arrow flip"></div>
                                                <input type="text" value="{% if item.quantity_type == "Pieces" %}{{ item.pieces_quantity }}{% else %}{{ item.weight_quantity }} KG{% endif %}" size="10" name='quantity' class="hack17-counter-input w-input {{ item.id }}-quantity cart-quantity" id="quantity-{{ item.id }}" name="Hack16-Counter-Input-11" data-name="Hack 16 Counter Input 11" readonly style="background: transparent; padding: 0">
                                                <div data-url="{% url 'add-check' item.id %}" class="hack17-counter-button hack17-up add-check-quantity-{{ item.id }}" style="width: 50px; height: 50px;"><img src="{% static 'images/up-arro.svg' %}" alt="" class="hack16-counter-arrow"></div>
                                            
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="subtotal heading-3">
                                            <span class="{% if not item.item.customized_box %}{{ item.id }}-price {% else %}{{ item.id }}-price {% endif %}">{{ item.get_item_total }}</span> KD
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{% url 'remove-box-from-cart' item.id %}" class="tt-btn-close" style="color: #ff0018"></a>
                                    </td>
                                </tr>


                              {% endfor %}
                        </tbody>
                    </table>
                    <div class="tt-shopcart-btn">
                        <div class="col-left">
                            <a class="btn-link heading-3" href="/" ><i class="icon-e-19"></i>CONTINUE YOUR ORDER</a>
                        </div>
                    </div>
                </div>
                <div class="tt-shopcart-col">
                    <div class="row">
                        
                        <div class="col-lg-6">
                            <div class="tt-shopcart-box tt-boredr-large">
                                <table class="tt-shopcart-table01">
                                    
                                    <tfoot>
                                        <tr>
                                            <th class="heading-4" style="color: #a38a72">GRAND TOTAL</th>
                                            <td><span class="order-total">{{ order.get_order_total }}</span> KD</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <a {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "checkout" %}" {% endif %} {% endif %} class="btn btn-lg heading-4 {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal-button{% endif %}{% else %}visitor-modal-button{% endif %}" style="color: #fff"><span class="icon icon-check_circle"></span>PROCEED TO CHECKOUT</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container-indent nomargin">
                    {% for item in order.items.all %}{{ item.get_final_price }}{% endfor %}
                    
                    <div class="tt-empty-cart">
                        <span class="tt-icon icon-f-39"></span>
                        <h1 class="tt-title">SHOPPING CART IS EMPTY</h1>
                        <p>You have no items in your shopping cart.</p>
                        <a href="{% url 'home' %}" class="cart-btn btn">CONTINUE YOUR ORDER</a>
                    </div>
                </div>
            {% endif %}
		</div>
	</div>
</div>

{% endblock %}


{% block script %}
<script>
    $(document).ready(function() {
  var csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
  console.log(csrf)
  {% for item in items %}
  
    $(".add-check-quantity-{{ item.id }}").click(function() {
      console.log("hi")
      var quantity = $(".{{ item.id }}-quantity").val()
      var price = parseFloat($(".{{ item.id }}-price").text())
      var total = parseFloat($(".order-total").text())
      console.log(price)
      var data = "csrfmiddlewaretoken="+ csrf +"&id={{ item.id }}"
      console.log(data)
      $.ajax({
        url: $(".add-check-quantity-{{ item.id }}").data("url"),
        data: data,
        type: 'post',
        success: function(response) {
            console.log($(".{{ item.id }}-quantity").val())
            {% if item.quantity_type == "Pieces" %}
                if(parseInt($(".{{ item.id }}-quantity").val()) < {{ item.item.pieces_maximum }}){
                    $(".{{ item.id }}-quantity").val(parseInt(quantity) + 1);
                    {% if item.item.customized_box %}
                        $(".{{ item.id }}-price").text(parseFloat(parseFloat(price) + parseFloat({{ item.price }})).toFixed(3));
                        $(".{{ item.id }}-mobile-price").text(parseFloat(parseFloat(price) + parseFloat({{ item.price }})).toFixed(3));
                    
                        $(".order-total").text(parseFloat(parseFloat(total) + parseFloat({{ item.price }})).toFixed(3))
                    {% else %}
                        $(".{{ item.id }}-price").text(parseFloat(parseFloat(price) + parseFloat({{ item.item.price }})).toFixed(3));
                        $(".{{ item.id }}-mobile-price").text(parseFloat(parseFloat(price) + parseFloat({{ item.item.price }})).toFixed(3));
                    
                        $(".order-total").text(parseFloat(parseFloat(total) + parseFloat({{ item.item.price }})).toFixed(3))
                    {% endif %}
                }else{
                    $("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px; top: 0">\
									<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
										<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">The item maximum is '+ {{ item.item.pieces_maximum }} +' PCs</h2>\
										<button class="button-primary-3 w-button ok">OK</button>\
									</div>\
								</div>')
                }
                
            {% else %}
                if(parseFloat($(".{{ item.id }}-quantity").val()) < {{ item.item.weight_maximum }}){
                    $(".{{ item.id }}-quantity").val(parseFloat(quantity) + 0.25 + " KG"); 
                    $(".{{ item.id }}-price").text(parseFloat(parseFloat(price) + parseFloat({{ item.item.price }})).toFixed(3));
                    $(".{{ item.id }}-mobile-price").text(parseFloat(parseFloat(price) + parseFloat({{ item.item.price }})).toFixed(3));

                    $(".order-total").text(parseFloat(parseFloat(total) + parseFloat({{ item.item.price }})).toFixed(3))
                }else{
                    $("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px; top: 0">\
									<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
										<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">The item maximum is '+ {{ item.item.weight_maximum }} +' KG</h2>\
										<button class="button-primary-3 w-button ok">OK</button>\
									</div>\
								</div>')
                }
            {% endif %} 
            

        }
      })
    })


    $(".remove-check-quantity-{{ item.id }}").click(function() {
        console.log("HHHHHHH")
        var quantity = $(".{{ item.id }}-quantity").val()
        var price = parseFloat($(".{{ item.id }}-price").text())
        var total = parseFloat($(".order-total").text())
        console.log(price)
        var data = "csrfmiddlewaretoken="+ csrf +"&id={{ item.id }}"
        console.log(data)
        $.ajax({
            url: $(".remove-check-quantity-{{ item.id }}").data("url"),
            data: data,
            type: 'post',
            success: function(response) {
                {% if item.quantity_type == "Pieces" %}
                    if(parseInt(quantity) > {{ item.item.pieces_minimum }}) {
                        console.log("how are you")
                        {% if not item.item.customized_box %}
                            $(".{{ item.id }}-quantity").val(parseInt(quantity) - 1);
                            $(".{{ item.id }}-price").text(parseFloat(price - parseFloat({{ item.item.price }})).toFixed(3));
                            $(".{{ item.id }}-mobile-price").text(parseFloat(price - parseFloat({{ item.item.price }})).toFixed(3));
                            $(".order-total").text(parseFloat(parseFloat(total) - parseFloat({{ item.item.price }})).toFixed(3))
                        {% else %}
                            $(".{{ item.id }}-quantity").val(parseInt(quantity) - 1);
                            $(".{{ item.id }}-price").text(parseFloat(price - parseFloat({{ item.price }})).toFixed(3));
                            $(".{{ item.id }}-mobile-price").text(parseFloat(price - parseFloat({{ item.price }})).toFixed(3));
                            $(".order-total").text(parseFloat(parseFloat(total) - parseFloat({{ item.price }})).toFixed(3))
                        {% endif %}

                    }else{
                        console.log(quantity)
                        console.log("{{ item.item.pieces_minimum }}")
                    }
                {% else %}

                    if(parseFloat(quantity) > {{ item.item.weight_minimum }}){
                        $(".{{ item.id }}-quantity").val(parseFloat(quantity) - 0.25 + " KG");
                        $(".{{ item.id }}-price").text(parseFloat(price - parseFloat({{ item.item.price }})).toFixed(3));
                        $(".{{ item.id }}-mobile-price").text(parseFloat(price - parseFloat({{ item.item.price }})).toFixed(3));
                        $(".order-total").text(parseFloat(parseFloat(total) - parseFloat({{ item.item.price }})).toFixed(3))
                    }else{
                        console.log(quantity)
                        console.log("{{ item.item.weight_minimum }}")
                    }

                {% endif %} 
            

            }
      })
    })

    $(".add-box-quantity-{{ item.id }}").click(function() {
        
        console.log("hi")
        var quantity = $(".{{ item.id }}-quantity").val()
        var price = parseFloat($(".{{ item.id }}-price").text())
        var total = parseFloat($(".order-total").text())
        console.log(parseFloat(price))
        var data = "csrfmiddlewaretoken="+ csrf +"&id={{ item.id }}"
        console.log(data)

        $.ajax({
            url: $(".add-box-quantity-{{ item.id }}").data("url"),
            data: data,
            type: 'post',
            success: function(response) {
                $(".{{ item.id }}-quantity").val(parseInt(quantity) + 1);
                $(".{{ item.id }}-price").text(parseFloat(parseFloat(price) + {{ item.price }}).toFixed(3));
                $(".{{ item.id }}-mobile-price").text(parseFloat(parseFloat(price) + {{ item.price }}).toFixed(3));


                $(".order-total").text(parseFloat(parseFloat(total) + parseFloat({{ item.price }})).toFixed(3))

            }
      })
    })



    $(".remove-box-quantity-{{ item.id }}").click(function() {
        console.log("hi")
        var quantity = $(".{{ item.id }}-quantity").val()
        var price = parseFloat($(".{{ item.id }}-price").text())
        var total = parseFloat($(".order-total").text())
        console.log(price)
        var data = "csrfmiddlewaretoken="+ csrf +"&id={{ item.id }}"
        console.log(data)
        $.ajax({
            url: $(".remove-box-quantity-{{ item.id }}").data("url"),
            data: data,
            type: 'post',
            success: function(response) {
                if(quantity > 1) {
                    $(".{{ item.id }}-quantity").val(parseInt(quantity) - 1);
                    $(".{{ item.id }}-price").text(parseFloat(price) - {{ item.price }});
                    $(".order-total").text(parseFloat(total) - parseFloat({{ item.price }}))
                } else {
                    $(".item-{{ item.id }}").attr("style", "display: none!important")
                    $(".order-total").text(parseFloat(total) - {{ item.price }})
                    if(parseFloat($(".order-total").text()) === 0) {
                        window.location.href = "https://www.chocolatecokw.com"
                    }
                    console.log(parseFloat($(".order-total").text()))
                    
                }

            }
      })
    })

  {% endfor %}

  $("body").on("click", ".max-modal div .ok", function() {
			console.log("hiiiiiii")
			$(".max-modal").remove()
		})


    $('.item-title').each(function(i, obj) {
        console.log("in")
        if($(this).html() !== undefined){
            console.log("hiiiiiii")
            if($(this).is(":contains('   ')")){
                console.log($(this).html())
                // obj.text(obj.text().replace("   ", "<br>"))
                var text = $(this).html().replace(/   /g, "<br>");
    
                $(this).html(text);
    
            }
        }else{
            console.log("hello")
        }
        
    });
});

</script>

{% endblock script %}
