{% extends 'base.html' %}
{% load static %}



{% block title %}Home{% endblock %}

{% block content %}


<style>
	.check:checked + div .hack17-counter-row .hack17-counter-button{
		background: #a38a72
	}

	.check:checked + .product-2{
		border-color: #a38a72;
	}
</style>







<div class="my-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1000; background-color: rgba(0,0,0,0.4); display: none; justify-content: center; align-items: center; padding: 50px;">
		
	<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">
		<h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">The item maximum is 3 Kilo Grams</h2>

		<button class="button-primary-3 w-button ok">OK</button>
	</div>

</div>
	
<div data-hover="false">
	
	<!-- Slideshow container -->
	<div class="slideshow-container" style="max-width: 100%; width: 100%">

			<!-- Full-width images with number and caption text -->
			<div class="mySlides" style="opacity: 1">
				<img src="{{ category.banner_image.url }}" style="object-fit: contain; object-position: 100% 0; width: 100%; height: auto; margin-top: 92px">
			</div>
		
			
		</div>
		<br>
		
		<!-- The dots/circles -->
		{% comment %} <div style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
			<span class="dot" onclick="currentSlide(4)"></span>
			<span class="dot" onclick="currentSlide(5)"></span>

		</div> {% endcomment %}
	</div>
	
	{% if category.subs.all.count > 0 %}
		{% for sub in subs|dictsort:"number" %}
			{% if sub.items.all.count > 0 %}
				<section class="section wf-section" style="padding-bottom: 0; padding-top: 0;">
					<div class="container-1180px">
						<h2 class="heading-3">{{ sub.en_title }}</h2>
					</div>
					<div class="container-1180px">
						<div class="latest-blog-post-wrapper">
							<div class="row" style="justify-content: center">
								{% for item in sub.get_items|dictsort:"index" %}
								
									{% if not item.hidden %}
										<div class="col-sm-6 col-md-4 col-lg-3 col-6" style="margin-bottom: 2rem;">
											<div class="product-2">
												<div class="product-image-2" style="position: relative;">
													{% if item.sold_out or item.not_available or item.coming_soon %}
														<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available or item.coming_soon %} style="filter: brightness(0.6);" {% endif %}>
													{% else %}
														{% if item.sold_out or item.not_available %}
															<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available or item.coming_soon %} style="filter: brightness(0.6);" {% endif %}>
														{% else %}
															<a href="{% url 'detail' item.id %}">
											
																<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available %} style="filter: brightness(0.6);" {% endif %}>
															</a>
														{% endif %}
													{% endif %}
													
													<div class="{% if item in request.user.profile.favorites.all %} remove-favorite-{{ item.id }} {% else %} add-favorite-{{ item.id }} {% endif %}" data-url="{% if item in request.user.profile.favorites.all %} {% url 'remove-favorite' item.id %} {% else %} {% url 'add-favorite' item.id %} {% endif %}" style="cursor: pointer; position: absolute; top: 0; left: 0; width: 60px; height: 60px">
														<i class="fas fa-heart" id="favorite-{{ item.id }}" style="position: absolute; top: 5px; left: 5px; padding: 10px; border-radius: 50%; background: #fff; {% if item in request.user.profile.favorites.all %} color: #dc3545; {% else %} color: #78798f; {% endif %}"></i>
													</div>
													
												</div>
												<div class="product-details-2">
													{% if item.sold_out %}
														<h3 style="color: red">Sold Out</h3>
													{% elif item.not_available %}
														<h3 style="color: red">Not Available</h3>
													{% elif item.coming_soon %}
														<h3 style="color: red; font-size: 17px">Coming Soon</h3>
													{% endif %}
													{% if item.coming_soon or item.sold_out or item.not_available %}
														<div class="productname item-title" >{{ item.title }}</div>
													{% else %}
														<a href="{% url 'detail' item.id %}">
															<div class="productname item-title">{{ item.title }}</div>
														</a>
													{% endif %}
													{% if category.has_dimensions %}
														<div style="margin-top: 15px">
															{% if item.width %}
																<div class="productname" style="margin:0; font-size: 10px;">width: {{ item.width }} cm</div>
															{% endif %}
															{% if item.height %}
																<div class="productname" style="margin:0; font-size: 10px;">height: {{ item.height }} cm</div>
															{% endif %}
															{% if item.length %}
																<div class="productname" style="margin:0; font-size: 10px;">length: {{ item.length }} cm</div>
															{% endif %}
															{% if item.diameter %}
																<div class="productname" style="margin:0; font-size: 10px;">diameter: {{ item.diameter }} cm</div>
															{% endif %}
														</div>
													{% endif %}
													
													{% if not item.coming_soon and not item.sold_out and not item.not_available %}
														<a href="{% url 'detail' item.id %}" class="button-primary-3 w-button" style="margin-top: 24px">Read More</a>
													{% endif %}
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}
								
							</div>
						</div>
					</div>
				</section>


			{% elif sub.coming_soon %}
				<div class="container-1180px" style="margin-bottom: 3rem;">
					<h2 class="heading-3">{{ sub.en_title }}</h2>
				</div>
				<h2 class="heading-4" style="text-align: center">Coming Soon</h2>

			{% else %}
			<div class="container-1180px" style="margin-bottom: 3rem;">
				<h2 class="heading-3-">{{ sub.en_title }}</h2>
			</div>
			<h2 class="heading-4" style="text-align: center">No Items Yet</h2>


			{% endif %}
		{% endfor %}
		
	{% else %}
		<section class="section wf-section" style="padding-top: 0; padding-bottom: 0;">
			<div class="container-1180px">
				<h2 class="heading-3">{{ category.en_title }}</h2>
			</div>
			<div class="container-1180px">
				<div class="latest-blog-post-wrapper">
					<div class="row" style="justify-content: center">
						{% for item in category.get_items|dictsort:"index" %}


							{% if not item.hidden %}
							<div class="col-sm-6 col-md-4 col-lg-3 col-6" style="margin-bottom: 2rem;">
								<div class="product-2">
									<div class="product-image-2" style="position: relative;">
										{% if item.sold_out or item.not_available or item.coming_soon %}
											<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available or item.coming_soon %} style="filter: brightness(0.6);" {% endif %}>
										{% else %}
											{% if item.sold_out or item.not_available %}
												<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available or item.coming_soon %} style="filter: brightness(0.6);" {% endif %}>
											{% else %}
												<a href="{% url 'detail' item.id %}">
								
													<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available %} style="filter: brightness(0.6);" {% endif %}>
												</a>
											{% endif %}
										{% endif %}
										<div class="{% if item in request.user.profile.favorites.all %} remove-favorite-{{ item.id }} {% else %} add-favorite-{{ item.id }} {% endif %}" data-url="{% if item in request.user.profile.favorites.all %} {% url 'remove-favorite' item.id %} {% else %} {% url 'add-favorite' item.id %} {% endif %}" style="cursor: pointer; position: absolute; top: 0; left: 0; width: 60px; height: 60px">
											<i class="fas fa-heart" id="favorite-{{ item.id }}" style="position: absolute; top: 5px; left: 5px; padding: 10px; border-radius: 50%; background: #fff; {% if item in request.user.profile.favorites.all %}color: #dc3545; {% else %}color: #78798f; {% endif %}"></i>
										</div>
									</div>
									<div class="product-details-2">
										{% if item.sold_out %}
											<h3 style="color: red">Sold Out</h3>
										{% elif item.not_available %}
											<h3 style="color: red">Not Available</h3>
											{% elif item.coming_soon %}
											<h3 style="color: red; font-size: 17px">Coming Soon</h3>
										{% endif %}
										{% if item.coming_soon or item.sold_out or item.not_available %}
											<div class="productname item-title" >{{ item.title }}</div>
										{% else %}
											<a href="{% url 'detail' item.id %}">
												<div class="productname item-title">{{ item.title }}</div>
											</a>
										{% endif %}
										{% if category.has_dimensions %}
											<div style="margin-top: 15px">
												{% if item.width %}
													<div class="productname" style="margin:0; font-size: 10px;">width: {{ item.width }} cm</div>
												{% endif %}
												{% if item.height %}
													<div class="productname" style="margin:0; font-size: 10px;">height: {{ item.height }} cm</div>
												{% endif %}
												{% if item.length %}
													<div class="productname" style="margin:0; font-size: 10px;">length: {{ item.length }} cm</div>
												{% endif %}
												{% if item.diameter %}
													<div class="productname" style="margin:0; font-size: 10px;">diameter: {{ item.diameter }} cm</div>
												{% endif %}
											</div>
										{% endif %}
										
										{% if not item.coming_soon and not item.sold_out and not item.not_available %}
											<a href="{% url 'detail' item.id %}" class="button-primary-3 w-button" style="margin-top: 24px">Read More</a>
										{% endif %}

									</div>
								</div>
							</div>
							{% endif %}
						{% endfor %}
						
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
{% block script %}
	<script>
	$(document).ready(function() {
		var csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
		{% for item in items %}
			$(".add-to-cart-{{ item.id }}").click(function() {
				

				{% if item.quantity_type == "Weight" %}
					if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.weight_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
						console.log(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
						console.log(parseFloat($("#quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")

						var serializedData = $(".add-to-cart-form-{{ item.id }}").serialize();
						console.log(serializedData)
						var products = parseInt($(".items-quantity").text())
						var quantity = $("#quantity-{{ item.id }}").val()
						let price = $("#price-{{ item.id }}").text()
						$.ajax({
							url: $(".add-to-cart-form-{{ item.id }}").data('url'),
							data: serializedData,
							type: 'post',
							success: function(response) {
								{% if item.quantity_type == "Weight" %}
									console.log("IT IS WEIGHT")
									$("#quantity-{{ item.id }}").val(0.25 + " KG")
									
									
									let lst = []
									$(".cart-box-title").each(function(i, item) {
										lst.push(item.innerHTML)
									})
									if(lst.includes("{{ item.title }}")){
										//pass
									}else{
										$(".items-quantity").text(products + 1)
										console.log(lst)
										console.log("{{ item.title }}")
									}
									console.log(parseFloat(quantity) / 0.25)
									console.log(parseFloat(price))
									let totalPrice =parseFloat($(".cart-price").text()) + parseFloat(price)
									$(".cart-price").text(parseFloat($(".cart-price").text()) + parseFloat(price))
								{% elif item.quantity_type == "Pieces" %}
									console.log("IT IS NOT")
									$("#quantity-{{ item.id }}").val(1)
									let lst = []
									$(".cart-box-title").each(function(i, item) {
										lst.push(item.innerHTML)
									})
									if(lst.includes("{{ item.title }}")){
										//pass
									}else{
										$(".items-quantity").text(products + 1)
										console.log(lst)
										console.log("{{ item.title }}")
									}
									
									
									let totalPrice = parseFloat(quantity) * parseFloat(price)
									$(".cart-price").text(parseFloat($(".cart-price").text()) + parseFloat(quantity) * parseFloat(price))

								{% endif %}
								
								$(".cart-icon-container").effect("bounce", "slow")
								if($(".cart-title-{{ item.id }}").text()){

									
									{% if item.quantity_type == "Pieces" %}
										$(".cart-quantity-{{ item.id }}").text(parseInt($(".cart-quantity-{{ item.id }}").text()) + parseInt(quantity) + " X")
									{% else %}
										$(".cart-quantity-{{ item.id }}").text(parseFloat($(".cart-quantity-{{ item.id }}").text()) + parseFloat(quantity) + " KG X")
									{% endif %}
								}else{
									$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div>')
								}
								
								
								
								if($(".empty-cart").text()){
									$(".empty-cart").remove()
									$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div></div>')
									$("#cart-box-container").append('<h4 class="mega-menu-title">Subtotal: <span class="cart-price">'+ totalPrice +'</span> KD<br></h4><a {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal{% endif %}{% else %}visitor-modal{% endif %}">place order</a>')
									$("#cart-box-container").append('<div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url "cart" %}">View Cart</a></div>')
								}else{
									console.log("he")
								}
							}
						})
						console.log(serializedData)
					}else{
						console.log(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
						console.log(parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]))
						console.log("No ou Can't ")
						
						$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">\
                                        <div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
                                            <h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">The item maximum is '+ {{ item.weight_maximum }} +' KG</h2>\
                                            <button class="button-primary-3 w-button ok">OK</button>\
                                        </div>\
                                    </div>')

					}
				{% else %}
					if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.pieces_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
						var serializedData = $(".add-to-cart-form-{{ item.id }}").serialize();
						console.log(serializedData)
						var products = parseInt($(".items-quantity").text())
						var quantity = $("#quantity-{{ item.id }}").val()
						let price = $("#price-{{ item.id }}").text()
						$.ajax({
							url: $(".add-to-cart-form-{{ item.id }}").data('url'),
							data: serializedData,
							type: 'post',
							success: function(response) {
								{% if item.quantity_type == "Weight" %}
									console.log("IT IS WEIGHT")
									$("#quantity-{{ item.id }}").val(0.25 + " KG")
									
									
									let lst = []
									$(".cart-box-title").each(function(i, item) {
										lst.push(item.innerHTML)
									})
									if(lst.includes("{{ item.title }}")){
										//pass
									}else{
										$(".items-quantity").text(products + 1)
										console.log(lst)
										console.log("{{ item.title }}")
									}
									console.log(parseFloat(quantity) / 0.25)
									console.log(parseFloat(price))
									let totalPrice =parseFloat($(".cart-price").text()) + parseFloat(price)
									$(".cart-price").text(parseFloat($(".cart-price").text()) + parseFloat(price))
								{% elif item.quantity_type == "Pieces" %}
									console.log("IT IS NOT")
									$("#quantity-{{ item.id }}").val(1)
									let lst = []
									$(".cart-box-title").each(function(i, item) {
										lst.push(item.innerHTML)
									})
									if(lst.includes("{{ item.title }}")){
										//pass
									}else{
										$(".items-quantity").text(products + 1)
										console.log(lst)
										console.log("{{ item.title }}")
									}
									
									
									let totalPrice = parseFloat(quantity) * parseFloat(price)
									$(".cart-price").text(parseFloat($(".cart-price").text()) + parseFloat(quantity) * parseFloat(price))

								{% endif %}
								
								$(".cart-icon-container").effect("bounce", "slow")
								if($(".cart-title-{{ item.id }}").text()){

									
									{% if item.quantity_type == "Pieces" %}
										$(".cart-quantity-{{ item.id }}").text(parseInt($(".cart-quantity-{{ item.id }}").text()) + parseInt(quantity) + " X")
									{% else %}
										$(".cart-quantity-{{ item.id }}").text(parseFloat($(".cart-quantity-{{ item.id }}").text()) + parseFloat(quantity) + " KG X")
									{% endif %}
								}else{
									$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div>')
								}
								
								
								
								if($(".empty-cart").text()){
									$(".empty-cart").remove()
									$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div></div>')
									$("#cart-box-container").append('<h4 class="mega-menu-title">Subtotal: <span class="cart-price">'+ totalPrice +'</span> KD<br></h4><a {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal{% endif %}{% else %}visitor-modal{% endif %}">place order</a>')
									$("#cart-box-container").append('<div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url "cart" %}">View Cart</a></div>')
								}else{
									console.log("he")
								}
							}
						})
						console.log(serializedData)
					}else{
						$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">\
                                        <div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
                                            <h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">The item maximum is '+ {{ item.pieces_maximum }} +' KG</h2>\
                                            <button class="button-primary-3 w-button ok">OK</button>\
                                        </div>\
                                    </div>')
					}
					
				{% endif %}
				
			});
			$(".product-image-2").on("click", ".add-favorite-{{  item.id }}", function() {
				let clickedFav = $(this)
				console.log(clickedFav)
				let data = "csrfmiddlewaretoken="+ csrf
				$.ajax({
					url: "{% url 'add-favorite' item.id %}",
					data: data,
					type: "post",
					success: function() {
						console.log("hey")
						$("#favorite-{{ item.id }}").css("color", "#dc3545")
						$(".add-favorite-{{ item.id }}").attr("class", "remove-favorite-{{ item.id }}")

					}

				})
			})

			$(".product-image-2").on("click", ".remove-favorite-{{ item.id }}", function() {
				let data = "csrfmiddlewaretoken="+ csrf
				$.ajax({
					url: "{% url 'remove-favorite' item.id %}",
					data: data,
					type: "post",
					success: function() {
						console.log("hey")
						$("#favorite-{{ item.id }}").css("color", "#78798f")
						$(".remove-favorite-{{ item.id }}").attr("class", "add-favorite-{{ item.id }}")
					}

				})
			})


			$(".add-to-cart-button-{{ item.id }}").on("click", function(){
				{% if item.quantity_type == "Weight" %}
					if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.weight_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
						$("body").prepend('<div class="my-item-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">\
											<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; max-height: 500px; overflow: auto;">\
												<h2 class="heading-3">This is our packaging for that item</h2>\
												<div class="row">\
													{% for package in packages %}\
														{% if package.subcategory == item.sub_category %}\
															{% if package.price == 0 %}\
																<label for="{{ package.id }}" class="col-sm-6 col-md-4 col-lg-3 col-6">\
																	<input type="radio" name="packaging" value="{{ package.id }}" id="{{ package.id }}" class="form-check-input check" style="display: none;" required>\
																	<div>\
																		<img style="border-radius: 10px;" src="{{ package.image.url }}" alt="">\
																		<h2 class="productname">{{ package.en_name }}</h2>\
																		<h2 class="productprice" style="margin-bottom: 0;">{{ package.price }} KD</h2>\
																		<h2 class="heading-3" style="font-size: 18px">{{ package.weight }} {{ package.en_unit }}</h2>\
																		<div class="hack17-counter-row" style="margin-bottom: 24px; justify-content: center;">\
																			<div class="hack17-counter-button hack17-up" style="width: 40px; height: 40px;"></div>\
																		</div>\
																	</div>\
																</label>\
															{% endif %}\
														{% endif %}\
													{% endfor %}\
												</div>\
												<button class="button-primary-3 w-button item-modal-cancel">Cancel</button>\
												<button class="button-primary-3 w-button add-to-cart-{{ item.id }}">Add To Cart</button>\
											</div>\
										</div>')
					}else{
						$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">\
                                        <div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
                                            <h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">The item maximum is '+ {{ item.weight_maximum }} +' KG</h2>\
                                            <button class="button-primary-3 w-button ok">OK</button>\
                                        </div>\
                                    </div>')
					}
				{% else %}
					if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.pieces_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
						$("body").prepend('<div class="my-item-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">\
											<div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; max-height: 500px; overflow: auto;">\
												<h2 class="heading-3">Free Packaging</h2>\
												<div class="row">\
													{% for package in packages %}\
														{% if package.subcategory == item.sub_category %}\
															{% if package.price == 0 %}\
																<label for="{{ package.id }}" class="col-sm-6 col-md-4 col-lg-3 col-6">\
																	<input type="radio" name="packaging" value="{{ package.id }}" id="{{ package.id }}" class="form-check-input check" style="display: none;" required>\
																	<div>\
																		<img style="border-radius: 10px;" src="{{ package.image.url }}" alt="">\
																		<h2 class="productname">{{ package.en_name }}</h2>\
																		<h2 class="productprice" style="margin-bottom: 0;">{{ package.price }} KD</h2>\
																		<h2 class="heading-3" style="font-size: 18px">{{ package.weight }} {{ package.en_unit }}</h2>\
																		<div class="hack17-counter-row" style="margin-bottom: 24px; justify-content: center;">\
																			<div class="hack17-counter-button hack17-up" style="width: 40px; height: 40px;"></div>\
																		</div>\
																	</div>\
																</label>\
															{% endif %}\
														{% endif %}\
													{% endfor %}\
												</div>\
													<h2 class="heading-3">Paid Packaging</h2>\
												<div class="row">\
													{% for package in packages %}\
														{% if package.subcategory == item.sub_category %}\
															{% if package.price > 0 %}\
																<label for="{{ package.id }}" class="col-sm-6 col-md-4 col-lg-3 col-6">\
																	<input type="radio" name="packaging" value="{{ package.id }}" id="{{ package.id }}" class="form-check-input check" style="display: none;" required>\
																	<div>\
																		<img style="border-radius: 10px;" src="{{ package.image.url }}" alt="">\
																		<h2 class="productname">{{ package.en_name }}</h2>\
																		<h2 class="productprice" style="margin-bottom: 0;">{{ package.price }} KD</h2>\
																		<h2 class="heading-3" style="font-size: 18px">{{ package.weight }} {{ package.en_unit }}</h2>\
																		<div class="hack17-counter-row" style="margin-bottom: 24px; justify-content: center;">\
																			<div class="hack17-counter-button hack17-up" style="width: 40px; height: 40px;"></div>\
																		</div>\
																	</div>\
																</label>\
															{% endif %}\
														{% endif %}\
													{% endfor %}\
												</div>\
												<button class="button-primary-3 w-button item-modal-cancel">Cancel</button>\
												<button class="button-primary-3 w-button add-to-cart-{{ item.id }}">Add To Cart</button>\
											</div>\
										</div>')
					}else{
						$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">\
                                        <div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
                                            <h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">The item maximum is '+ {{ item.pieces_maximum }} +' PCs</h2>\
                                            <button class="button-primary-3 w-button ok">OK</button>\
                                        </div>\
                                    </div>')
					}
				{% endif %}

			})





			$("body").on("click", ".my-item-modal div .add-to-cart-{{ item.id }}", function() {
				

				{% if item.quantity_type == "Weight" %}
					if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.pieces_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
						console.log(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
						console.log(parseFloat($("#quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
						let packaging = $("input[name=packaging]:checked").val()
						console.log(packaging, "PACK")
						var serializedData = $(".add-to-cart-form-{{ item.id }}").serialize();
						console.log(serializedData)
						var products = parseInt($(".items-quantity").text())
						var quantity = $("#quantity-{{ item.id }}").val()
						let price = $("#price-{{ item.id }}").text()
						$.ajax({
							url: $(".add-to-cart-form-{{ item.id }}").data('url'),
							data: serializedData + "&packaging=" + packaging,
							type: 'post',
							success: function(response) {

								$(".my-item-modal").remove()
								{% if item.quantity_type == "Weight" %}
									console.log("IT IS WEIGHT")
									$("#quantity-{{ item.id }}").val(0.25 + " KG")
									
									
									let lst = []
									$(".cart-box-title").each(function(i, item) {
										lst.push(item.innerHTML)
									})
									if(lst.includes("{{ item.title }}")){
										//pass
									}else{
										$(".items-quantity").text(products + 1)
										console.log(lst)
										console.log("{{ item.title }}")
									}
									console.log(parseFloat(quantity) / 0.25)
									console.log(parseFloat(price))
									let totalPrice =parseFloat($(".cart-price").text()) + parseFloat(price)
									$(".cart-price").text(parseFloat($(".cart-price").text()) + parseFloat(price))
								{% elif item.quantity_type == "Pieces" %}
									console.log("IT IS NOT")
									$("#quantity-{{ item.id }}").val(1)
									let lst = []
									$(".cart-box-title").each(function(i, item) {
										lst.push(item.innerHTML)
									})
									if(lst.includes("{{ item.title }}")){
										//pass
									}else{
										$(".items-quantity").text(products + 1)
										console.log(lst)
										console.log("{{ item.title }}")
									}
									
									
									let totalPrice = parseFloat(quantity) * parseFloat(price)
									$(".cart-price").text(parseFloat($(".cart-price").text()) + parseFloat(quantity) * parseFloat(price))

								{% endif %}
								
								$(".cart-icon-container").effect("bounce", "slow")
								if($(".cart-title-{{ item.id }}").text()){

									
									{% if item.quantity_type == "Pieces" %}
										$(".cart-quantity-{{ item.id }}").text(parseInt($(".cart-quantity-{{ item.id }}").text()) + parseInt(quantity) + " X")
									{% else %}
										$(".cart-quantity-{{ item.id }}").text(parseFloat($(".cart-quantity-{{ item.id }}").text()) + parseFloat(quantity) + " KG X")
									{% endif %}
								}else{
									$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div>')
								}
								
								
								
								if($(".empty-cart").text()){
									$(".empty-cart").remove()
									$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div></div>')
									$("#cart-box-container").append('<h4 class="mega-menu-title">Subtotal: <span class="cart-price">'+ totalPrice +'</span> KD<br></h4><a {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal{% endif %}{% else %}visitor-modal{% endif %}">place order</a>')
									$("#cart-box-container").append('<div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url "cart" %}">View Cart</a></div>')
								}else{
									console.log("he")
								}
							}
						})
						console.log(serializedData)
					}else{
						console.log(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]), "cart quantity")
						console.log(parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]))
						console.log("No ou Can't ")
						
						$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">\
                                        <div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
                                            <h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">The item maximum is '+ {{ item.weight_maximum }} +' KG</h2>\
                                            <button class="button-primary-3 w-button ok">OK</button>\
                                        </div>\
                                    </div>')

					}
				{% else %}
					if(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]) + parseFloat($("#quantity-{{ item.id }}").val().split(" ")[0]) <= {{ item.weight_maximum }} || isNaN(parseFloat($(".cart-quantity-{{ item.id }}").text().split(" ")[0]))){
						var serializedData = $(".add-to-cart-form-{{ item.id }}").serialize();
						console.log(serializedData)
						let packaging = $("input[name=packaging]:checked").val()
						var products = parseInt($(".items-quantity").text())
						var quantity = $("#quantity-{{ item.id }}").val()
						let price = $("#price-{{ item.id }}").text()
						$.ajax({
							url: $(".add-to-cart-form-{{ item.id }}").data('url'),
							data: serializedData + "&packaging=" + packaging,
							type: 'post',
							success: function(response) {
								$(".my-item-modal").remove()
								{% if item.quantity_type == "Weight" %}
									console.log("IT IS WEIGHT")
									$("#quantity-{{ item.id }}").val(0.25 + " KG")
									
									
									let lst = []
									$(".cart-box-title").each(function(i, item) {
										lst.push(item.innerHTML)
									})
									if(lst.includes("{{ item.title }}")){
										//pass
									}else{
										$(".items-quantity").text(products + 1)
										console.log(lst)
										console.log("{{ item.title }}")
									}
									console.log(parseFloat(quantity) / 0.25)
									console.log(parseFloat(price))
									let totalPrice =parseFloat($(".cart-price").text()) + parseFloat(price)
									$(".cart-price").text(parseFloat($(".cart-price").text()) + parseFloat(price))
								{% elif item.quantity_type == "Pieces" %}
									console.log("IT IS NOT")
									$("#quantity-{{ item.id }}").val(1)
									let lst = []
									$(".cart-box-title").each(function(i, item) {
										lst.push(item.innerHTML)
									})
									if(lst.includes("{{ item.title }}")){
										//pass
									}else{
										$(".items-quantity").text(products + 1)
										console.log(lst)
										console.log("{{ item.title }}")
									}
									
									
									let totalPrice = parseFloat(quantity) * parseFloat(price)
									$(".cart-price").text(parseFloat($(".cart-price").text()) + parseFloat(quantity) * parseFloat(price))

								{% endif %}
								
								$(".cart-icon-container").effect("bounce", "slow")
								if($(".cart-title-{{ item.id }}").text()){

									
									{% if item.quantity_type == "Pieces" %}
										$(".cart-quantity-{{ item.id }}").text(parseInt($(".cart-quantity-{{ item.id }}").text()) + parseInt(quantity) + " X")
									{% else %}
										$(".cart-quantity-{{ item.id }}").text(parseFloat($(".cart-quantity-{{ item.id }}").text()) + parseFloat(quantity) + " KG X")
									{% endif %}
								}else{
									$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div>')
								}
								
								
								
								if($(".empty-cart").text()){
									$(".empty-cart").remove()
									$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2"><h4 class="heading-5 cart-title-{{ item.id }} cart-box-title">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.id }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div></div>')
									$("#cart-box-container").append('<h4 class="mega-menu-title">Subtotal: <span class="cart-price">'+ totalPrice +'</span> KD<br></h4><a {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal{% endif %}{% else %}visitor-modal{% endif %}">place order</a>')
									$("#cart-box-container").append('<div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url "cart" %}">View Cart</a></div>')
								}else{
									console.log("he")
								}
							}
						})
						console.log(serializedData)
					}else{
						$("body").prepend('<div class="max-modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; padding: 50px;">\
                                        <div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">\
                                            <h2 class="heading-4" style="font-size: 23px; padding-bottom: 0;">The item maximum is '+ {{ item.pieces_maximum }} +' KG</h2>\
                                            <button class="button-primary-3 w-button ok">OK</button>\
                                        </div>\
                                    </div>')
					}
					
				{% endif %}
				
			});
		{% endfor %}


		$(".close").on("click", function(){
			$(".container-fluid").remove()
		})


		
		$("body").on("click", ".my-item-modal div .item-modal-cancel", function() {
			console.log("hiiiiiii")
			$(".my-item-modal").remove()
		})

		$(".ok").on("click", function() {
			$(".my-modal").css("display", "none")
		})

		$("body").on("click", ".max-modal div .ok", function(){
			$(".max-modal").remove();
		})


		$('.item-title').each(function(i, obj) {
			console.log("in")
			if($(this).html() !== undefined){
				console.log("hiiiiiii")
				if($(this).is(":contains('   ')")){
					console.log($(this).html())
					// obj.text(obj.text().replace("   ", "<br>"))
					var text = $(this).html().replace(/   /g, "<br>");
		
					$(this).html(text);
		
				}
			}else{
				console.log("hello")
			}
			
		});
		{% comment %}  {% endcomment %}

	});

	

	</script>
	
{% endblock %}

{% block footer_style %}margin-bottom: 100px{% endblock footer_style %}