<!DOCTYPE html>
{% load static %}
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue Aug 31 2021 15:24:31 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6128d0584af1d454519c6368" data-wf-site="61214ba6c39298139819b580">
<head>
  <meta charset="utf-8">
  <title>Design Your Own Order</title>
  <meta content="Design Your Own Order" property="og:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="og:image">
  <meta content="Design Your Own Order" property="twitter:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="twitter:image">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/webflow.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/chocolateco.webflow.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
  <link href="{% static 'images/webclip.png' %}" rel="apple-touch-icon">
  

  <style>
    .check:checked + .product-2 .product-details-2 .hack17-counter-row .hack17-counter-button{
      background: #a38a72
    }

    .check:checked + .product-2{
      border-color: #a38a72;
    }


    .hack17-counter-row {
      width: 230px!important;
    }
  </style>

</head>
<body>

  <div id="loader-wrapper">
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>


  <script type="text/javascript">

    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
      location.reload(true);
    }

  </script>


  <div class="modal" style="width: 100%; height: 100%; position: fixed; z-index: 1001; background-color: rgba(0,0,0,0.4); display: none; justify-content: center; align-items: center; padding: 50px;">
		
    <div style="width: auto; height: auto; background-color: #fff; border-radius: 10px; padding: 20px; text-align: center;">
      <h2 class="heading-4" style="margin-bottom: 30px; font-size: 24px">Are you sure you want to exit?</h2>

      <div>
        <button type="button" class="button-primary-3 w-button ok">Cancel</button>
        <a href="#" class="button-primary-3 w-button yes">Yes</a>

      </div>
    </div>
  
  </div>
  <div class="page-wrapper">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-hover="false" data-w-id="8c0c4230-03c8-6d2d-1aaf-dcff64127e81" role="banner" class="header w-nav">
      <div class="container-nav">
        <div class="header-left-side">
          <a href="/" data-hover="false" aria-current="page" class="brand w-nav-brand w--current"><img src="{% static 'images/chocolateco-slogan.png' %}" width="160" data-hover="false" alt=""></a>
        </div>
        <div class="header-center-side">
          <nav role="navigation" data-hover="false" class="nav-menu w-nav-menu">
            <a href="/" data-hover="false" aria-current="page" class="nav-link w-nav-link w--current">Main</a>
            
            <a href="{% url 'chocolate_type' %}" data-hover="false" class="nav-link w-nav-link">Design Your Own Order</a>

            <a href="{% url 'about-us' %}" data-hover="false" class="nav-link w-nav-link">About Us</a>

          </nav>
        </div>
        <div class="header-right-side">
          

          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle" style="padding: 0; margin-left:20px; height: 25px">
              <img src="{% static 'images/search-icon.png' %}" width="25" data-hover="false" alt="" class="image-4" style="max-width: none; width: 25px; height: 25px">
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2">
                <form id="search-form" action="{% url 'search' %}?query={{ query }}" method="POST">
                  {% csrf_token %}
                  <div class="w-layout-grid mega-menu-grid">
                    <div class="input-group">
                      
                     <input name="search" type="text" placeholder="Search" class="form-control" id="search">
                     <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Go</button>

                    </div>
                  </div>
                </form>
              </div>
            </nav>
          </div>


          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle" style="padding: 0; margin-left:20px; height: 25px">
              <img src="{% static 'images/user.svg' %}" width="25" data-hover="false" alt="" class="image-4" style="max-width: none; width: 25px">
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2">
                <div class="w-layout-grid mega-menu-grid">
                  <div>
                   <ul style="list-style-type: none">
									   
										{% if request.user.is_authenticated %}
											{% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}
												{% if not request.user.is_staff and not request.user.is_superuser %}
												  <li class="mega-menu-title"><a class="heading-3" href="{% url 'account' request.user.profile.id %}" style="text-decoration: none;">Account</a></li>
                        {% endif %}
												<li><a class="heading-3" href="{% url 'logout' %}" style="text-decoration: none;">Sign Out</a></li>
                        <li><a class="heading-3" href="{% url 'favorites' %}" style="text-decoration: none;">Favorites</a></li>
											{% else %}
												<li class="mega-menu-title"><a class="heading-3" href="{% url 'register' %}" style="text-decoration: none;">Register</a></li>
                        <li><a class="heading-3" href="{% url 'login' %}" style="text-decoration: none;">Sign In</a></li>
                        
											{% endif %}
										{% else %}
											<li class="mega-menu-title"><a class="heading-3" href="{% url 'register' %}" style="text-decoration: none;">Register</a></li>
									    	<li><a class="heading-3" href="{% url 'login' %}" style="text-decoration: none;">Sign In</a></li>
										{% endif %}
									    
									    
									</ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle cart-icon-container" style="padding: 0; margin-left:20px; height: 25px">
              <img src="{% static 'images/shopping-cart.svg' %}" width="25" data-hover="false" alt="" class="image-4" style="max-width: none; width: 25px">
              {% if request.user.is_authenticated %}
                {% if order.get_order_total >= 0 %}

                  <div class="div-block-2">
                    <div class="text-block-2 items-quantity " style="padding: 0 7px" >{{ order.get_products }}</div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2" id="cart-box-container">
                <div class="w-layout-grid mega-menu-grid">
                  <div id="cart-container">
                   <h4 class="mega-menu-title">Cart</h4>
                    {% if order.get_order_total > 0 %}
                      <div class="cart-box">
                        {% for item in order.items.all %}
                          {% if item.item.customized_box %}

                            <div class="menu-2-columns">
                              <div class="mega-menu-column-4"><img src="{{ item.tray.image.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div>
                              <div class="mega-menu-column-2">
                                <h4 class="heading-5 cart-box-title">{{ item.item.title }}</h4>
                                {% if item.quantity_type == "Pieces" %}
                                  <h4 class="heading-6"><span style="font-size: 16px; color: #a38a72">{{ item.pieces_quantity }} X</span> {{ item.price }} KD</h4>
                                {% elif item.quantity_type == "Weight" %}
                                  <h4 class="heading-6"><span style="font-size: 16px; color: #a38a72">{{ item.weight_quantity }} X</span> {{ item.price }} KD</h4>
                                {% endif %}
                              </div>
                            </div>
                          {% else %}
                          
                            <div class="menu-2-columns">
                              <div class="mega-menu-column-4"><img src="{{ item.item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div>
                              <div class="mega-menu-column-2">
                                <h4 class="heading-5 cart-title-{{ item.item.id }} cart-box-title">{{ item.item.title }}</h4>
                                {% if item.quantity_type == "Pieces" %}
                                  <h4 class="heading-6"><span class="cart-quantity-{{ item.item.id }}" style="font-size: 16px; color: #a38a72">{{ item.pieces_quantity }} X</span> {{ item.price }} KD</h4>
                                {% elif item.quantity_type == "Weight" %}
                                  <h4 class="heading-6"><span class="cart-quantity-{{ item.item.id }}" style="font-size: 16px; color: #a38a72">{{ item.weight_quantity }} KG X</span> {{ item.price }} KD</h4>
                                {% endif %}
                              </div>
                            </div>
                          {% endif %}  
                        {% endfor %}
                      </div>
                    {% else %}
                      <h4 class="mega-menu-title empty-cart">Your cart is empty</h4>
                    {% endif %}
                  </div>
                </div>
                {% if order.get_order_total > 0 %}
                  <h4 class="mega-menu-title">Subtotal: <span class="cart-price">{{ order.get_order_total }}</span> KD<br></h4>
                  <a style="color: #fff" {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal-button{% endif %}{% else %}visitor-modal-button{% endif %}">place order</a>
                  <div style="text-align: center; margin-top: 10px" class="view-cart-text"><a href="{% url 'cart' %}">View Cart</a></div>
                {% endif %}
                  
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle" style="padding: 0; margin-left:5px; height: 25px">
              <img class="lang-icon image-4" src="{% static 'images/A.svg' %}" width="25" alt="" style="display: flex; max-width: none; width: 25px">
            </div>
            
          </div>

          <div class="menu-icon w-nav-button">
            <div class="menu-icon-top-line"></div>
            <div class="menu-icon-middle-line"></div>
            <div class="menu-icon-bottom-line"></div>
          </div>
        </div>
      </div>
      
    </div>
    <section class="section-full wf-section">
      <div class="form-wrapper w-form" style="padding: 0">
        <form class="container-1180px box-items-form" data-url="{% url 'box-items-choice-post' %}" method="POST">
          {% csrf_token %}
          <div data-animation="cross" data-hide-arrows="1" data-disable-swipe="1" data-duration="240" data-hover="false" class="slider w-slider">
            <div class="mask w-slider-mask">


              <div data-w-id="0f443d0a-2e50-0b15-cb49-6cc6e2061c1f" class="slide w-slide">
                <div class="slider-content-wrap">
                  <div class="form-content">
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="form-title-wrap">
                      <div class="form-section-title customized-box-title">Design Your Own Order</div>
                    </div>
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="checkbox_wrap">
                      

                      
                      <div class="row trays-slide" style="justify-content: center; padding:10px">
                        {% for tray in trays %}
                          <label for="{{ tray.slug }}" class="col-sm-6 col-md-4 col-lg-3 col-6" style="margin-bottom: 2rem; cursor: pointer;">
                            <input class="check" type="radio" data-price="{{ tray.price }}" data-type="{{ tray.type }}" value="{{ tray.slug }}" name="tray" id="{{ tray.slug }}" style="display: none;">
                            <div class="product-2" style="height: 100%">
                        
                              <div class="product-image-2" style="position: relative;">
                                  <img width="418" data-hover="false" src="{{ tray.image.url }}" alt="" class="card-featured-image-2">
                        
                              </div>
                              <div class="product-details-2" style="display: flex; flex-direction: column; align-items: center;">
                                <div class="productname">{{ tray.en_name }} - {{ tray.weight }} {{ tray.unit }}</div>
                                <div style="margin-top: 15px">

                                  <div class="productname" style="margin:0; font-size: 10px;">Delivery Date: {{ tray.delivery_date.en_date }}</div>
                                  {% if tray.width %}
                                    <div class="productname" style="margin:0; font-size: 10px;">width: {{ tray.width }} cm</div>
                                  {% endif %}
                                  {% if tray.height %}
                                    <div class="productname" style="margin:0; font-size: 10px;">height: {{ tray.height }} cm</div>
                                  {% endif %}
                                  {% if tray.length %}
                                    <div class="productname" style="margin:0; font-size: 10px;">length: {{ tray.length }} cm</div>
                                  {% endif %}
                                </div>


                                <h2 class="productprice">{% if tray.price > 0 %}{{ tray.price }} KD{% else %}---{% endif %}</h2>
                                <div class="hack17-counter-row" style="margin-bottom: 24px; justify-content: center;">
                                  <!-- <input class="check" type="radio" value="bars" name='tray' id='bars' style="display: none;"> -->
                                  <div class="hack17-counter-button hack17-up" style="width: 40px; height: 40px;"></div>
                                </div>
                              </div>
                            </div>
                          </label>
                        {% endfor %}
                      </div>


                      

                      
                      
                      
                      
                    </div>

                  </div>
                  <div id="first-slide" style="opacity:0" class="details-right"><img src="{% static 'images/1.svg' %}" data-hover="false" alt="" class="counter-image">
                    <div class="text-counter">1 / 5</div>
                  </div>
                </div>
              </div>


              <div  data-w-id="0f443d0a-2e50-0b15-cb49-6cc6e2061c1f" class="slide w-slide chocolates-slide">
                <div id="items-container" class="slider-content-wrap">
                  <div class="form-content">
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="form-title-wrap">
                      <div class="form-section-title customized-box-title">Choose chocolates</div>
                    </div>
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="checkbox_wrap">
                      

                      <div class="was-grid row" style="justify-content: center;">
                        <!-- {% for item in items %}
                      
                        {% endfor %} -->
                      
                      </div>
                      
                    </div>

                  </div>
                  <div id="items-slide" style="opacity:0" class="details-right"><img src="{% static 'images/1.svg' %}" data-hover="false" alt="" class="counter-image">
                    <div class="text-counter">2 / 5</div>
                  </div>
                </div>
              </div>
              <div data-w-id="78572520-4d30-76e7-1837-bda03936fb50" class="slide w-slide toppers-slide">
                <div id="toppers-container" class="slider-content-wrap">
                  <div class="form-content">
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="form-title-wrap">
                      <div class="form-section-title customized-box-title">Choose your topper</div>
                    </div>
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="checkbox_wrap">
                      
                      
                      <div class="row" style="justify-content: center; padding:10px">
                        {% for topper in toppers %}
                          <label for="{{ topper.slug }}" class="col-sm-6 col-md-4 col-lg-3 col-6" style="margin-bottom: 2rem; cursor: pointer;">
                            <input class="check" type="checkbox" data-price="{{ topper.price }}" value="{{ topper.slug }}" name="topper" id="{{ topper.slug }}" style="display: none;">
                            <div class="product-2">
                        
                              <div class="product-image-2" style="position: relative;">
                                  <img width="418" data-hover="false" src="{{ topper.image.url }}" alt="" class="card-featured-image-2">
                        
                              </div>
                              <div class="product-details-2" style="display: flex; flex-direction: column; align-items: center;">
                                <div class="productname">{{ topper.en_name }}</div>
                                <h2 class="productprice">{{ topper.price }} KD</h2>
                                <div class="hack17-counter-row" style="margin-bottom: 24px; justify-content: center;">
                                  <!-- <input class="check" type="radio" value="bars" name='topper' id='bars' style="display: none;"> -->
                                  <div class="hack17-counter-button hack17-up" style="width: 40px; height: 40px;"></div>
                                </div>
                              </div>
                            </div>
                          </label>
                        {% endfor %}
                      </div>

                    </div>
                  </div>
                  <div id="topper-slide" style="opacity:0" class="details-right">
                    <img src="{% static 'images/1.svg' %}" data-hover="false" alt="" class="counter-image">
                    <div class="text-counter">3 / 5</div>
                  </div>
                </div>
              </div>
              <div data-w-id="29139f87-1bcf-5083-093b-12b4da0be594" class="slide w-slide flowers-slide">
                <div class="slider-content-wrap">
                  <div class="form-content">
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="form-title-wrap">
                      <div class="form-section-title customized-box-title">Choose flowers</div>
                    </div>
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="checkbox_wrap">
                      



                      <div class="row" style="justify-content: center; padding:10px">
                        {% for flower in flowers %}
                          <label for="{{ flower.slug }}" class="col-sm-6 col-md-4 col-lg-3 col-6" style="margin-bottom: 2rem; cursor: pointer;">
                            <input class="check" type="checkbox" data-price="{{ flower.price }}" value="{{ flower.slug }}" name="flower" id="{{ flower.slug }}" style="display: none;">
                            <div class="product-2">
                        
                              <div class="product-image-2" style="position: relative;">
                                  <img width="418" data-hover="false" src="{{ flower.image.url }}" alt="" class="card-featured-image-2">
                        
                              </div>
                              <div class="product-details-2" style="display: flex; flex-direction: column; align-items: center;">
                                <div class="productname">{{ flower.en_name }}</div>
                                <h2 class="productprice">{{ flower.price }} KD</h2>
                                <div class="hack17-counter-row" style="margin-bottom: 24px; justify-content: center;">
                                  <!-- <input class="check" type="radio" value="bars" name='flower' id='bars' style="display: none;"> -->
                                  <div class="hack17-counter-button hack17-up" style="width: 40px; height: 40px;"></div>
                                </div>
                              </div>
                            </div>
                          </label>
                        {% endfor %}
                      </div>
                      
                    </div>
                  </div>
                  <div id="flowers-slide" style="opacity:0" class="details-right">
                    <img src="{% static 'images/2.svg' %}" data-hover="false" alt="" class="counter-image">
                    <div class="text-counter">4 / 5</div>
                  </div>
                </div>
              </div>
              
              <div data-w-id="29139f87-1bcf-5083-093b-12b4da0be594" class="slide w-slide">
                <div class="slider-content-wrap">
                  <div class="form-content">
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="form-title-wrap">
                      <div class="form-section-title customized-box-title">Choose your card</div>
                    </div>
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="checkbox_wrap">
                      


                      <div class="row cards-slide" style="justify-content: center; padding:10px; display: none;">
                        {% for card in cards %}
                          <label for="{{ card.slug }}-card" class="col-sm-6 col-md-4 col-lg-3 col-6" style="margin-bottom: 2rem; cursor: pointer;">
                            <input class="check" type="checkbox" data-price="{{ card.price }}" value="{{ card.slug }}" name="card" id="{{ card.slug }}-card" style="display: none;">
                            <div class="product-2">
                        
                              <div class="product-image-2" style="position: relative;">
                                  <img width="418" data-hover="false" src="{{ card.image.url }}" alt="" class="card-featured-image-2">
                        
                              </div>
                              <div class="product-details-2" style="display: flex; flex-direction: column; align-items: center;">
                                <div class="productname">{{ card.en_name }}</div>
                                <h2 class="productprice">{{ card.price }} KD</h2>
                                <div class="hack17-counter-row" style="margin-bottom: 24px; justify-content: center;">
                                  <!-- <input class="check" type="radio" value="bars" name='card' id='bars' style="display: none;"> -->
                                  <div class="hack17-counter-button hack17-up" style="width: 40px; height: 40px;"></div>
                                </div>
                              </div>
                            </div>
                          </label>
                        {% endfor %}
                      </div>
                        
                    </div>
                  </div>
                  <div id="last-slide" style="opacity:0" class="details-right">
                    <img src="{% static 'images/6.svg' %}" data-hover="false" alt="" class="counter-image">
                    <div class="text-counter">5 / 5</div>
                  </div>
                </div>
              </div>



              <div data-w-id="29139f87-1bcf-5083-093b-12b4da0be594" class="slide w-slide details-slide">
                <div class="slider-content-wrap">
                  <div class="form-content">
                    <div style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="form-title-wrap">
                      <div class="form-section-title customized-box-title">Box Details</div>
                    </div>
                    <div style="justify-content: center; -webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="checkbox_wrap">
                      
                      <div style="display: flex; flex-direction: column; height: auto; width: 700px; justify-content: space-between;">
                        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px">
                          <h3 class="box-tray" style="color: #a38a72; text-align: left; width: 70%; margin-top: 0">Tray: <span ></span></h3>
                          <h4 class="box-tray-price" style="color: #5d4135;"><span ></span> KD</h4>
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px">
                          <h3 style="color: #a38a72; text-align: left; width: 70%; margin-top: 0">Chocolates: <span class="box-chocolates"></span></h3>
                          <h4 style="color: #5d4135; text-align: right"><span class="box-chocolates-price"></span> KD</h4>
                        </div>
                        <div class="topper-details" style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px">
                          <h3 class="box-topper" style="color: #a38a72; width: 70%; margin-top: 0; text-align: left"></h3>
                          <h4 class="box-topper-price" style="color: #5d4135; text-align: right"></h4>
                        </div>
                        <div class="flower-details" style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px">
                          <h3 class="box-flower" style="color: #a38a72; width: 70%; margin-top: 0; text-align: left"></h3>
                          <h4 class="box-flower-price" style="color: #5d4135; text-align: right"></h4>
                        </div>
                        
                        <div class="card-details" style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px">
                          <h3 class="box-card" style="color: #a38a72; width: 70%; margin-top: 0; text-align: left"></h3>
                          <h4 class="box-card-price" style="color: #5d4135; text-align: right"></h4>
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 3rem;">
                          <h2 style="color: #a38a72; margin: 0">Total: </h2>
                          <h3 style="color: #5d4135; text-align: right"><span class="box-total"></span> KD</h3>
                        </div>
                      </div>

                      
                    </div>
                  </div>
                  <div id="cards-slide" style="opacity:0" class="details-right">

                  </div>
                </div>
              </div>



            </div>
            
            <div class="previous w-slider-arrow-left go-prev" role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="previous slide">
              <img src="https://uploads-ssl.webflow.com/6128d02a1143062566855877/6128d02b1143063373855887_arrow.svg" data-hover="false" alt="" class="arrow">
              <div class="previous-button ">Previous</div>
            </div>

            

            <div class="next-ori submit-container">
              
            </div>
            <div class="next-ori w-slider-arrow-right">
              <div class="button-primary-3 long">Next</div>
            </div>

            <div class="total w-slider-arrow-right">
              <div class="previous-button">Total: <span id="box-total">0</span> KD</div>
            </div>
            

          </div>
          <div class="mobile-nav-bottom"></div>
        </form>
        
      </div>
    </section>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61214ba6c39298139819b580" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  

  <script type="text/javascript">


    $(document).ready(function() {
      $("#loader-wrapper").css("display", "none")
    })
    
    var totalPrice = 0
    var trayPrice = 0
    


    $(".go-prev").on("click", function(){
      console.log("previous clicked")

      window.scrollTo(0, 0);

      if($("#last-slide").css("opacity") !== "0"){
        $(".cards-slide").css("display", "none")
        let checkedCard = $("input[name=card]:checked + div .product-details-2 .productprice").text()
        if(checkedCard){
          $("input[name=card]:checked").prop("checked", false)
          $("#box-total").html(parseFloat($("#box-total").html()) - parseFloat(checkedCard))
        }else{
          console.log("not checked")
        }
      }

      if($("#flowers-slide").css("opacity") !== "0"){
        let checkedFlower = $("input[name=flower]:checked + div .product-details-2 .productprice").text()
        if(checkedFlower){
          $("input[name=flower]:checked").prop("checked", false)
          $("#box-total").html(parseFloat($("#box-total").html()) - parseFloat(checkedFlower))
        }else{
          console.log("not checked")
        }
      }


      if($("#topper-slide").css("opacity") !== "0"){
        let checkedTopper = $("input[name=topper]:checked + div .product-details-2 .productprice").text()
        if(checkedTopper){
          $("input[name=topper]:checked").prop("checked", false)
          $("#box-total").html(parseFloat($("#box-total").html()) - parseFloat(checkedTopper))
        }else{
          console.log("not checked")
        }
      }




      if($("#items-slide").css("opacity") !== "0"){
        $(".trays-slide").css("display", "flex")
        
        let checkedTray = $("input[name=tray]:checked + div .product-details-2 .productprice").text()

        console.log(checkedTray)
        console.log(parseFloat(checkedTray))

        $("#box-total").html(parseFloat(checkedTray))
        totalPrice = parseFloat(checkedTray)
        trayPrice = parseFloat(checkedTray)

      }
    })

    $("a").not(".yes").on("click", function() {
      console.log("clicked")
      if ($("#cards-slide").css("opacity") !== "0"){
        console.log($("#cards"))
        console.log($("#cards-slide").css("opacity"))
        console.log("not 0")
        console.log($(this).prop("href"))
        $(".yes").prop("href", $(this).prop("href"))
        $(".modal").css("display", "flex")
        return false;
      }else{
        $("#cards-slide").css()
      }
    })


    $(".ok").on("click", function() {
			$(".modal").css("display", "none")
		})

    $("input[name='topper']").on("click", function(e){
      let inputValue = $(this).val()
      console.log(inputValue)
      
      $("input[name='topper']").each(function(){
        if($(this).val() === inputValue){
          if($(this).is(":checked")){
            $(this).parent("label").css({"border-color": "rgb(163, 138, 114)", "transform": "translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          }else{
            $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          }
        }else {
          $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          $(this).prop("checked", false)
        }
      })
    })





    
    
    
    var trayType = ""
    $("input[name=tray]").on("click", function(){
      totalPrice = 0
      trayType = $("input[name=tray]:checked").data("type")
      
      console.log(trayType)
      $("#box-total").html(parseFloat($("input[name=tray]:checked").data("price")))
      trayPrice = $("#box-total").html()
      totalPrice = parseFloat(totalPrice) + parseFloat(trayPrice)
      console.log(totalPrice, "TOTAL PRICE")
      console.log(trayPrice, "TRAY PRICE")
    })
    
   


    

    var topperPrice = 0
    
    $("input[name=topper]").on("click", function(){

      console.log(trayPrice, "TRAY PRICE 1.5")

      let inputValue = $(this).val()
      console.log(inputValue)
      $("input[name='topper']").each(function(){
        if($(this).val() === inputValue){
          if($(this).is(":checked")){
            $(this).parent("label").css({"border-color": "rgb(163, 138, 114)", "transform": "translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          }else{
            $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          }
        }else {
          $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          $(this).prop("checked", false)
        }
      })


      console.log(trayPrice, "TRAY PRICE 2")


      totalPrice = trayPrice
      topperPrice = 0
      totalPrice = parseFloat(totalPrice) + parseFloat(topperPrice)
      console.log($("input[name=topper]:checked").data("price"))
      if ($(this).is(":checked")){
        $("#box-total").html(parseFloat($("input[name=topper]:checked").data("price")) + parseFloat(totalPrice))
      }else{
        $("#box-total").html(parseFloat($("#box-total").html()) - parseFloat($(this).data("price")))
      }
      topperPrice = $("#box-total").html()
      console.log(totalPrice, "TOTAL PRICE")
      console.log(trayPrice, "TRAY PRICE 3")
      
    })
    
    
    

    var flowerPrice = 0

    $("input[name=flower]").on("click", function(){
      



      let inputValue = $(this).val()
      console.log(inputValue)
      $("input[name='flower']").each(function(){
        if($(this).val() === inputValue){
          if($(this).is(":checked")){
            $(this).parent("label").css({"border-color": "rgb(163, 138, 114)", "transform": "translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          }else{
            $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          }
        }else {
          $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          $(this).prop("checked", false)
        }
      })




      if(topperPrice === 0){
        totalPrice = trayPrice
      }else{
        totalPrice = topperPrice
      }
      console.log(trayPrice, "Tray price")
      console.log(topperPrice, "Topper price")
      flowerPrice = 0
      totalPrice = parseFloat(totalPrice) + parseFloat(flowerPrice)
      console.log(parseFloat($("input[name=flower]:checked").data("price")))
      console.log(totalPrice)
      if ($(this).is(":checked")){
        console.log("right")
        console.log(totalPrice)
        console.log(parseFloat($("input[name=flower]:checked").data("price")))
        $("#box-total").html(parseFloat($("input[name=flower]:checked").data("price")) + parseFloat(totalPrice))
      }else{
        $("#box-total").html(parseFloat($("#box-total").html()) - parseFloat($(this).data("price")))
      }
      flowerPrice = $("#box-total").html()
      
    })
    
    


    var ribbonPrice = 0
    
    $("input[name=ribbon]").on("click", function(){



      let inputValue = $(this).val()
      console.log(inputValue)
      $("input[name='ribbon']").each(function(){
        if($(this).val() === inputValue){
          if($(this).is(":checked")){
            $(this).parent("label").css({"border-color": "rgb(163, 138, 114)", "transform": "translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          }else{
            $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          }
        }else {
          $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          $(this).prop("checked", false)
        }
      })




      if(flowerPrice === 0){
        if(topperPrice === 0){
          totalPrice = trayPrice
        }else{
          totalPrice = topperPrice
        }
        
      }else{
        totalPrice = flowerPrice
      }
      ribbonPrice = 0
      totalPrice = parseFloat(totalPrice) + parseFloat(ribbonPrice)
      if ($(this).is(":checked")){
        $("#box-total").html(parseFloat($("input[name=ribbon]:checked").data("price")) + parseFloat(totalPrice))
      }else{
        $("#box-total").html(parseFloat($("#box-total").html()) - parseFloat($(this).data("price")))
      }
      ribbonPrice = $("#box-total").html()
      console.log(totalPrice, "TOTAL PRICE")
      
    })
  
    


    
    var cardPrice = 0
    $("input[name=card]").on("click", function(){



      let inputValue = $(this).val()
      console.log(inputValue)
      $("input[name='card']").each(function(){
        if($(this).val() === inputValue){
          if($(this).is(":checked")){
            $(this).parent("label").css({"border-color": "rgb(163, 138, 114)", "transform": "translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          }else{
            $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          }
        }else {
          $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
          $(this).prop("checked", false)
        }
      })





      if(ribbonPrice === 0){
        if(flowerPrice === 0){
          if(topperPrice === 0){
            totalPrice = trayPrice
          }else{
            totalPrice = topperPrice
          }
        }else{
          totalPrice = flowerPrice
        }
      }else{
        totalPrice = ribbonPrice
      }
      cardPrice = 0
      totalPrice = parseFloat(totalPrice) + parseFloat(cardPrice)
      if ($(this).is(":checked")){
        $("#box-total").html(parseFloat($("input[name=card]:checked").data("price")) + parseFloat(totalPrice))
      }else{
        $("#box-total").html(parseFloat($("#box-total").html()) - parseFloat($(this).data("price")))
      }
      cardPrice = $("#box-total").html()
      console.log(totalPrice, "TOTAL PRICE")
      
    })
  


    



    let input = $("input[type='radio']")
    $("input[type='radio']").on("click", function(e){
      
      $("input[type='radio']").each(function(){
        if($(this).is(":checked")){
          $(this).parent("label").css({"border-color": "rgb(163, 138, 114)", "transform": "translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
        }else {
          $(this).parent("label").css({"border-color": "rgba(62, 52, 200, 0.098", "transform": "translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)", "transform-style": "preserve-3d", "will-change": "transform"})
        }
      })
    })

    $(".w-slider-arrow-right").on("click", function(event){
      if($("input[name=tray]").is(":checked")){

      }else{
        event.preventDefault()
        alert("choose a tray")
        throw new Error("Choose a tray!");
        return false;
      }

      
      

      let lastSlide = $("#last-slide")
      if($("#last-slide").css("opacity") !== "0"){


        let boxTotal = 0
        {% for tray in trays %}
          if("{{ tray.slug }}" === $("input[name=tray]:checked").val()){
            $(".box-tray").html("Tray: {{ tray.en_name }}")
            $(".box-tray-price").html("{{ tray.price }} KD")
            boxTotal += parseFloat({{ tray.price }})
          }
        {% endfor %}
        $(".box-chocolates").empty()
        let chocolatesPrice = 0
        let itemsInputs = $(".hack17-counter-row input")

        itemsInputs.each(function(){
          if($(this).val().split(" ")[0] > 0){
            {% for item in items %}

              if({{ item.id }} === $(this).data("id")){
                $(".box-chocolates").append("{{ item.title }},<br>")
                chocolatesPrice += parseFloat({{ item.price }}) * parseFloat($(this).val().split(" ")[0]) / 0.25
              }

            {% endfor %}
          }
        })
        boxTotal += parseFloat(chocolatesPrice)
        $(".box-chocolates-price").html(chocolatesPrice)
        
        {% for topper in toppers %}
          if($("input[name=topper]").is(":checked")){
            if("{{ topper.slug }}" === $("input[name=topper]:checked").val()){
              $(".topper-details").css("display", "flex")
              $(".box-topper").html("Topper: {{ topper.en_name }}")
              $(".box-topper-price").html("{{ topper.price }} KD")
              boxTotal += parseFloat({{ topper.price }})
            }
          }else{
            $(".topper-details").css("display", "none")
          }
          
        {% endfor %}

        {% for flower in flowers %}
          if($("input[name=flower]").is(":checked")){
            if("{{ flower.slug }}" === $("input[name=flower]:checked").val()){
              $(".flower-details").css("display", "flex")
              $(".box-flower").html("Flower: {{ flower.en_name }}")
              $(".box-flower-price").html("{{ flower.price }} KD")
              boxTotal += parseFloat({{ flower.price }})
            }
          }else{
            $(".flower-details").css("display", "none")
          }
          
        {% endfor %}


        


        {% for card in cards %}
        if($("input[name=card]").is(":checked")){
          if("{{ card.slug }}" === $("input[name=card]:checked").val()){
            $(".card-details").css("display", "flex")
            $(".box-card").html("Card: {{ card.en_name }}")
            $(".box-card-price").html("{{ card.price }} KD")
            boxTotal += parseFloat({{ card.price }})
          }
        }else{
          $(".card-details").css("display", "none")
        }
          
        {% endfor %}

        
        $(".box-total").html(boxTotal)

    

        console.log("hiii")

        $(".w-slider-mask").css("height", "600px")
      
        $(".submit-container").html('<p class="error-text" style="color: red; font-size: 1rem; margin: 0"></p><button type="button" class="box-submit long submit yes" >Add To Cart</button>')
        
        
        
      }else {
        $(".w-slider-mask").css("height", "auto")
        console.log($("#last-slide").css("opacity"), "4/4 opacity")
        console.log("hello")
      }


      


      if($("#items-slide").css("opacity") !== "0"){
        let weight = $(".w-input").data("type").split(" ")[0]
        let unit = $(".w-input").data("type").split(" ")[1]

        var arr = [];
        document.querySelectorAll(".w-input").forEach(function (el) {
          arr.push(el.value)
        })
        var sum = arr.reduce((a, b) => parseFloat(a) + parseFloat(b))
        if(unit === "Kilogram"){
          if (parseFloat(sum) === parseFloat(weight)) {
              
          }else {
              
              alert("Selected weight is less than " + weight + " " + unit)
              throw new Error("Selected weight is less than " + weight + " " + unit)
              return false;
          }
        }else{
            if (parseFloat(sum) === parseFloat(weight / 1000)) {
                
            }else {
                alert("Selected weight is less than " + weight + " " + unit)
                throw new Error("Selected weight is less than " + weight + " " + unit)
                return false
            }
        }
      }
    })

    $(".button-primary-3.long").on("click", function(event){

      
      console.log("button clicked")
      
      if($("#flowers-slide").css("opacity") !== "0"){
        $(".cards-slide").css("display", "flex")
      }

      window.scrollTo(0, 0);
      

      if($("input[name=tray]").is(":checked")){

      }else{
        event.preventDefault()
        alert("choose a tray")
        return false;
      }

      
      

      let lastSlide = $("#last-slide")
      if($("#last-slide").css("opacity") !== "0"){

        

        
    

        console.log("hiii")

        $(".w-slider-mask").css("height", "600px")
      
        $(".submit-container").html('<p class="error-text" style="color: red; font-size: 1rem; margin: 0"></p><button type="button" class="button-primary-3 long submit yes">Add To Cart</button>')
        
        
        
      }else {
        $(".w-slider-mask").css("height", "auto")
        console.log($("#last-slide").css("opacity"), "4/4 opacity")
        console.log("hello")
      }


      if($("#first-slide").css("opacity") !== "0"){
        $(".trays-slide").css("display", "none")
        let slug = $("input[name=tray]:checked").attr("value")
        {% for tray in trays %}
          if("{{ tray.slug }}" == slug){
            var weight = {{ tray.weight }}
            var unit = "{{ tray.unit }}"
            console.log("{{ tray.en_name }}")
            console.log(weight)
            console.log(unit)
          }
        {% endfor %}
          
        let quantityClass = weight + " " + unit
        
        
        if($(".was-grid").children().length > 0){
          console.log("hala")
          $(".was-grid").empty()
        }else {
          console.log($(".was-grid").children().length, "Div Length")
        }
        {% for item in items %}

          if(trayType.includes("{{ item.type }}")){
            $(".was-grid").append('<div class="col-sm-6 col-md-4 col-lg-3 col-6" style="margin-bottom: 18px"><div class="product-2" style="height: 100%"><div class="product-image-2"><img width="418" data-hover="false" src="{{ item.image.url }}" alt="" class="card-featured-image-2"></div><div class="product-details-2" style="display: flex; flex-direction: column; align-items: center;position: relative"><div class="productname-customize">{{ item.title }}</div><h2 class="productprice">{{ item.price }} KD</h2><div class="hack17-counter-row" style="width: auto!important"><div class="hack17-counter-button hack17-up" ><img src="{% static "images/up-arro.svg" %}" alt="" class="hack16-counter-arrow flip"></div><input data-price="{{ item.price }}" data-id="{{ item.id }}" data-type="'+ quantityClass +'" type="text" class="hack17-counter-input w-input '+ quantityClass +'" name="quantity-{{ item.slug }}" value="0 KG" id="quantity-{{ item.slug }}" style="background: transparent; padding: 0" readonly><div class="hack17-counter-button hack17-down"><img src="{% static "images/up-arro.svg" %}" alt="" class="hack16-counter-arrow"></div></div></div></div></div>')
          }
          
            
        





        {% endfor %}
        
        $("#items-container").css("display", "flex")
        
        
        
      }else{
        console.log("hellll no")
      }


      console.log($("#items-slide").css("opacity"))
      if($("#items-slide").css("opacity") !== "0"){
        console.log("not 0")
        let weight = $(".w-input").data("type").split(" ")[0]
        let unit = $(".w-input").data("type").split(" ")[1]

        var arr = [];
        document.querySelectorAll(".w-input").forEach(function (el) {
          arr.push(el.value)
        })
        var sum = arr.reduce((a, b) => parseFloat(a) + parseFloat(b))
        if(unit === "Kilogram"){
          if (parseFloat(sum) === parseFloat(weight)) {
              console.log("here")
              $("#items-container").css("display", "none")
          }else {
              
              alert("Selected weight is less than " + weight + " " + unit)

              return false;
          }
        }else{
            if (parseFloat(sum) === parseFloat(weight / 1000)) {
              console.log("there")
              $("#items-container").css("display", "none")
            }else {
                alert("Selected weight is less than " + weight + " " + unit)
                return false
            }
        }
      }
    })


    

    $(".previous").on("click", function(){
      let cardsSlide = $("#last-slide")

      
      if($("#cards-slide").css("opacity") !== "0"){

        
        $("#items-container").css("display", "none")
        
        $(".w-slider-mask").css("height", "auto")
        

        console.log("hiii")
      
        $(".submit-container").html('')
        
        
      }else {
        $(".w-slider-mask").css("height", "auto")
        console.log($("#last-slide").css("opacity"), "4/4 opacity")
        console.log("hello")
      }


      if($("#topper-slide").css("opacity") !== "0"){
        $("#items-container").css("display", "flex")
      }
    })
     
      
      
   

    $(".lang-icon").on("click", function(){
      console.log("hello")
      let currentLocation = window.location
      window.location = currentLocation.origin + "/ar" + currentLocation.pathname
      console.log(window.location)
    })
  
    
    


  </script>
  <script src="{% static 'js/webflow.js' %}" type="text/javascript"></script>

  <script src="{% static 'js/counter.js' %}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>