{% extends 'base.html' %}

{% load static %}

{% block title %}Chocolate Box{% endblock %}







{% block content %}
    <style>


        label {
        cursor: pointer;
        filter: grayscale(100%);
        }

        label:hover {
        filter: grayscale(0);
        }
        input[type="radio"]:checked + label {
        filter: grayscale(0);
        }

    </style>




    <div class="container" style="text-align: center">
        <form id="chocolate_box_form" method="POST">
            {% csrf_token %}
            <fieldset>
                <h1 style="margin-top: 5rem; margin-bottom: 3rem; color: #000">
                    Choose the box
                </h1>
                <div class="row" style="justify-content: center; padding: 10px">
                    <div class="col-6 col-md-4 col-lg-3" style="margin-bottom: 3rem; display: flex; justify-content: flex-end;">
                        <input type="radio" name="box_image" class="sr-only" id="first" value="first_box">
                        <label for="first" style="width: 100%">
                            <img style="width: 100%" src="{% static 'images/first_box_paper.jpg' %}" alt="first">
                        </label>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3" style="margin-bottom: 3rem; display: flex; justify-content: center;">
                        <input type="radio" name="box_image" class="sr-only" id="second" value="second_box">
                        <label for="second" style="width: 100%">
                            <img style="width: 100%" src="{% static 'images/second_box_paper.jpg' %}" alt="second">
                        </label>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3" style="margin-bottom: 3rem; display: flex; justify-content: flex-start;">
                        <input type="radio" name="box_image" class="sr-only" id="third" value="third_box">
                        <label for="third" style="width: 100%">
                            <img style="width: 100%" src="{% static 'images/third_box_paper.jpg' %}" alt="third">
                        </label>
                    </div>
                </div>
            </fieldset>
            <div class="row" style="justify-content: center;"><button class="btn " type="submit" name="button" style="width: 10rem; margin-bottom: 5rem">Next</button></div>

        </form>
    </div>
{% endblock %}