{% extends 'base.html' %}



{% block title %}Visitor{% endblock title %}




{% block content %}


<style>


    .empty-card-div{
        width: 14px;
        height: 14px; 
        border: 1px solid #dee2e6; 
        border-radius: 3px;
        background: #dee2e6;
    }

    #empty-card:checked + label div {
        background: #a38a72;
        border-color: #a38a72;
    }
  

    input[name="address-type"]:checked + button{
        background: #a38a72;
        color: #fff;
    }


    .address-choice:checked + label div {
        background: #a38a72;
    }


</style>


<main style="margin-top: 10rem">

    <div class="container wow fadeIn" style="margin-top: 5rem;">

        <form id="email-form" name="email-form" data-name="Email Form" class="post-card-newsletter-form" method="POST">
            {% csrf_token %}
            
            <h1 class="heading-4" style="font-size: 32px">Address Details</h1>
            {{ profile_form.area }}
            {{ profile_form.block }}
            {{ profile_form.street }}
            {{ profile_form.house }}
            {{ profile_form.floor }}
            {{ profile_form.apartment }}

            
            <div class="div-block">
                <button type="submit" class="button-primary-3 big w-button">Continue</button>
            </div>
        </form>
         

        



    </div>



</main>



{% endblock content %}




{% block script %}


<script>
    $(document).ready(function() {
        $(".yes-button").on("click", function() {
            console.log("hi")
            $(this).hide("fast")
        })

        $(".cancel-button").on("click", function() {
            console.log("hi")
            $(".yes-button").show("fast")
            $("input[name=gift-order]").prop("checked", false)
        })

    

        $(".new-address").on("click", function() {
            $("#new-address").prop("checked", true)
            $(".address-form").empty()
            $(".address-form").append('<input type="text" name="address-name" placeholder="Address Name" class="input w-input" maxlength="100" ><input type="text" name="area" placeholder="Area" class="input w-input" maxlength="100" ><input type="text" name="block" placeholder="Block" class="input w-input" maxlength="100" ><input type="text" name="street" placeholder="Street" class="input w-input" maxlength="100" ><input type="text" name="house" placeholder="House" class="input w-input" maxlength="100" ><input type="text" name="floor" placeholder="Floor No" class="input w-input" maxlength="100" ><input type="text" name="apartment" placeholder="Apartment No" class="input w-input" maxlength="100" ><div class="row" style="padding: 0 12px"><button type="button" class="button-primary-3 big w-button save" style="padding: 12px 30px; margin: 10px 0">Save and continue</button><button class="button-primary-3 big w-button without-save" style="padding: 12px 30px;">Continue without saving</button></div>')
        })

        $(".saved-address").on("click", function() {
            $("#saved-address").prop("checked", true)
            $(".address-form").empty()

            {% for address in addresses %}
                $(".address-form").append('\
                <input type="radio" id="{{ address.id }}" value="{{ address.id }}" name="address-choice" style="display: none;" class="address-choice" required>\
                <label for="{{ address.id }}" style="display: flex; cursor: pointer; margin-bottom: 15px;">\
                    <div class="hack17-counter-button hack17-up" style="width: 40px; height: 40px;"></div>\
                    <h3 class="heading-3" style="display: flex; align-items: center; margin-top: 0; margin-bottom: 0; margin-left: 15px;">{{ address.title }}</h3>\
                </label>')
            {% endfor %}
            $(".address-form").append('<div style="width: 100%; text-align: center"><button type="submit" class="button-primary-3 big w-button" style="padding: 12px 30px;">continue</button></div>')
        })




        $(".address-form").on("click", "div .save", function() {
            $("#save").prop("checked", true)
            console.log("hiiiiiii")
            $("#options-form").submit()
        })


        




    })






    
</script>


{% endblock %}