<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue Aug 31 2021 15:24:31 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="61214ba6c3929879bd19b585" data-wf-site="61214ba6c39298139819b580">
<head>
  <meta charset="utf-8">
  <title>Chocolate co. - We spread love everywhere</title>
  <meta content="Chocolate co. - We spread love everywhere" property="og:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="og:image">
  <meta content="Chocolate co. - We spread love everywhere" property="twitter:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="twitter:image">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/chocolateco.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="page-wrapper">
    
    <footer data-w-id="71417737-5b4b-a09e-2591-ff5af838e990" class="footer wf-section">
      <div class="container-1180px">
        <div class="w-layout-grid footer-top">
          <div id="w-node-_71417737-5b4b-a09e-2591-ff5af838e993-f838e990" class="footer-column-1">
            <a href="index.html" aria-current="page" class="footer-logo w-inline-block w--current"><img src="images/Chocolate-Co-logo.svg" data-hover="false" alt=""></a>
          </div>
          <div id="w-node-_71417737-5b4b-a09e-2591-ff5af838e99f-f838e990" class="footer-column-4">
            <div class="footer-social-media">
              <a href="https://facebook.com" class="social-icon w-inline-block"><img src="images/facebook.svg" data-hover="false" alt="" class="image-2"></a>
              <a href="https://www.instagram.com/thechocolateco/" class="social-icon w-inline-block"><img src="images/instagram.svg" data-hover="false" alt="" class="image"></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">© Chocolate.co 2022. All Rights Reserved</div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61214ba6c39298139819b580" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>