{% extends 'base.html' %}
{% load static %}



{% block content %}

<section class="section wf-section" style="padding-bottom: 0">
    <div class="container-1180px">
        <h2 class="heading-3">{{ sub.en_title }}</h2>
    </div>
    <div class="container-1180px">
        <div class="latest-blog-post-wrapper mt-85" style="display: flex; justify-content: center; flex-direction: column; align-items: center; margin-top: 80px">
            {% if orders.count > 0 %}
                {% for order in orders %}
                    <div class="history-item">
                        <div style="height: 50px; background: #70574c; color: #fff; padding: 10px;">
                            {{ order.ordered_date|date:"d/m/Y" }}
                        </div>
                        {% for item in order.items.all %}
                            <div style="display: flex; margin-top: 1rem;">
                                <a href="#">
                                    {% if item.item.title == "Customize your box" %}
                                        <img src="{{ item.tray.image.url }}" alt="" style="width: 200px; border-radius: 10px;">
                                    {% else %}
                                        <img src="{{ item.item.picture.url }}" alt="" style="width: 200px; border-radius: 10px;">
                                    {% endif %}
                                </a>
                                <div style="margin-left: 1rem;">
                                    <a href="#">
                                        <h2 style="color: #70574c;" class="heading-4">{{ item.item.title }}</h2>
                                    </a>
                                    <h3 style="color: #70574c;" class="heading-4">Price: <span style="font-weight: 400; font-size: 20px;">{{ item.price }} KD</span> </h3>
                                    <h3 style="color: #70574c;" class="heading-4">Quantity: <span style="font-weight: 400; font-size: 20px;">{% if item.quantity_type == "Pieces" %}{{ item.pieces_quantity }} PCs{% else %}{{ item.weight_quantity }} KG{% endif %}</span> </h3>
                                </div>
                            </div>
                        {% endfor %}
                        <table class="table table-bordered" style="margin: 3rem 0;">
                            <tbody>
                                <tr>
                                    <th scope="row" class="heading-4">Order ID</th>
                                    <td>{{ order.id }}</td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row"class="heading-4">Transaction ID</th>
                                    <td>{{ order.transaction.first.track_id }}</td>
                                </tr>
                                <tr>
                                    <th scope="row"class="heading-4">Order Status</th>
                                    <td>{{ order.status }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="heading-4">Total</th>
                                    <td>{{ order.get_order_total }} KD</td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                {% endfor %}
            {% else %}
                <div style="height: 170px; display: flex; align-items: center; margin-bottom: 120px">
                    <h2 style="color: #70574c;">You Don't have orders yet</h2>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}