{% extends 'base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block styleFile %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style-skin-food02.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">



   
{% endblock styleFile %}

{% block customStyle %}

<style>
    
    .tt-input-counter.style-01 .mobile-minus:before, .tt-input-counter.style-01 .mobile-plus:before{
        line-height: 15px
    }



    #loader-wrapper {
        display: none
    }

    @media screen and (max-width: 789px){
        .hack17-counter-input{
            text-align: left;
        }
    }

</style>


{% endblock customStyle %}



{% block content %}


<div class="container-indent" style="margin-top: 10rem">
    
        <div class="container">
            {% csrf_token %}
            
            <h1 class="tt-title-subpages noborder heading-4" style="text-align: left">Order Summary</h1>
            <div class="tt-shopcart-table-02">
                
                <table>
                    <tbody>
                        {% for item in order.items.all %}

                            <tr class="{% if item.item.customized_box %}item-{{ item.id }}{% else %}item-{{ item.id }} {% endif %}">
                                <td>
                                    <a href="{% if not item.item.customized_box %}{% url 'detail' item.item.id %}{% else %}{% url 'chocolate_type' %}{% endif %}">
                                        <div class="tt-product-img">
                                            <img src="{% if item.item.customized_box %}{{ item.tray.image.url }}{% else %}{{ item.item.picture.url }} {% endif %}" alt="">
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% if not item.item.customized_box %}{% url 'detail' item.item.id %}{% else %}{% url 'chocolate_type' %}{% endif %}">
                                        <h2 class="heading-3 item-title" style="display: inline; font-size: 20px">
                                            {{ item.item.title }} {% if item.item.has_choices %} ( {{ item.choice }} ) {% endif %}{% if item.item.has_flavors %} ( Flavor: {{ item.flavor.en_name }} ) {% endif %} {% if item.item.has_colors %} ( Color: {{ item.color.en_name }} )  {% endif %}
                                        </h2>
                                    </a>
                                    {% comment %} {% if item.item.customized_box %}
                                        <div class="tooltip" style="opacity: 1"><i class="fas fa-info-circle"></i>
                                            <span class="tooltiptext">{{ item.chocolate_type }},<br />{{ item.quantity_choice }},<br />{% for i in item.box_items.all %}{% if i.quantity > 0 %} {{ i.quantity }} of {{ i.item.title }},<br />{% endif %}{% endfor %}</span>
                                        </div>
                                    {% endif %} {% endcomment %}
                                
                                    <ul class="tt-list-parameters">
                                        <li>
                                            <div class="heading-3" style="text-align: left">
                                                {{ item.price }} KD
                                            </div>
                                        </li>
                                        <li style="margin: 0">
                                            <div class="detach-quantity-mobile">

                                                <div class="hack17-counter-row mt-0" style="width: 62%">
                                            
                                                    <input type="text" value="{% if item.quantity_type == "Pieces" %}{{ item.pieces_quantity }}{% else %}{{ item.weight_quantity }} KG{% endif %}" size="10" name='quantity' class="hack17-counter-input w-input {{ item.id }}-quantity {% if item.quantity_type == "Weight" %}weight-quantity{% endif %}" id="quantity-{{ item.id }}" name="Hack16-Counter-Input-11" data-name="Hack 16 Counter Input 11" readonly style="background: transparent; padding: 0">
                                                </div>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="heading-3" style="text-align: left">
                                                <span class="{% if not item.item.customized_box %}{{ item.id }}-mobile-price {% else %}{{ item.id }}-mobile-price {% endif %}">{{ item.get_item_total }}</span> KD
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="heading-3">
                                        {{ item.price }} KD
                                    </div>
                                </td>
                                <td>
                                    <div class="detach-quantity-desctope">
                                        <div class="hack17-counter-row">
                                            
                                            <input type="text" value="{% if item.quantity_type == "Pieces" %}{{ item.pieces_quantity }}{% else %}{{ item.weight_quantity }} KG{% endif %}" size="10" name='quantity' class="hack17-counter-input w-input {{ item.id }}-quantity {% if item.quantity_type == "Weight" %}weight-quantity{% endif %}" id="quantity-{{ item.id }}" name="Hack16-Counter-Input-11" data-name="Hack 16 Counter Input 11" readonly style="background: transparent; padding: 0">
                                        
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="subtotal heading-3">
                                        <span class="{% if not item.item.customized_box %}{{ item.id }}-price {% else %}{{ item.id }}-price {% endif %}">{{ item.get_item_total }}</span> KD
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>


                            {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <div class="tt-shopcart-col">
                <div class="row">

                    {% comment %} <div class="col-lg-6">
                        <div class="tt-shopcart-box tt-boredr-large">
                            <table class="tt-shopcart-table01">
                                
                                <tfoot>
                                    <tr>

                                        
                                        <th class="heading-4" style="color: #a38a72; font-size: 20px">Apply Coupon Code</th>
                                    </tr>
                                </tfoot>
                            </table>
                            
                            <form class="coupon-form">
                                <div class="input-group coupon" style="height: 46px">
                                    {% csrf_token %}
                                    <input name="coupon" type="text" placeholder="Coupon" class="form-control" id="coupon" style="height: 46px" {% if order.coupon %}value="{{ order.coupon.code }}"{% endif %} required> 
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Apply</button>
                                    </div>
                                   
                                
                                </div>
                                <div class="error-message w-form-fail" style="display: none;">
                                    <div class="error-message-text">Invalid Coupon Code.</div>
                                  </div>
                            </form>
                        </div>
                    </div> {% endcomment %}
                    
                    <div class="col-lg-12">
                        <div class="tt-shopcart-box tt-boredr-large">
                            <table class="tt-shopcart-table01">
                                
                                <tfoot>
                                    {% if order.order_type == "Delivery" %}

                                        {% if discount %}

                                        <tr>

                                                    
                                            <th class="heading-4" style="color: #a38a72; font-size: 20px">Subtotal</th>

                                            <td class="heading-4 no-coupon" style="color: #a38a72"><span class="order-total">{{ order.get_order_sub }}</span> KD</td>
                                            <td class="heading-4 with-coupon" style="color: #a38a72; display: none"><span></span> KD</td>
                                            

                                        </tr>


                                        <tr>         
                                            <th class="heading-4" style="color: #a38a72; font-size: 20px">Discount</th>
                                            <td class="heading-4 no-coupon" style="color: #a38a72"><span class="order-total">{{ discount.value }}</span>%</td>
                                            <td class="heading-4 with-coupon" style="color: #a38a72; display: none"><span></span> KD</td>
                                        </tr>

                                        <tr>         
                                            <th class="heading-4" style="color: #a38a72; font-size: 20px">Subtotal after discount</th>

                                            <td class="heading-4 no-coupon" style="color: #a38a72"><span class="order-total">{{ order.get_discount_sub }}</span> KD</td>
                                            <td class="heading-4 with-coupon" style="color: #a38a72; display: none"><span></span> KD</td>
                                        </tr>
                                            
                                        
                                        <tr>

                                            
                                            <th class="heading-4" style="color: #a38a72; font-size: 20px">Delivery Charge</th>
                                            <td class="heading-4 with-coupon" style="display: none"></td>

                                            <td class="heading-4" style="color: #a38a72">{{ delivery_charge }} KD</td>
                                        </tr>
                                        <tr>
                                            <th class="heading-4" style="color: #a38a72; font-size: 20px">Grand Total</th>
                                            <td class="heading-4 with-coupon" style="display: none;"></td>

                                            <td class="heading-4" style="color: #a38a72"><span class="delivery-order-total" >{{ order.get_discount_total }}</span> KD</td>
                                        </tr>

                                        {% else %}
                                        

                                            <tr>

                                                    
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px">Subtotal</th>

                                                <td class="heading-4 no-coupon" style="color: #a38a72"><span class="order-total">{{ order.get_order_sub }}</span> KD</td>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"><span></span> KD</td>
                                                

                                            </tr>
                                                
                                            
                                            <tr>

                                                
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px">Delivery Charge</th>
                                                <td class="heading-4 with-coupon" style="display: none"></td>

                                                <td class="heading-4" style="color: #a38a72">{{ delivery_charge }} KD</td>
                                            </tr>
                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px">Grand Total</th>
                                                <td class="heading-4 with-coupon" style="display: none;"></td>

                                                <td class="heading-4" style="color: #a38a72"><span class="delivery-order-total" >{{ order.get_order_total }}</span> KD</td>
                                            </tr>
                                        {% endif %}
                                        
                                        
                                        
                                
                                    {% else %}
                                        

                                        {% if discount %}
                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px">Subtotal</th>
                                                <td class="heading-4 no-coupon" style="color: #a38a72"><span class="order-total">{{ order.get_order_total }}</span> KD</td>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"><span></span> KD</td>
                                            </tr>

                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px">Discount</th>
                                                <td class="heading-4 no-coupon" style="color: #a38a72"><span class="order-total">{{ discount.value }}%</span></td>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"><span></span> KD</td>
                                            </tr>

                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px">Grand Total</th>
                                                <td class="heading-4 no-coupon" style="color: #a38a72"><span class="order-total">{{ order.get_discount_total }}</span> KD</td>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"><span></span> KD</td>
                                            </tr>
                                        {% else %}

                                            <tr>
                                                <th class="heading-4" style="color: #a38a72; font-size: 20px">Grand Total</th>
                                                <td class="heading-4 no-coupon" style="color: #a38a72"><span class="order-total">{{ order.get_order_total }}</span> KD</td>
                                                <td class="heading-4 with-coupon" style="color: #a38a72; display: none"><span></span> KD</td>
                                            </tr>    

                                        {% endif %}
                                    {% endif %}
                                    
                                </tfoot>
                            </table>
                            <a href="{% url 'send-payment' %}" class="btn btn-lg heading-4" style="color: #fff"><span class="icon icon-check_circle"></span>Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script>
    $(document).ready(function() {
        $(".coupon-form").on("submit", (event) => {
            event.preventDefault()
            let serializedData = $(".coupon-form").serialize();
            $.ajax({
            url: "{% url 'submit-coupon' %}",
            type: "post",
            data: serializedData,
            success: function(response){
                if (response.status.code == 200){
                    $(".order-total").text(parseFloat(response.results.before).toFixed(3))
                    $(".order-total").parent().css("text-decoration", "line-through")

                    $(".cart-price").text(parseFloat(response.results.after).toFixed(3))
                    $(".with-coupon span").text(parseFloat(response.results.after).toFixed(3))
                    $(".delivery-order-total").text(parseFloat(response.results.grandTotal).toFixed(3))

                    $(".with-coupon").css("display", "table-cell")


                    $(".error-message").css("display", "none")
                }else if(response.status.code !== 100){
                    $(".error-message-text").text(response.results)
                    $(".error-message").css("display", "block")
                }else{
                    
                    $(".page-wrapper").prepend('<div class="replace-coupon" style="width: 100%; height: 100%; position: fixed; display: flex; z-index: 1100; background-color: rgba(0,0,0,0.4); justify-content: center; align-items: center; padding: 50px; top: 0">\
                                                    <div style="background-color: #fff; border-radius: 10px; padding: 20px; text-align: center; display: flex; flex-direction: column; height: auto; width: 400px; justify-content: space-evenly">\
                                                        <h4 class="heading-4">You already have a coupon with '+ response.results +'% off</h4>\
                                                        <button class="button-primary-3 w-button replace" style="width: 100%; margin-bottom: 10px">Replace it</button>\
                                                        <button class="button-primary-3 w-button ok" style="width: 100%">Cancel</button>\
                                                    </form>\
                                                    </div>\
                                                </div>'
                    )
                }
                
            },
            error: function(xhr, status, error) {
              var err = eval("(" + xhr.responseText + ")");
              alert(err.Message);
            }
          })
        })



        $(".page-wrapper").on("click", ".replace-coupon div .ok", () => {
            console.log("CLICKED")
            $(".replace-coupon").remove()
        })


        $(".page-wrapper").on("click", ".replace-coupon div .replace", () => {
            let serializedData = $(".coupon-form").serialize();
            $.ajax({
            url: "{% url 'replace-coupon' %}",
            type: "post",
            data: serializedData,
            success: function(response){
                if (response.status.code == 200){
                    $(".replace-coupon").remove()
                    $(".with-coupon span").text(parseFloat(response.results.total).toFixed(3))
                    $(".delivery-order-total").text(parseFloat(response.results.grandTotal).toFixed(3))

                    $(".cart-price").text(parseFloat(response.results.grandTotal).toFixed(3))
                    $(".error-message").css("display", "none")
                }
                
            },
            error: function(xhr, status, error) {
              var err = eval("(" + xhr.responseText + ")");
              alert(err.Message);
            }
          })
        })


        $('.item-title').each(function(i, obj) {
			console.log("in")
			if($(this).html() !== undefined){
				console.log("hiiiiiii")
				if($(this).is(":contains('   ')")){
					console.log($(this).html())
					// obj.text(obj.text().replace("   ", "<br>"))
					var text = $(this).html().replace(/   /g, "<br>");
		
					$(this).html(text);
		
				}
			}else{
				console.log("hello")
			}
			
		});
        
    });
</script>

{% endblock script %}
