{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
	
    <section class="section wf-section" style="margin-top: 5rem">
		
		<div class="container-1180px">
			<h3>Privacy Policy</h3>
            <p>
                Thank you for choosing to be part of our community at Chocolateco Company.
                We are committed to protecting your personal information and
                your right to privacy. If you have any questions or concerns about this privacy notice
                or our practices with regard to your personal information, please contact us at
                info@chocolatecokw.com. <br>


                This privacy notice describes how we might use your information if you: <br>
                    - Visit our website <br>
                    - Engage with us in other related ways – including any sales, marketing, or events <br>

                The purpose of this privacy notice is to explain to you in the clearest way possible
                what information we collect, how we use it, and what rights you have in relation to it. <br>
                If there are any terms in this privacy notice that you do not agree with, please
                discontinue use of our Services immediately. <br>
            </p>
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>1. What Information Do We Collect</h3>
            <p>
              In Short: We collect personal information that you provide us.
            </p>
            <p>
              We collect personal information that you voluntarily provide to us when you register
              on the Website, express an interest in obtaining information about us or our products
              and Services, when you participate in activities on the Website or otherwise when
              you contact us.
            </p>

            <p>
              The personal information that we collect depends on the context of your interactions
              with us and the Website, the choices you make and the products and features you
              use. The personal information we collect may include the following:
            </p>

            <p>
              Personal Information Provided by You. We collect names; phone numbers; email
              addresses; passwords; and other similar information.
            </p>


            <p>
              Payment Data. We may collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument.
            </p>


            
            <p>
              All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.
            </p>
            
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>2. How Do We Use Your Information?</h3>
      <p>
        We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent. <br>
      </p>
      <p>
        We use personal information collected via our Website  for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.
      </p>

      <h4>
        We use the information we collect or receive:
      </h4>

      <p>To facilitate account creation and login process.</p>
      

      <p>Request feedback.</p>

      <p>To manage user accounts.</p>


      
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>3. How Do We Keep Your Information Safe?</h3>
      <p>
        In Short: We aim to protect your personal information through a system of organizational and technical security measures.
      </p>

      <p>
        We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, despite our safeguards and efforts to secure your information, no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to defeat our security, and improperly collect, access, steal, or modify your information. Although we will do our best to protect your personal information, transmission of personal information to and from our website 
      </p>

            
		</div>
    </section>



    <section class="section wf-section" style="padding-top: 0">
		<div class="container-1180px">
			<h3>4. How Can You Review, Update Or Delete The Data We Collect From You?</h3>
      <p>
        Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information, please use the Contact-Us form in the About Us page
      </p>
		</div>
    </section>


    
{% endblock %}
