<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue Aug 31 2021 15:24:31 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="612bc3053a5724568e9bf95f" data-wf-site="61214ba6c39298139819b580">
<head>
  <meta charset="utf-8">
  <title>Register</title>
  <meta content="Register" property="og:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="og:image">
  <meta content="Register" property="twitter:title">
  <meta content="{% static 'images/chocolateco.jpg' %}" property="twitter:image">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/chocolateco.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="page-wrapper">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-hover="false" data-w-id="8c0c4230-03c8-6d2d-1aaf-dcff64127e81" role="banner" class="header w-nav">
      <div class="container-nav">
        <div class="header-left-side">
          <a href="index.html" data-hover="false" class="brand w-nav-brand"><img src="images/Chocolate-Co-logo.svg" width="130" data-hover="false" alt=""></a>
        </div>
        <div class="header-center-side">
          <nav role="navigation" data-hover="false" class="nav-menu w-nav-menu">
            <a href="index.html" data-hover="false" class="nav-link w-nav-link">Shop</a>
            <a href="customize-your-box.html" data-hover="false" class="nav-link w-nav-link">Design Your Own Order</a>
            <a href="about-us.html" data-hover="false" class="nav-link w-nav-link">About Us</a>
            <a href="about-us.html" data-hover="false" class="nav-link w-nav-link">Profile</a>
          </nav>
        </div>
        <div class="header-right-side">
          <a href="contact-us.html" class="profile w-inline-block"><img src="images/user.svg" width="25" data-hover="false" alt="" class="image-3"></a>
          <div data-hover="false" data-delay="0" data-w-id="1d85be7c-9c7f-ca75-6e86-c0d664f9dac1" class="header-dropdown-2 w-dropdown">
            <div class="header-dropdown-toggle-2 w-dropdown-toggle"><img src="images/shopping-cart.svg" width="25" data-hover="false" alt="" class="image-4">
              <div class="div-block-2">
                <div class="text-block-2">1</div>
              </div>
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="mega-menu-container-2">
                <div class="w-layout-grid mega-menu-grid">
                  <div>
                    <h4 class="mega-menu-title">Cart</h4>
                    <div class="menu-2-columns">
                      <div class="mega-menu-column-4"><img src="images/Chocolates_Wood_Bowl.jpg" loading="lazy" data-hover="false" alt="" class="image-6"></div>
                      <div class="mega-menu-column-2">
                        <h4 class="heading-5">Product Name</h4>
                        <h4 class="heading-6">10 KD</h4>
                      </div>
                    </div>
                    <div class="menu-2-columns">
                      <div class="mega-menu-column-4"><img src="images/Shelves_Silver_Bowl.jpg" loading="lazy" data-hover="false" alt="" class="image-6"></div>
                      <div class="mega-menu-column-2">
                        <h4 class="heading-5">Product Name</h4>
                        <h4 class="heading-6">5 KD</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <h4 class="mega-menu-title">Subtotal: KD 15<br></h4>
                <a href="#" class="button-checkout w-button">place order</a>
              </div>
            </nav>
          </div>
          <div class="menu-icon w-nav-button">
            <div class="menu-icon-top-line"></div>
            <div class="menu-icon-middle-line"></div>
            <div class="menu-icon-bottom-line"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-hero-sup wf-section">
      <div class="content">
        <div class="block-hero">
          <div class="text-hero">
            <h1 class="hero-title-small"><strong class="bold-text">Register</strong></h1>
          </div>
          <div class="img-hero">
            <div class="food-shadow-1 single-page"></div>
            <div class="food-shadow-2 single-page"></div>
            <div class="food-shadow-3 single-page"></div><img src="images/6123aa8c2159dadd8c9d0e02_61214cdda2a447105195edbc_food-1.png" loading="lazy" alt="" class="image-food-1 single-page"><img src="images/9d0e02_61214cdda2a447105195edbc_food-1.png" loading="lazy" alt="" class="image-food-2 single-page"><img src="images/61214cdda2a447105195edbc_food.png" loading="lazy" alt="" class="image-food-3 single-page">
          </div>
        </div>
      </div>
    </div>
    <section class="section wf-section">
      <div class="container-1180px">
        <div class="w-layout-grid conrtact-us">
          <div id="w-node-eca6ec24-5096-b414-ff9d-9e41b199f78b-8e9bf95f" data-w-id="eca6ec24-5096-b414-ff9d-9e41b199f78b" style="opacity:0" class="contact-us-form">
            <div class="">
              <form id="email-form" name="email-form" data-name="Email Form" class="post-card-newsletter-form"><input type="email" class="input w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" id="Email-2" required=""><input type="tel" class="input w-input" maxlength="256" name="Phone-Number" data-name="Phone Number" placeholder="Phone Number" id="Phone-Number" required=""><input type="password" class="input w-input" maxlength="256" name="Password" data-name="Password" placeholder="Password" id="Password" required="">
                <p data-w-id="6024acf2-8e45-e603-badf-cf592f0f3ff8" style="opacity:0" class="paragraph-large">Address Details<a href="#" class="link"></a>
                </p><input type="text" class="input w-input" maxlength="256" name="Area" data-name="Area" placeholder="Area" id="Area" required=""><input type="text" class="input w-input" maxlength="256" name="Block" data-name="Block" placeholder="Block" id="Block" required=""><input type="text" class="input w-input" maxlength="256" name="Street" data-name="Street" placeholder="Street" id="Street" required=""><input type="text" class="input w-input" maxlength="256" name="House-Building" data-name="House/Building" placeholder="House/Building" id="House-Building" required="">
                <div class="div-block">
                  <a href="#" class="button-primary-3 big w-button">Register</a>
                </div>
                <p data-w-id="9fbceaf4-b8f7-f6b8-1905-0630a9cd86dc" style="opacity:0" class="paragraph-large mg-bottom-48px">have an account? <a href="contact-us.html" class="link">Sign in Now</a>
                </p>
              </form>
              <div class="success-message w-form-done"><img src="images/newsletter-image-apps-template.svg" alt="">
                <div class="success-message-text">Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                <div class="error-message-text">Something went wrong while sending the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer data-w-id="71417737-5b4b-a09e-2591-ff5af838e990" class="footer wf-section">
      <div class="container-1180px">
        <div class="w-layout-grid footer-top">
          <div id="w-node-_71417737-5b4b-a09e-2591-ff5af838e993-f838e990" class="footer-column-1">
            <a href="index.html" class="footer-logo w-inline-block"><img src="images/Chocolate-Co-logo.svg" data-hover="false" alt=""></a>
          </div>
          <div id="w-node-_71417737-5b4b-a09e-2591-ff5af838e99f-f838e990" class="footer-column-4">
            <div class="footer-social-media">
              <a href="https://facebook.com" class="social-icon w-inline-block"><img src="images/facebook.svg" data-hover="false" alt="" class="image-2"></a>
              <a href="https://instagram.com" class="social-icon w-inline-block"><img src="images/instagram.svg" data-hover="false" alt="" class="image"></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">© Chocolate.co 2022. All Rights Reserved</div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61214ba6c39298139819b580" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>