{% extends 'base.html' %}
{% load static %}

{% block title %}Search Results{% endblock %}

{% block content %}

	

	
	
	
    <section class="section wf-section">
        <div class="container-1180px">
            <h3 style="color:#a38a72; margin-top: 5rem;">{{ results }} Results</h3>
        </div>
		<div class="container-1180px">
			<div class="latest-blog-post-wrapper">
				<div class="w-layout-grid grid-2">
					{% for item in items %}
					<div class="product-2" style="height: 100%">
						<div class="product-image-2" style="position: relative;">
							{% if item.sold_out or item.not_available or item.coming_soon %}
								<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available or item.coming_soon %} style="filter: brightness(0.6);" {% endif %}>
							{% else %}
								{% if item.sold_out or item.not_available %}
									<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available or item.coming_soon %} style="filter: brightness(0.6);" {% endif %}>
								{% else %}
									<a href="{% url 'detail' item.id %}">
					
										<img width="418" data-hover="false" src="{{ item.picture.url }}" alt="" class="card-featured-image-2" {% if item.sold_out or item.not_available %} style="filter: brightness(0.6);" {% endif %}>
									</a>
								{% endif %}
							{% endif %}
							<div class="{% if item in request.user.profile.favorites.all %} remove-favorite-{{ item.id }} {% else %} add-favorite-{{ item.id }} {% endif %}" data-url="{% if item in request.user.profile.favorites.all %} {% url 'remove-favorite' item.id %} {% else %} {% url 'add-favorite' item.id %} {% endif %}" style="cursor: pointer"><i class="fas fa-heart" id="favorite-{{ item.id }}" style="position: absolute; top: 5px; left: 5px; padding: 10px; border-radius: 50%; background: #fff; {% if item in request.user.profile.favorites.all %} color: #dc3545; {% else %} color: #78798f; {% endif %}"></i></div>
						</div>
						<div class="product-details-2">
							{% if item.sold_out %}
								<h3 style="color: red">Sold Out</h3>
							{% elif item.not_available %}
								<h3 style="color: red">Not Available</h3>
								{% elif item.coming_soon %}
								<h3 style="color: red">Coming Soon</h3>
							{% endif %}
							{% if item.coming_soon %}
								<div class="productname item-title">{{ item.title }}</div>
							{% else %}
								<a href="{% url 'detail' item.id %}">
									<div class="productname item-title">{{ item.title }}</div>
								</a>
							{% endif %}
							{% if category.has_dimensions %}
								<div style="margin-top: 15px">
									{% if item.width %}
										<div class="productname" style="margin:0; font-size: 10px;">width: {{ item.width }} cm</div>
									{% endif %}
									{% if item.height %}
										<div class="productname" style="margin:0; font-size: 10px;">height: {{ item.height }} cm</div>
									{% endif %}
									{% if item.length %}
										<div class="productname" style="margin:0; font-size: 10px;">length: {{ item.length }} cm</div>
									{% endif %}
								</div>
							{% endif %}
							{% if item.has_choices %}
								<a href="{% url 'detail' item.id %}" class="button-primary-3 w-button" style="margin-top: 24px">Select your {{ sub.singular }}</a>
							{% else %}
								{% if not item.coming_soon %}
									<a href="{% url 'detail' item.id %}" class="button-primary-3 w-button" style="margin-top: 24px">Read More</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
					{% endfor %}
					
				</div>
			</div>
		</div>
    </section>
    
{% endblock %}
{% block script %}
	<script>
	$(document).ready(function() {
		var csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
		{% for item in items %}
			$(".add-to-cart-{{ item.slug }}").click(function() {
				var serializedData = $(".add-to-cart-form-{{ item.slug }}").serialize();
				console.log(serializedData)
				var products = parseInt($(".items-quantity").text())
				var sum = parseFloat($("#box-total").text())
				var quantity = $("#quantity-{{ item.slug }}").val()
				let price = $("#price-{{ item.slug }}").text()
				$.ajax({
					url: $(".add-to-cart-form-{{ item.slug }}").data('url'),
					data: serializedData,
					type: 'post',
					success: function(response) {
						$(".items-quantity").text(products + parseInt(quantity))
						$("#box-total").text(parseFloat(sum) + {{ item.price }} * parseInt(quantity))
						if($(".cart-title-{{ item.slug }}").text()){

							
							console.log($(".cart-quantity-{{ item.slug }}").text())
							console.log(quantity, "Quantity")
							$(".cart-quantity-{{ item.slug }}").text(parseInt($(".cart-quantity-{{ item.slug }}").text()) + parseInt(quantity) + " X")
							console.log($(".cart-quantity-{{ item.slug }}").text())
						}else{
							$(".cart-box").prepend('<div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2"><h4 class="heading-5">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.slug }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div>')
						}
						$(".cart-price-{{ item.item.slug }}").text(parseFloat($(".cart-price-{{ item.item.slug }}").text()) + parseFloat(quantity) * parseFloat(price))
						console.log(quantity, "Quantity")
						console.log(price, "Price")
						console.log(parseInt(quantity) * parseInt(price), "Price")
						
						if($(".empty-cart").text()){
							let totalPrice = parseFloat(quantity) * parseFloat(price)
							$(".empty-cart").remove()
							$("#cart-container").append('<div class="cart-box"><div class="menu-2-columns"><div class="mega-menu-column-4"><img src="{{ item.picture.url }}" loading="lazy" data-hover="false" alt="" class="image-6"></div><div class="mega-menu-column-2"><h4 class="heading-5 cart-title-{{ item.slug }}">{{ item.title }}</h4><h4 class="heading-6"><span class="cart-quantity-{{ item.slug }}" style="font-size: 16px; color: #a38a72">'+ quantity +' X</span> {{ item.price }} KD</h4></div></div></div>')
							$("#cart-box-container").append('<h4 class="mega-menu-title">Subtotal: <span class="cart-price-{{ item.slug }}">'+ totalPrice +'</span> KD<br></h4><a {% if request.user.is_authenticated%} {% if not request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %} href="{% url "checkout" %}" {% endif %} {% endif %} class="button-checkout w-button {% if request.user.is_authenticated %} {% if request.user.password == "lkasjdhflksajdhflkLKJHLkdjhf" %}visitor-modal{% endif %}{% else %}visitor-modal{% endif %}">place order</a>')
						}else{
							console.log("he")
						}
					}
				})
				console.log(serializedData)
			});
			$(".add-favorite-{{ item.id }}").click(function() {
				let data = "csrfmiddlewaretoken="+ csrf
				$.ajax({
					url: $(".add-favorite-{{ item.id }}").data("url"),
					data: data,
					type: "post",
					success: function() {
						console.log("hey")
						$("#favorite-{{ item.id }}").css("color", "#dc3545")
					}

				})
			})

			$(".remove-favorite-{{ item.id }}").click(function() {
				let data = "csrfmiddlewaretoken="+ csrf
				$.ajax({
					url: $(".remove-favorite-{{ item.id }}").data("url"),
					data: data,
					type: "post",
					success: function() {
						console.log("hey")
						$("#favorite-{{ item.id }}").css("color", "#78798f")
					}

				})
			})
		{% endfor %}

		$(".hack17-up").on("click", function(){
			let input = $(this).parent().find("input")
			input.val(parseInt(input.val()) + 1)
		})

		$(".hack17-down").on("click", function(){
			let input = $(this).parent().find("input")
			if(input.val() > 1){
				input.val(parseInt(input.val()) - 1)
			}
			
		})

		$(".close").on("click", function(){
			$(".container-fluid").remove()
		})


		if($(".item-title").html() !== undefined){
			if($(".item-title:contains('   ')")){
				console.log($(".item-title").html())
				// $(".item-title").text($(".item-title").text().replace("   ", "<br>"))
				var text = $(".item-title").html().replace(/   /g, "<br>");
	
				$(".item-title").html(text);
	
			}
		}

	});

	

	</script>
	
{% endblock %}

{% block footer_style %}margin-bottom: 100px{% endblock footer_style %}