{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
	
  <section class="section wf-section" style="margin-top: 5rem">
		
		<div class="container-1180px">
			<h3>1. Introduction</h3>
            <p>
                Welcome to chocolatecokw.com. These are the terms and conditions governing your access to and use of the website chocolatecokw.com and its related sites, services and tools (the "Site"). By accepting these terms and conditions, and by using the Site, you represent that you agree to comply with these terms and conditions with chocolatecokw.com ("we", "us" or "chocolatecokw.com") in relation to your use of the Site (the "User Agreement"). This User Agreement is effective upon acceptance. If you do not agree to be bound by this User Agreement please do not access, register with or use this Site.

                Before you may become or continue as a member of the Site, you must read, agree with and accept this User Agreement and chocolatecokw.com's Privacy Policy (the "Privacy Policy"). You should read this User Agreement and the Privacy Policy and access and read all further linked information referred to in this User Agreement, as such information contains further terms and conditions that apply to you as a user of chocolatecokw.com.
            </p>
		</div>
  </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>2. Your Account and Registration Obligations</h3>
            <p>
                When you register as a member of the Site you have been or will be required to provide certain information and register a username and password for use on this Site.
            </p>
                <h4>On becoming a member of the Site, you agree:</h4>

                <p>
                    You are responsible for maintaining the confidentiality of, and restricting access to and use of, your account and password, and accept responsibility for all activities that occur under your account and password. You agree to immediately notify chocolatecokw.com of any unauthorized use of your password or account or any other breach of security. In no event will chocolatecokw.com be liable for any direct, indirect or consequential loss or loss of profits, good will or damage whatsoever resulting from the disclosure of your username and/or password. You may not use another person's account at any time, without the express permission of the account holder. You agree to reimburse chocolatecokw.com for any improper, unauthorized or illegal use of your account by you or by any person obtaining access to the Site, services or otherwise by using your designated username and password, whether or not you authorized such access.
                    You will provide true, accurate, current and complete information about yourself as prompted by chocolatecokw.com's registration form (the "Registration Data"). <br>
                    You will not include: the word "Chocolateco" in your registration user ID. You will maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete or if chocolatecokw.com has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, or not in accordance with this User Agreement, without prejudice to any other rights and remedies of chocolatecokw.com under this User Agreement or at law, chocolatecokw.com has the right to indefinitely suspend, limit or withdraw your access to the Site and/or your membership of the Site. We also reserve the right to cancel unconfirmed / unverified accounts or accounts that have been inactive for a long time.
                </p>
            
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>3. Use of the Site</h3>
            <p>
                By accepting the terms, you confirm that all information and details provided by you to us (including on registration) are true, accurate and up to date in all respects and at all times. <br>
            </p>
                <h4>You agree that in using the Website you will not:</h4>

                <p>1. Use the Website in any way that causes, or is likely to cause the site or access to the site to be interrupted, damaged, or impaired in any way.</p>

                <p>2. Use the Website for criminal, fraudulent or illegal activity or in any manner which would cause harm or distress to any third party.</p>

                <p>We reserve the right to suspend, restrict or terminate your access to the Website at any time without notice if we have reasonable grounds to believe that you have breached any of these restrictions or if we suspect fraudulent account activity or behavior. This shall not limit our right to take any other action against you that we consider appropriate.</p>
            
		</div>
    </section>

    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>4. Order Terms, Delivery Terms and Returns</h3>
            <p>
                The following information details our delivery charges and estimated delivery details.

                <h4>Placing an Order</h4>
                When you place an order through our website. www.chocolatecokw.com, you will receive an email from us to confirm the order has been made. This mail will contain the order number, along with other details concerning your order

                In case of missing / incomplete information our customer service team member will contact you to complete the information.

                <h4>Orders of “Customize your tray & Customize your box” category</h4>
                This category encompasses all products that are customizable including trays, boxes, and baskets within those web pages. When you order any product under this category, you do agree that the actual weight of the individual chocolate items within the selected tray or the selected box or the selected basket -in grams might not exactly match the selected weight of each of the selected chocolate types- in grams. That variance (if any exists) could only happen as a result of our efforts to optimize the assortments of the chocolate items within the tray or the box and/or due to selected tray or box shape/dimensions limitation and the shapes/dimensions of the selected chocolate items. However, the total weight of the chocolate items in grams of the purchased tray or box or basket within this category referred to us “customized your tray” matches the total of all the chocolate types selected and purchased- in grams in the selected tray or box or basket.

                Similar to all other items, any customized tray, or box or basket product can’t be returned to Chocolateco or exchanged for other items. Chocolateco will accommodate all changes in the address, message or notes but not item changes. However, you may reach our call center to check possibility of order changes (only in case the change is possible). Chocolateco strives to support all your requirements

                <h4>Delivery within the State of Kuwait</h4>
                Shipping cost is 3 KWD for all the defined delivery areas, for any orders as per the minimum order value.

                <h4>Returns</h4>
                Order once processed can’t be cancelled. Chocolateco will accommodate all changes in the address, message or notes but not item changes. However, you may reach our call center to check possibility of order changes (only in case the change is possible). Chocolateco strives to support all your requirements.

                

                <h4>Refunds</h4>
                All refunds would be processed within three business days from date of refund request.


            </p>
		</div>
    </section>



    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>5. Copyright</h3>
            <p>
                All content included on the Site, including but not limited to text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations and software, is the property and copyright work of either chocolatecokw.com, its users, its content suppliers or its licensors and is protected by copyright, trademarks, patents or other intellectual property rights and laws. The compilation of the content on the Site is the exclusive property and copyright of chocolatecokw.com and is protected by copyright, trademarks, patents or other intellectual property rights and laws.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>6. Trademarks</h3>
            <p>
                "chocolatecokw.com" and related logos, and other words and logos on the Site are either unregistered trademarks or registered trademarks of chocolatecokw.com and are protected by international trademark and other intellectual property rights and laws. chocolatecokw.com's trademarks may not be used in connection with any product or service that is not chocolatecokw.com's nor in any manner that disparages or discredits chocolatecokw.com.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>7. Breach of User Agreement & Withdrawal of Access and/or Membership</h3>
            <p>
                Without prejudice to any other rights and remedies of chocolatecokw.com under this User Agreement or at law or otherwise, chocolatecokw.com may immediately and without liability: limit your activity, limit or withdraw your membership.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>8. Limitation of Liabilities</h3>
            <p>
                To the extent permitted by law, chocolatecokw.com, its officers, employees, agents, affiliates and suppliers shall not be liable for any loss or damage whatsoever whether direct, indirect, incidental, special, consequential or exemplary, including but not limited to, losses or damages for loss of profits, goodwill, business, opportunity, data or other intangible losses arising out of or in connection with your use of the Site, its services or this User Agreement (however arising, including negligence or otherwise and whether or not chocolatecokw.com has been advised of the possibility of such losses or damages). <br>

                If you are dissatisfied with the site or any content or materials on it, your sole exclusive remedy is to discontinue your use of it. Further, you agree that any unauthorized use of the Site and its services as a result of your negligent act or omission would result in irreparable injury to chocolatecokw.com and chocolatecokw.com shall treat any such unauthorized use as subject to the terms and conditions of this User Agreement.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>9. Indemnity</h3>
            <p>
                You agree to indemnify and hold chocolatecokw.com and its affiliates, officers, employees, agents and suppliers harmless from any and all claims, demands, actions, proceedings, losses, liabilities, damages, costs, expenses (including reasonable legal costs and expenses), howsoever suffered or incurred due to or arising out of your breach of this User Agreement, or your violation of any law or the rights of a third party
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>10. General</h3>
            <p>
                If any clause of this User Agreement shall be deemed invalid, void or for any reason unenforceable, such clause shall be deemed severable and shall not affect the validity and enforceability of the remaining clauses of this User Agreement. This User Agreement (as amended from time to time in accordance with the terms of this User Agreement) sets forth the entire understanding and agreement between you and chocolatecokw.com with respect to the subject matter hereof. <br>

                No person who is not a party to this User Agreement shall have any right to enforce any term of this User Agreement. If this User Agreement is translated into any language other than English, whether on the Site or otherwise, the English text shall prevail.

    
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>11.Disclaimer:</h3>
            <p>
                Every effort is made to keep the website up and running smoothly. However, Chocolateco takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control. <br>
                We reserve the right to make any changes or amendments to Terms and Conditions at any time without prior notice, effective immediately after publishing on this page, and it is the customer’s responsibility to review them before making any purchase. <br>
                We reserve the right to restrict website access or terminate it for maintenance reasons or any other, at any time. <br>
                When you click submit order you agree to our Terms and Conditions written here in this document.    
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>12. Governing Law</h3>
            <p>
                This User Agreement is governed by, and construed in accordance with, Kuwait law. This clause will survive any expiry or cancellation of this User Agreement for any reason.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h2>Privacy Policy</h2>
			<h3>1. Information Collection, Use, and Sharing Information ownership</h3>            
            <p>
                We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone. <br>

                We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order. <br>

                Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h2>Users Login & Registration</h2>
			<h3>1. New User Registration</h3>


            <p>
                To register for an account, we require you to supply us with your email address, or other information needed to contact you online and over the phone. We use your e-mail address and other contact information you provide us with to confirm your order and to communicate with you in case of an order problem, so one cannot register without an e-mail address. If you supply us with your email address, you may later access it, update it, modify it and delete any inaccuracies by accessing your account through my account information link on the user main page. You may also choose simply not to provide us with your email address; however, you will not be able to register on the website and place orders. We use this information to facilitate and improve your use of the website, to communicate with you, for internal purposes and to comply with any requirements of law. This information may be disclosed to our staff and to third parties involved in the delivery of your order or the analysis and support of your use of the website. We do not sell and will not divulge your personal contact information to third parties other than as specified in this Privacy Policy without your permission unless we are legally entitled or obliged to do so (for example, if required to do so by Court order or for the purposes of prevention of fraud or other crime).
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>2. Your Access to and Control Over Information</h3>
            <p>
                You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website: <br>
                1. See what data we have about you, if any. <br>
                2. Change/correct any data we have about you. <br>
                3. Have us delete any data we have about you. <br>
                4. Express any concern you have about our use of your data.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>3. Electronic Communications</h3>
            <p>
                You agree that we may communicate with you by email or by posting notices on the Site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing. Nornoyau.com requires your agreement during the registration process to send you promotional emails to let you know about any new changes, features or promotional activities added to the Site. If, at any time, you decide that you do not wish to receive promotional emails, you can opt out of receiving such promotional emails by clicking on the link at the bottom of any promotional email.
            </p>
		</div>
    </section>


    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>4. Security</h3>
            <p>
                We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline. <br>

                Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for “https” at the beginning of the address of the Web page. <br>

                While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information.
            </p>
		</div>
    </section>



    <section class="section wf-section" style="padding-top: 0">
		
		<div class="container-1180px">
			<h3>5. Cookies</h3>
            <p>
                We use “cookies” on this site. A cookie is a piece of data stored on a site visitor’s hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance the experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.
            </p>
		</div>
    </section>
    
{% endblock %}
