{% extends 'dashboard/base.html' %} {% block content %}

<div class="content-body">
  <div class="container-fluid">
    <form method="POST">
      {% csrf_token %}
      <label style="margin-top: 3%">Main Text</label>
      {{ form.main_text }}

      <label style="margin-top: 3%">Ar Main Text</label>
      {{ form.ar_main_text }}

      <label style="margin-top: 3%">Secondary Text</label>
      {{ form.secondary_text }}

      <label style="margin-top: 3%">Ar Secondary Text</label>
      {{ form.ar_secondary_text }}

      

      <div style="text-align: center">
        <button class="btn btn-primary" type="submit" style="margin-top: 3%">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
