{% extends 'dashboard/base.html' %} {% block content %}

<div class="content-body">
  <div class="container-fluid" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
    
  {% for topic in topics %}
    <a href={% url 'dashboard:update-topic' topic.id %} type="button" class="btn btn-outline-primary" style="margin: 10px 0; width: 190px">
      {{ topic.title }}
    </a>
  {% endfor %}
  </div>
  </div>
</div>

{% endblock content %}
