{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label>Ar Name</label>
                {{ form.ar_title }}
            </div>


            <label>Price</label>
            <div class="input-group">
                {{ form.price }}
                <div class="input-group-append">
                    <span style="background: #00205C; color: #fff" class="input-group-text">KD</span>
                </div>
            </div>
            <div class="form-group">
                <label>Type</label>
                {{ form.type }}
            </div>
            
            
            <label>Image ( 800 X 800 px ) ( Max 1 MB )</label>
            <div class="input-group" style="margin-bottom: 1rem">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.image }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>


            


            
           
           
            <div class="form-group" style="text-align: center; margin-top: 3%">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>

    </div>
</div>

{% endblock content %}