{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label>Ar Name</label>
                {{ form.ar_title }}
            </div>

            <div class="form-group">
                <label>En Description</label>
                {{ form.description }}
            </div>

            <div class="form-group">
                <label>Ar Description</label>
                {{ form.ar_description }}
            </div>

            <div class="form-group">
                <label>Quantity Type</label>
                {{ form.quantity_type }}
            </div>

            <div class="form-group">
                <label>Weight Maximum</label>
                {{ form.weight_maximum }}
            </div>
            <div class="form-group">
                <label>Weight Minimum</label>
                {{ form.weight_minimum }}
            </div>

            <div class="form-group">
                <label>Pieces Maximum</label>
                {{ form.pieces_maximum }}
            </div>
            <div class="form-group">
                <label>Pieces Minimum</label>
                {{ form.pieces_minimum }}
            </div>

            <div class="form-group">
                <label>Delivery Date</label>
                {{ form.delivery_date }}
            </div>


            <label>Price</label>
            <div class="input-group">
                {{ form.price }}
                <div class="input-group-append">
                    <span style="background: #00205C; color: #fff" class="input-group-text">KD</span>
                </div>
            </div>
            
            <label style="margin-top: 1rem">Image 1 ( 800 X 533 px ) ( Max 1 MB )</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.picture }}
                    <label class="custom-file-label">Choose file</label>
                </div>
                
            </div>
            {% if form.picture.errors %}
                <ul style="margin-bottom: 1rem;">
                    {% for error in form.picture.errors %}

                    <li style="color: red">{{ error }}</li>  

                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if item.picture %}
                <img style="display: block; width: 25%; margin: 1rem 0;" src="{{ item.picture.url }}" alt="Item Image">
            {% endif %}


            <label style="margin-top: 1rem">Image 2 ( 800 X 533 px ) ( Max 1 MB )</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.picture2 }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            {% if form.picture2.errors %}
                <ul>
                    {% for error in form.picture2.errors %}

                    <li style="color: red">{{ error }}</li>  

                    {% endfor %}
                </ul>
            {% endif %}
            {% if item.picture2 %}
                <img style="display: block; width: 25%; margin: 1rem 0" src="{{ item.picture2.url }}" alt="Item Image 2">
            {% endif %}

            <label style="margin-top: 1rem">Image 3 ( 800 X 533 px ) ( Max 1 MB )</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.picture3 }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            {% if form.picture3.errors %}
                <ul>
                    {% for error in form.picture3.errors %}

                    <li style="color: red">{{ error }}</li>  

                    {% endfor %}
                </ul>
            {% endif %}
            {% if item.picture3 %}
                <img style="display: block; width: 25%; margin: 1rem 0" src="{{ item.picture3.url }}" alt="Item Image 3">
            {% endif %}
           

            <div class="form-group">
                <label>Number</label>
                {{ form.index }}
            </div>


            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.has_choices }}
                <label class="custom-control-label" for="customCheckBox1">Has Choices?</label>
            </div>


            <div class="form-group">
                <label>Choices</label>
                {{ form.choices }}
            </div>

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.has_flavors }}
                <label class="custom-control-label" for="flavorsCheckBox">Has flavors?</label>
            </div>

            <div class="form-group">
                <label>Flavors</label>
                {{ form.flavors }}
            </div>


            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.has_colors }}
                <label class="custom-control-label" for="colorsCheckBox">Has colors?</label>
            </div>            


            <div class="form-group">
                <label>Colors</label>
                {{ form.colors }}
            </div>

            


            <div class="form-group">
                <label>Width</label>
                {{ form.width }}
            </div>
            <div class="form-group">
                <label>Height</label>
                {{ form.height }}
            </div>
            <div class="form-group">
                <label>Length</label>
                {{ form.length }}
            </div>
            <div class="form-group">
                <label>Diameter</label>
                {{ form.diameter }}
            </div>


            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.hidden }}
                <label class="custom-control-label" for="customCheckBox2">Hidden</label>
            </div>

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.sold_out }}
                <label class="custom-control-label" for="customCheckBox3">Sold Out</label>
            </div>

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.not_available }}
                <label class="custom-control-label" for="customCheckBox4">Not Available</label>
            </div>

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.coming_soon }}
                <label class="custom-control-label" for="customCheckBox5">Coming Soon</label>
            </div>
           
           
            <div class="form-group" style="text-align: center; margin-top: 3%">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>

    </div>
</div>

{% endblock content %}