<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ChocolateCo</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/jpg" sizes="16x16" href="{% static 'images/logo.jpg' %}">
	<link rel="stylesheet" href="{% static 'dashboard/css/chartist.min.css' %}">
    <link href="{% static 'dashboard/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	{% comment %} <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> {% endcomment %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link href="{% static 'dashboard/css/sweetalert2.min.css' %}" rel="stylesheet">


		
	
	{% block head %}{% endblock head %}
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->

		<div class="nav-header">
            
			<a href="{% url 'dashboard:index' %}" class="brand-logo">
                <!-- <lottie-player class="logo-abbr" src="{% static 'images/logo-animation.json' %}" background="transparent"  speed="1" loop autoplay></lottie-player> -->
                <img class="logo-compact" src="{% static 'images/chocolateco-slogan.png' %}" alt="">
                <img class="brand-title" src="{% static 'images/chocolateco-slogan.png' %}" alt="">

            </a>

            <div class="nav-control" style="text-align: left">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
								Dashboard
								<span class="sweet-wrong">Welcome to ChocolateCo Dashboard System!</span>
                            </div>
                        </div>
						<ul class="navbar-nav header-right">
							
							
							
							<li class="nav-item dropdown header-profile">
								<a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-expanded="false">
									<img src="{% static 'images/chocolateco-slogan.png' %}" alt="" style="width: 60%; height: 60px">
									<div class="header-info" style="width: 100%">
										<span class="text-black"><strong>Chocolate Co.</strong></span>
										<p class="fs-12 mb-0">{% if request.user.is_superuser %}Admin{% elif request.user.is_staff %}Staff{% endif %}</p>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="{% url 'dashboard:dash-logout' %}" class="dropdown-item ai-icon">
										<svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
										<span class="ml-2">Logout </span>
									</a>
								</div>
							</li>
                        </ul>
                        
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
					{% if request.user.is_superuser %}
						<li>
							<a class="ai-icon" href="{% url 'dashboard:index' %}" aria-expanded="false">
								<i class="flaticon-381-layer-1"></i>
								<span class="nav-text">Dashboard</span>
							</a>
						</li>
					{% endif %}
                    {% if request.user.is_superuser %}
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-television"></i>
                                <span class="nav-text">Content</span>
                            </a>
                            <ul aria-expanded="false" style="z-index: 10">
                                <li><a href="{% url 'dashboard:items' %}">Items</a></li>
                                <li><a href="{% url 'dashboard:box-items' %}">Customized Box Items</a></li>

                                <li><a href="{% url 'dashboard:trays' %}">Trays</a></li>		
                                <li><a href="{% url 'dashboard:flowers' %}">Flowers</a></li>		
                                <li><a href="{% url 'dashboard:toppers' %}">Toppers</a></li>
                                <li><a href="{% url 'dashboard:cards' %}">Cards</a></li>
                                <li><a href="{% url 'dashboard:packages' %}">Packages</a></li>

                                <li><a href="{% url 'dashboard:update-banner' %}">Banner Image</a></li>
                                

                            </ul>
                        </li>
					
						<li>
							<a class="ai-icon" href="{% url 'dashboard:reports' %}" aria-expanded="false">
								<i class="flaticon-381-network"></i>
								<span class="nav-text">Reports</span>
							</a>
						</li>
					{% endif %}

					<li>
						<a class=" ai-icon" href="{% url 'dashboard:orders' %}" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Orders</span>
						</a>
                    </li>

                    {% if request.user.is_superuser %}
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-settings-2"></i>
                                <span class="nav-text">Settings</span>
                            </a>
                            <ul aria-expanded="false" style="z-index: 10">
                                <li><a href="{% url 'dashboard:about-us' %}">About Us</a></li>
                                <li><a href="{% url 'dashboard:contact-messages' %}">Contact Us</a></li>
                                <li><a href="{% url 'dashboard:update-minimum-order' %}">Minimum Order</a></li>
                                <li><a href="{% url 'dashboard:update-delivery-charge' %}">Delivery Charge</a></li>
                                <li><a href="{% url 'dashboard:days-list' %}">Working Days</a></li>
                                <li><a href="{% url 'dashboard:off-dates' %}">Off Dates</a></li>
                                <li><a href="{% url 'dashboard:update-pop-up' %}">Pop Up</a></li>
                                <li><a href="{% url 'dashboard:update-discount' %}">Discount</a></li>
                                <li><a href="{% url 'dashboard:colors-list' %}">Colors</a></li>
                                <li><a href="{% url 'dashboard:flavors-list' %}">Flavors</a></li>



                            </ul>
                        </li>
                    {% endif %}
					<li>

					</li>
                    
                </ul>
				
				<div class="copyright">
					<p><strong>Chocolate.co Admin Dashboard</strong> © 2022 All Rights Reserved</p>
				</div>
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		{% block content %}{% endblock content %}

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p><strong>Chocolate.co Admin Dashboard</strong> © 2022 All Rights Reserved</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'dashboard/js/global.min.js' %}"></script>
	<script src="{% static 'dashboard/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'dashboard/js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/js/custom.min.js' %}"></script>
	<script src="{% static 'dashboard/js/deznav-init.js' %}"></script>
	
	<!-- Chart piety plugin files -->
    <script src="{% static 'dashboard/js/jquery.peity.min.js' %}"></script>
	
	<!-- Apex Chart -->
	<script src="{% static 'dashboard/js/apexchart.js' %}"></script>
	
	<!-- Dashboard 1 -->
	<script src="{% static 'dashboard/js/dashboard-1.js' %}"></script>
	{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> {% endcomment %}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>
	
	{% block extra_scripts %}
	
	{% endblock extra_scripts %}
</body>
</html>