{% extends 'dashboard/base.html' %} {% block content %}

<div class="content-body">
  <div class="container-fluid">
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <label style="margin-top: 3%">Name</label>
      {{ form.name }}
      <label>Image</label>
      <div class="input-group" style="margin-bottom: 1rem">
        <div class="input-group-prepend">
          <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
          {{ form.image }}
          <label class="custom-file-label">Choose file</label>
        </div>
      </div>
      {% if box %}
        <img style="display: block; width: 25%; margin-top: 1rem" src="{{ box.image.url }}" alt="Box Image">
      {% endif %}

      <div class="form-group" style="text-align: center; margin-top: 3%">
        <input type="submit" value="Submit" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
