{% extends 'dashboard/base.html' %}



{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <!-- Add Order -->
        <div class="modal fade" id="addOrderModalside">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Menus</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="text-black font-w500">Food Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-black font-w500">Order Date</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-black font-w500">Food Price</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-titles" style="text-align: right;">
            <a class="col-xl-3 col-lg-4 col-md-4 col-6" href="{% url 'dashboard:add-card' %}"><button style="padding: 0;" class="d-inline-block form-control date-button btn btn-primary light btn-rounded">Add card</button></a>
        </div>
        
        <div style"padding: 60px; border-radius: 1.25rem; margin-bottom: 5%">

            <div class="row" style="margin-bottom: 30px">
            
                
                
                {% for card in cards %}
                    {% if not card.customized_box %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="new-arrival-product">
                                        {% if card.image %}
                                            <a href="{% url 'dashboard:update-card' card.slug %}">
                                                <div class="new-arrivals-img-contnent">
                                                    <img class="img-fluid" src="{{ card.image.url }}" alt="">
                                                </div>
                                            </a>
                                        {% endif %}
                                        <div class="new-arrival-content text-center mt-3">
                                            <a href="{% url 'dashboard:update-card' card.slug %}">
                                                <h4>{{ card.en_name }}</h4>
                                            </a>
            
            
                                            <span class="price">{{ card.price }} KD</span>
                                            <span style="display:block; text-align: right"><a href="{% url 'dashboard:delete-card' card.id %}"><i style="color: #dc3545" class="fa fa-trash"></i></a></span>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
            
                {% endfor %}
            
            </div>
        </div>
    </div>
</div>
{% endblock content %}