{% extends 'dashboard/base.html' %}


{% block content %}
<style>

    .button{
        background: #a5705b;
        cursor: pointer;
    }

</style>
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<!-- Add Order -->
		<div class="modal fade" id="addOrderModalside">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Menus</h5>
						<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label class="text-black font-w500">Food Name</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label class="text-black font-w500">Order Date</label>
								<input type="date" class="form-control">
							</div>
							<div class="form-group">
								<label class="text-black font-w500">Food Price</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<h2 style="margin-bottom: 1rem">Categories</h2>
		<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive rounded card-table">
					<table class="table border-no order-table mb-4 table-responsive-lg dataTablesCard" id="example5">
						<tbody>
							{% for category in categories %}
								<tr class="alert alert-dismissible border-0">
									<td>{{ category.title }}</td>  
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: center;  padding: 0"><a href="{% url 'dashboard:delete-category' category.id %}"><i style="color: #dc3545" class="fa fa-trash"></i></a></td>

								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content %}