{% extends 'dashboard/base.html' %}
{% load static %}



{% block content %}



<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <!-- Add Order -->
        <div class="modal fade" id="addOrderModalside">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Menus</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="text-black font-w500">Food Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-black font-w500">Order Date</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-black font-w500">Food Price</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive rounded card-table">
                    <table class="table border-no order-table mb-4 table-responsive-lg dataTablesCard" id="example5">
                        <thead>
                            <tr>
                                <th style="text-align: center">Name</th>
                                <th style="text-align: center">Email</th>
                                <th style="text-align: center">Date</th>

                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in messages %}
                                <tr class="alert alert-dismissible border-0">
                                    <td class="details-link" style="text-align: center"><a href="{% url 'dashboard:contact-message' message.id %}">{{ message.name }}</a></td>
                                    
                                    <td class="details-link" style="text-align: center"><a href="{% url 'dashboard:contact-message' message.id %}">{{ message.email }}</a></td>
                                    <td class="details-link" style="text-align: center">{{ message.date|date:"d/m/Y" }}</td>

                                </tr>
                            {% endfor %}
                                                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% block extra_scripts %}


<script>


    $(".details-link").on("click", function() {
        location.href = 
    })


</script>



{% endblock extra_scripts %}



{% endblock content %}

