{% extends 'dashboard/base.html' %}
{% load static %}




{% block content %}

<div class="content-body">
            <!-- row -->
			<div class="container-fluid">


                <div class="row">
					<div class="col-xl-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive order-list card-table">
                                    <table class="table items-table table-responsive-md">
                                        <tbody>
                                            <tr>
                                                <th class="my-0 text-black font-w500 fs-20">Name:</th>
                                                <th style="text-align: right;" class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">{{ message.name }}</th>
                                            </tr>
                                            <tr>
                                                <th class="my-0 text-black font-w500 fs-20">Email:</th>
                                                <th style="text-align: right;" class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">{{ message.email }}</th>
                                            </tr>
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>	
                            </div>
                        </div>
                    </div>
				</div>
				
                
				
				<div class="row">
					<div class="col-xl-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive order-list card-table">
                                    <table class="table items-table table-responsive-md">
                                        <tbody>
                                            <tr>
                                                <th class="my-0 text-black font-w500 fs-20">Message</th>
                                                
                                            </tr>

                                            <tr class="alert alert-dismissible border-0">
                                                <td>
                                                    <div style="align-items: center" class="media">
                                                        <div class="media-body">
                                                            <h5 class="mt-0 mb-2 mb-4">{{ message.message }}</h5>
                                                            
                                                        </div>
                                                    </div>
                                                </td>
                                                
                                            </tr>
                                            
                                            
                                        
                                        </tbody>
                                    </table>
                                </div>	
                            </div>
                        </div>
                    </div>
				</div>
                
            </div>
        </div>

{% endblock content %}