{% extends 'dashboard/base.html' %}


{% block content %}

<div class="content-body">
    <div class="container-fluid">
        
        <div>
            <div class="page-titles" style="text-align: right; margin-bottom: 0">
                <a class="col-xl-3 col-lg-4 col-md-4 col-6" href="{% url 'dashboard:create-coupon' %}"><button style="padding: 0;" class="d-inline-block form-control date-button btn btn-primary light btn-rounded">Add Coupon</button></a>
            </div>
            <div class="card">
                <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
                    Coupons
                </div>
                <div class="card-body">
                   
                    <div class="row align-items-center">	
                        <div class="table-responsive">
                            <table class="table table-responsive-lg mb-0 table-striped">
                                
                                <tbody id="coupons">
                                    {% for coupon in coupons %}
                                        <tr class="btn-reveal-trigger coupon-{{ coupon.id }}">
                                            
                                            <td class="py-2">{{ coupon.code }}</td>
                                            
                                            <td style="text-align: right" >
                                                <span style="text-align: right"><a href="{% url 'dashboard:update-coupon' coupon.id %}"><i style="color: #00205C" class="fa fa-pencil"></i></a></span>
                                                <span style="text-align: right; margin-left: 15px"><a href="{% url 'dashboard:delete-coupon' coupon.id %}"><i style="color: #dc3545" class="fa fa-trash"></i></a></span>

                                            </td>
                                            
                                            
                                        </tr>
                                        
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                            
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}