{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form class="coupon-form" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div style="color: red">{{ form.errors }}</div>
            
            
            {% endif %}
            <div class="form-group">
                <label>Code</label>
                {{ form.code }}
            </div>
            <div class="form-group">
                <label>Value</label>
                {{ form.value }}
            </div>
            
            <div class="form-group">
                <label>End Date</label>
                {{ form.end_date }}
            </div>
            
            
           
            <div class="form-group" style="text-align: center; margin-top: 5%">
                <input type="button" value="Submit" class="btn btn-primary submit"/>
                <input type="submit" class="btn btn-primary hidden-submit" hidden/>

            </div>
        </form>

    </div>
</div>

{% endblock content %}


{% block extra_scripts %}

<script>

    $(".submit").on("click", (e) => {
        if(parseInt($("#id_value").val()) > 100){
            console.log("nope")
            $("#id_value").css("color", "red")
        }else{
            console.log("hii")
            $(".hidden-submit").click()
        }
        
    })


    $("#id_value").on("keydown", () => {
        console.log("changed")
        $("#id_value").css("color", "#B1B1B1")
    })

</script>

{% endblock extra_scripts %}