{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                {{ form.title }}
            </div>
            
             <div class="form-group">
                <label>Category</label>
                {{ form.category }}
            </div> 
            <label>Image</label>
            <div class="input-group" style="margin-bottom: 1rem">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.image }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
                <label>Price</label>
            <div class="input-group">
                {{ form.price }}
                <div class="input-group-append">
                    <span style="background: #00205C; color: #fff" class="input-group-text">KD</span>
                </div>
            </div>

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.has_choices }}
                <label class="custom-control-label" for="customCheckBox1">Has Choices?</label>
            </div>


            <div class="form-group">
                <label>Choice 1</label>
                {{ form.choice1 }}
            </div>

            <div class="form-group">
                <label>Choice 2</label>
                {{ form.choice2 }}
            </div>

            <div class="form-group">
                <label>Choice 3</label>
                {{ form.choice3 }}
            </div>

            <div class="form-group">
                <label>Choice 4</label>
                {{ form.choice4 }}
            </div>

            <div class="form-group">
                <label>Choice 5</label>
                {{ form.choice5 }}
            </div>
            
            <div class="form-group">
                <label>Choice 6</label>
                {{ form.choice6 }}
            </div>
           
            <div class="form-group" style="text-align: center; margin-top: 3%">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>

    </div>
</div>

{% endblock content %}