{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Title</label>
                {{ form.en_title }}
            </div>
            <div class="form-group">
                <label>Ar Title</label>
                {{ form.ar_title }}
            </div>
            
             <div class="form-group">
                <label>Number</label>
                {{ form.number }}
            </div> 
            
            <div class="form-group" style="text-align: center; margin-top: 3%">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>

    </div>
</div>

{% endblock content %}