{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% if error %}
                <p style="color: red">{{ error }}</p>

            
            
            {% endif %}
            <div class="form-group">
                <label>Title</label>
                {{ form.en_title }}
            </div>
            <div class="form-group">
                <label>Ar Title</label>
                {{ form.ar_title }}
            </div>
            <label>Image ( 800 X 531 px )</label>
            <div class="input-group" style="margin-bottom: 1rem">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.image }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            <label>Banner Image ( 1800 X 500 px )</label>
            <div class="input-group" style="margin-bottom: 1rem">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.banner_image }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            
            <div class="form-group">
                <label>Number</label>
                {{ form.number }}
            </div>
            
            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.hidden }}
                <label class="custom-control-label" for="customCheckBox1">Hide</label>
            </div>

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.has_dimensions }}
                <label class="custom-control-label" for="customCheckBox2">Has Dimensions</label>
            </div>
           
            <div class="form-group" style="text-align: center; margin-top: 5%">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>

    </div>
</div>

{% endblock content %}