{% extends 'dashboard/base.html' %}


{% block content %}

<div class="content-body">
    <div class="container-fluid">
        
        <div>
            
            <div class="card">
                <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
                    <div class="card-action card-tabs mt-3 mt-sm-0 mt-3 mb-sm-0 mb-3 mt-sm-0">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#Today" role="tab" aria-selected="false">
                                    Today
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Weekly" role="tab" aria-selected="false">
                                    Weekly
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Monthly" role="tab" aria-selected="true">
                                    Monthly
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="Monthly">
                            <div class="row align-items-center">	
                                <div class="table-responsive">
                                    <table class="table table-responsive-lg mb-0 table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Email</th>
                                                <th style="text-align: center">Phone</th>
                                                <th style="text-align: center" class="pl-5 width200">Billing Address
                                                </th>
                                                <th style="text-align: center">Joined</th>
                                                <th style="text-align: center"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="customers">
                                            {% for user in month_users %}
                                                <tr class="btn-reveal-trigger">
                                                    
                                                    <td class="py-2">{{ user.email }}</td>
                                                    <td class="py-2">{{ user.profile.phone_number }}</td>
                                                    <td class="py-2 pl-5 wspace-no">{{ user.profile.area }}, Block: {{ user.profile.block }}, {{ user.profile.street }} St, House No. {{ user.profile.house }}</td>
                                                    <td class="py-2">{{ user.date_joined|date:"d/m/Y" }}</td>
                                                    <td class="py-2 text-right">
                                                        <div class="dropdown"><button class="btn btn-primary tp-btn-light sharp" type="button" data-toggle="dropdown"><span class="fs--1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
                                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                                <div class="py-2"><a class="dropdown-item"  href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane fade" id="Weekly">
                            <div class="row align-items-center">	
                                <div class="table-responsive">
                                    <table class="table table-responsive-lg mb-0 table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Email</th>
                                                <th style="text-align: center">Phone</th>
                                                <th style="text-align: center" class="pl-5 width200">Billing Address
                                                </th>
                                                <th style="text-align: center">Joined</th>
                                                <th style="text-align: center"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="customers">
                                            {% for user in week_users %}
                                                <tr class="btn-reveal-trigger">
                                                    
                                                    <td class="py-2">{{ user.email }}</td>
                                                    <td class="py-2">{{ user.profile.phone_number }}</td>
                                                    <td class="py-2 pl-5 wspace-no">{{ user.profile.area }}, Block: {{ user.profile.block }}, {{ user.profile.street }} St, House No. {{ user.profile.house }}</td>
                                                    <td class="py-2">{{ user.date_joined|date:"d/m/Y" }}</td>
                                                    <td class="py-2 text-right">
                                                        <div class="dropdown"><button class="btn btn-primary tp-btn-light sharp" type="button" data-toggle="dropdown"><span class="fs--1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
                                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                                <div class="py-2"><a class="dropdown-item"  href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane fade show active" id="Today">
                            <div class="row align-items-center">	
                                <div class="table-responsive">
                                    <table class="table table-responsive-lg mb-0 table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Email</th>
                                                <th style="text-align: center">Phone</th>
                                                <th style="text-align: center" class="pl-5 width200">Billing Address
                                                </th>
                                                <th style="text-align: center">Joined</th>
                                                <th style="text-align: center"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="customers">
                                            {% for user in today_users %}
                                                <tr class="btn-reveal-trigger">
                                                    
                                                    <td class="py-2">{{ user.email }}</td>
                                                    <td class="py-2">{{ user.profile.phone_number }}</td>
                                                    <td class="py-2 pl-5 wspace-no">{{ user.profile.area }}, Block: {{ user.profile.block }}, {{ user.profile.street }} St, House No. {{ user.profile.house }}</td>
                                                    <td class="py-2">{{ user.date_joined|date:"d/m/Y" }}</td>
                                                    <td class="py-2 text-right">
                                                        <div class="dropdown"><button class="btn btn-primary tp-btn-light sharp" type="button" data-toggle="dropdown"><span class="fs--1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
                                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                                <div class="py-2"><a class="dropdown-item"  href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}