{% extends 'dashboard/base.html' %} {% block content %}

<div class="content-body">
  <div
    class="container-fluid"
    style="
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    "
  >
    
  <a href={% url 'dashboard:types'  %} box="button" class="btn btn-outline-primary" style="margin: 10px 0; width: 190px">Types</a>
  <a href={% url 'dashboard:boxes'  %} box="button" class="btn btn-outline-primary" style="margin: 10px 0; width: 190px">Boxes</a>

  </div>
</div>

{% endblock content %}
