{% extends 'dashboard/base.html' %} {% block content %}

<div class="content-body">
  <div class="container-fluid" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
    
	{% for day in days %}
		<a href={% url 'dashboard:working-hours' day.id %} type="button" class="btn btn-outline-primary" style="margin: 10px 0; width: 190px">
		{{ day.day }}
		</a>
	{% endfor %}
  </div>
</div>

{% endblock content %}
