{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label>Price</label>
                <div class="input-group">
                    {{ form.price }}
                    <div class="input-group-append">
                        <span style="background: #00205C; color: #fff" class="input-group-text">KD</span>
                    </div>
                </div>
            </div>
            
            
                
            
            <div class="form-group" style="text-align: center; margin-top: 3%">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

{% endblock content %}