{% load static %}


<link rel="icon" type="image/jpg" sizes="16x16" href="{% static 'images/logo.jpg' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/chartist.min.css' %}">
<link href="{% static 'dashboard/css/bootstrap-select.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
    
        

<div class="card" style="margin: 0">
    <div class="card-header"> Invoice <strong>{{ order.ordered_date|date:"d/m/Y" }}</strong></div>
    <div class="card-body">
        <div class="row mb-5">
            <div class="mt-4 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <h6>From:</h6>
                <div> <strong>Chocolate Co.</strong> </div>
                <div>Salmiya</div>
                <div>bagdad st, AlTayb Tower</div>
                <div>Email: info@chocolatecokw.com</div>
                <div>Phone: +965 2576 1776</div>
                
                <h6>Order Type: {{ order.order_type }}</h6>
                
                <h6>Order Date: {{ order.delivery_date }}</h6>
                <h6>Customer Note: {{ order.note }}</h6>


            </div>
            <div class="mt-4 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <h6>To:</h6>
                <div>{{ order.area }}, Block: {{ order.block }}, {{ order.street }} St, House No. {{ order.house }}</div>
                <div>Name: {{ order.user_name }}</div>
                <div>Phone: {{ order.phone_number }}</div>
            </div>
            <div class="mt-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-lg-center justify-content-md-center justify-content-xs-start">
                
                <img class="logo-abbr mr-2" src="{% static 'images/chocolateco-slogan.png' %}" alt="" style="width: 50%">
            </div>
            
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th class="right">Unit Cost</th>
                        <th class="center">Qty</th>
                        <th class="right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.items.all %}
                        <tr>
                            <td class="left strong">{{ item.item.title }} {% if item.item.has_choices %} ( {{ item.choice }} ) {% endif %}{% if item.item.has_flavors %} ( Flavor: {{ item.flavor.en_name }} ) {% endif %} {% if item.item.has_colors %} ( Color: {{ item.color.en_name }} )  {% endif %}</td>
                            <td class="right">{% if item.item.customized_box %}{{ item.price }}{% else %}{{ item.item.price }}{% endif %} KD</td>
                            {% if item.quantity_type == "Pieces" %}
                                <td class="center">{{ item.pieces_quantity }}</td>
                            {% else %}
                                <td class="center">{{ item.weight_quantity }} KG</td>
                            {% endif %}
                            <td class="right">{{ item.get_item_total }} KD</td>
                        </tr>
                        {% if item.item.customized_box %}
                            <tr>
                                <td>Tray: {{ item.tray.en_name }}</td>
                            </tr>
                            {% for i in item.box_items.all %}
                                <tr>
                                    <td>{{ i.quantity }} KG {{ i.item.title }}</td> 
                                </tr>
                            {% endfor %}
                            {% if item.topper %}
                                <tr>
                                    <td>Topper: {{ item.topper.en_name }}</td>
                                </tr>
                            {% endif %}
                            {% if item.card %}
                                <tr>
                                    <td>Card: {{ item.card.en_name }}</td>
                                </tr>
                            {% endif %}
                            {% if item.flower %}
                                <tr>
                                    <td>Flower: {{ item.flower.en_name }}</td>
                                </tr>
                            {% endif %}
                                
                        {% endif %}
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-5"> </div>
            <div class="col-lg-4 col-sm-5 ml-auto">
                <table class="table table-clear">
                    <tbody>
                        {% if order.order_type == "Delivery" %}
                        
                            <tr>
                                <td class="left"><strong>Subtotal</strong></td>
                                <td class="right">{{ order.get_order_sub }} KD</td>
                            </tr>
                            {% if discount %}
                                <tr>
                                    <td class="left"><strong>Discount</strong></td>
                                    <td class="right">{{ discount.value }}%</td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>Subtotal After Discount</strong></td>
                                    <td class="right">{{ order.get_discount_sub }} KD</td>
                                </tr>
                            
                                <tr>
                                    <td class="left"><strong>Delivery Charge</strong></td>
                                    <td class="right">{{ delivery_charge }} KD</td>
                                </tr>
                                
                                <tr>
                                    <td class="left"><strong>Total</strong></td>
                                    <td class="right"><strong>{{ order.get_discount_total }} KD</td>
                                </tr>
                            {% else %}

                            <tr>
                                <td class="left"><strong>Total</strong></td>
                                <td class="right"><strong>{{ order.get_order_total }} KD</td>
                            </tr>    

                            {% endif %}
                        {% elif discount %}

                            <tr>
                                <td class="left"><strong>Subtotal</strong></td>
                                <td class="right">{{ order.get_order_sub }} KD</td>
                            </tr>
                            <tr>
                                <td class="left"><strong>Discount</strong></td>
                                <td class="right">{{ discount.value }}%</td>
                            </tr>
                            <tr>
                                <td class="left"><strong>Total</strong></td>
                                <td class="right"><strong>{{ order.get_discount_total }} KD</td>
                            </tr>
                        {% else %}
                        <tr>
                            <td class="left"><strong>Total</strong></td>
                            <td class="right"><strong>{{ order.get_order_total }} KD</td>
                        </tr>
                        {% endif %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



