{% extends 'dashboard/base.html' %}



{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <!-- Add Order -->
        <div class="modal fade" id="addOrderModalside">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Menus</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="text-black font-w500">Food Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-black font-w500">Order Date</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-black font-w500">Food Price</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-titles" style="text-align: right;">
            <a class="col-xl-3 col-lg-4 col-md-4 col-6" href="{% url 'dashboard:create-category' %}"><button style="padding: 0;" class="d-inline-block form-control date-button btn btn-primary light btn-rounded">Add Category</button></a>
        </div>
        {% for category in categories %}
            <div style="background: #e5e5e5; padding: 60px; border-radius: 1.25rem; margin-bottom: 5%">
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
                    <div>
                        <h3>{{ category.en_title }}</h3>
                    </div>
                    <div class="row" style="text-align: right; justify-content: space-evenly;">
                        
                        <a class="col-xl-3 col-lg-4 col-md-4 col-12" href="{% url 'dashboard:create-sub' category.id %}"><button style="margin: 10px 0;" class="d-inline-block form-control date-button btn btn-primary light btn-rounded">Add Sub</button></a>

                        <a class="col-xl-3 col-lg-4 col-md-4 col-12" href="{% url 'dashboard:update-category' category.id %}"><button style="padding: 0; margin: 10px 0;" class="d-inline-block form-control date-button btn btn-primary light btn-rounded">Edit Category</button></a>
                        <a class="col-xl-3 col-lg-4 col-md-4 col-12" href="{% url 'dashboard:delete-category' category.id %}"><button style="padding: 0; margin: 10px 0;" class="d-inline-block form-control date-button btn btn-primary light btn-rounded">Delete Category</button></a>
                        <a class="col-xl-3 col-lg-4 col-md-4 col-12" href="{% url 'dashboard:create-category-item' category.id %}"><button style="padding: 0; margin: 10px 0;" class="d-inline-block form-control date-button btn btn-primary light btn-rounded">Add Item</button></a>

                    </div>
                
                </div>
                {% if category.subs.all.count > 0 %}
                    {% for sub in category.subs.all|dictsort:"number" %}
                        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
                            <div>
                                <h3>{{ sub.en_title }}</h3>
                            </div>
                            <div class="row" style="text-align: right; justify-content: space-evenly;">
                                <a class="col-xl-3 col-lg-4 col-md-4 col-12" href="{% url 'dashboard:create-subcategory-item' sub.id %}"><button style="margin: 10px 0;" class="d-inline-block form-control date-button btn btn-primary light btn-rounded">Add Item</button></a>
                                <a class="col-xl-3 col-lg-4 col-md-4 col-12" href="{% url 'dashboard:update-sub' sub.id %}"><button style="margin: 10px 0;" class="d-inline-block form-control date-button btn btn-primary light btn-rounded">Edit Sub</button></a>
                                <a class="col-xl-3 col-lg-4 col-md-4 col-12" href="{% url 'dashboard:delete-sub' sub.id %}"><button style="margin: 10px 0;" class="d-inline-block form-control date-button btn btn-primary light btn-rounded">Delete Sub</button></a>

                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 30px">
                        
                            
                            
                            {% for item in sub.items.all %}
                                {% if not item.customized_box and not item.is_deleted %}
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="new-arrival-product">
                                                    <a href="{% url 'dashboard:update-item' item.id %}">
                                                        <div class="new-arrivals-img-contnent">
                                                            <img class="img-fluid" src="{{ item.picture.url }}" alt="">
                                                        </div>
                                                    </a>
                                                    <div class="new-arrival-content text-center mt-3">
                                                        <a href="{% url 'dashboard:update-item' item.id %}">
                                                            <h4>{{ item.title }}</h4>
                                                        </a>
                        
                        
                                                        <span class="price">{{ item.price }} KD</span>
                                                        <span style="display:block; text-align: right"><a href="{% url 'dashboard:delete-item' item.id %}"><i style="color: #dc3545" class="fa fa-trash"></i></a></span>
                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                        
                            {% endfor %}
                    
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row" style="margin-bottom: 30px">
                        {% for item in category.items.all %}
                            {% if not item.customized_box and not item.is_deleted %}
                                
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="new-arrival-product">
                                                    <a href="{% url 'dashboard:update-item' item.id %}">
                                                        <div class="new-arrivals-img-contnent">
                                                            <img class="img-fluid" src="{{ item.picture.url }}" alt="">
                                                        </div>
                                                    </a>
                                                    <div class="new-arrival-content text-center mt-3">
                                                        <a href="{% url 'dashboard:update-item' item.id %}">
                                                            <h4>{{ item.title }}</h4>
                                                        </a>
                        
                        
                                                        <span class="price">{{ item.price }} KD</span>
                                                        <span style="display:block; text-align: right"><a href="{% url 'dashboard:delete-item' item.id %}"><i style="color: #dc3545" class="fa fa-trash"></i></a></span>
                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                            {% endif %}
                    
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}