{% extends 'dashboard/base.html' %}
{% load static %}




{% block content %}

<div class="content-body">
            <!-- row -->
			<div class="container-fluid">


                <div class="row">
					<div class="col-xl-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive order-list card-table">
                                    <table class="table items-table table-responsive-md">
                                        <tbody>
                                            <tr>
                                                <th class="my-0 text-black font-w500 fs-20">Location:</th>
                                                <th style="text-align: right;" class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">{{ order.area }}, Block: {{ order.block }}, {{ order.street }} St, House No. {{ order.house }}</th>
                                            </tr>
                                            <tr>
                                                <th class="my-0 text-black font-w500 fs-20">Customer Name:</th>
                                                <th style="text-align: right;" class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">{{ order.user_name }}</th>
                                            </tr>
                                            <tr>
                                                <th class="my-0 text-black font-w500 fs-20">Customer Number:</th>
                                                <th style="text-align: right;" class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">{{ order.phone_number }}</th>
                                            </tr>

                                            <tr>
                                                <th class="my-0 text-black font-w500 fs-20">Order Type:</th>
                                                <th style="text-align: right;" class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">{{ order.order_type }}</th>
                                            </tr>

                                            <tr>
                                                {% if order.order_type == "Delivery" %}
                                                    <th class="my-0 text-black font-w500 fs-20">Delivery Date:</th>
                                                {% else %}
                                                    <th class="my-0 text-black font-w500 fs-20">Pickup Date:</th>
                                                {% endif %}

                                                <th style="text-align: right;" class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">{{ order.delivery_date }}</th>
                                            </tr>
                                            
                                            <tr>
                                                <th class="my-0 text-black font-w500 fs-20">Amount:</th>
                                                <th style="text-align: right;" class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">{{ order.get_order_total }} KD</th>
                                            </tr>


                                            {% if order.note %}
                                                <tr>
                                                    <th class="my-0 text-black font-w500 fs-20">Customer Note:</th>
                                                    <th style="text-align: right;" class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">{{ order.note }}</th>
                                                </tr>
                                            {% endif %}
                                            
                                        </tbody>
                                    </table>
                                </div>	
                            </div>
                        </div>
                    </div>
				</div>
				
                
				
				<div class="row">
					<div class="col-xl-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive order-list card-table">
                                    <table class="table items-table table-responsive-md">
                                        <tbody>
                                            <tr>
                                                <th class="my-0 text-black font-w500 fs-20">Items</th>
                                                <th style="width:10%;" class="my-0 text-black font-w500 fs-20">Qty</th>
                                                <th style="width:10%;" class="my-0 text-black font-w500 fs-20">Unit Price</th>
                                                <th class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">Total Price</th>
                                                <th></th>
                                            </tr>
                                            {% for item in order.items.all %}

                                                <tr class="alert alert-dismissible border-0">
                                                <td>
                                                    <div style="align-items: center" class="media">
                                                        <img class="mr-3 img-fluid rounded" width="85" src="{% if item.item.customized_box %}{{ item.tray.image.url }}{% else %}{{ item.item.picture.url }}{% endif %}" alt="DexignZone">
                                                        <div class="media-body">
                                                            <h5 class="mt-0 mb-2 mb-4">{{ item.item.title }}{% if item.item.has_choices %} ( {{ item.choice }} ) {% endif %}{% if item.item.has_flavors %} ( Flavor: {{ item.flavor.en_name }} ) {% endif %} {% if item.item.has_colors %} ( Color: {{ item.color.en_name }} )  {% endif %}</h5>
                                                            
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    {% if item.item.customized_box %}
                                                        <h4 class="my-0 text-black font-w600">{{ item.pieces_quantity }}</h4>
                                                    {% else %}
                                                        {% if item.quantity_type == "Pieces" %}
                                                            <h4 class="my-0 text-black font-w600">{{ item.pieces_quantity }}</h4>
                                                        {% else %}
                                                            <h4 class="my-0 text-black font-w600">{{ item.weight_quantity }} KG</h4>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <h4 class="my-0 text-black font-w600">{{ item.price }} KD</h4>
                                                </td>
                                                <td class="d-md-none d-lg-table-cell">
                                                    <h4 class="my-0 text-black font-w600">{{ item.get_item_total }} KD</h4>
                                                </td>
                                                
                                            </tr>
                                            {% if item.item.customized_box %}
                                                <tr>
                                                    <td>Tray: {{ item.tray.en_name }}</td>
                                                </tr>
                                                {% for i in item.box_items.all %}
                                                    <tr>
                                                        <td>{{ i.quantity }} KG {{ i.item.title }}</td> 
                                                    </tr>
                                                {% endfor %}
                                                {% if item.topper %}
                                                    <tr>
                                                        <td>Topper: {{ item.topper.en_name }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if item.card %}
                                                    <tr>
                                                        <td>Card: {{ item.card.en_name }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if item.flower %}
                                                    <tr>
                                                        <td>Flower: {{ item.flower.en_name }}</td>
                                                    </tr>
                                                {% endif %}
                                                    
                                            {% endif %}
                                                

                                            {% endfor %}
                                            
                                        
                                        </tbody>
                                    </table>
                                </div>	
                            </div>
                        </div>
                    </div>
				</div>
                
            </div>
        </div>

{% endblock content %}