{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}



<div class="content-body">
	{% if request.user.is_staff %}
		<audio id="Audio" >
			<source src="https://assets.mixkit.co/sfx/preview/mixkit-attention-bell-ding-586.mp3"
			type="audio/mp3">
		</audio>
	{% endif %}
	<!-- row -->
	<div class="container-fluid">
		<!-- Add Order -->
		<div class="modal fade" id="addOrderModalside">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Menus</h5>
						<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label class="text-black font-w500">Food Name</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label class="text-black font-w500">Order Date</label>
								<input type="date" class="form-control">
							</div>
							<div class="form-group">
								<label class="text-black font-w500">Food Price</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="d-sm-flex mb-lg-4 mb-2">
			<div class="dropdown mb-2 ml-auto mr-3">
				<a href="javascript:void(0)" class="btn btn-primary btn-rounded light" data-toggle="dropdown" aria-expanded="false">
					<i class="las la-bolt scale5 mr-3"></i>
					All Status
					<i class="las la-angle-down ml-3"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-center">
					<a class="dropdown-item" href="javascript:void(0);"><span class="text-primary">On Delivery</span></a>
					<a class="dropdown-item" href="javascript:void(0);"><span class="text-primary">New Order</span></a>
					<a class="dropdown-item" href="javascript:void(0);"><span class="text-success">Delivery</span></a>
				</div>
			</div>
		</div> -->
		<!-- <div class="row">
			<div class="col-lg-12">
				<div class="table-responsive rounded card-table">
					<table style="margin-bottom: 180px !important" class="table border-no order-table mb-4 table-responsive-lg dataTablesCard" id="example5">
						<thead>
							<tr>
								<th style="text-align: center">Order ID</th>
								<th style="text-align: center">Date</th>
								<th style="text-align: center">Customer Number</th>
								<th style="text-align: center">Location</th>
								<th style="text-align: center">Amount</th>
								<th style="text-align: center">Status</th>
								<th style="text-align: center"></th>
							</tr>
						</thead>
						<tbody id="orders">
							{% for order in orders %}
								<tr class="alert alert-dismissible border-0 table-row order-{{ order.id }}" data-url="{% url 'dashboard:order-details' order.id %}">
									<td style="text-align: center" ><a href="{% url 'dashboard:order-details' order.id %}">#{{ order.id }}</a></td>
									<td style="text-align: center" >{{ order.ordered_date|date:"Y-m-d h:i A" }}</td>
									<td style="text-align: center" >{{ order.user.profile.phone_number }}</td>
									<td style="text-align: center" >{{ order.user.profile.area }}, Block: {{ order.user.profile.block }}, {{ order.user.profile.street }} St, House No. {{ order.user.profile.house }}</td>
									<td style="text-align: center" >{{ order.get_order_total }} KD</td>
									<td style="text-align: center"  class="py-2 text-right">
										<span  class="badge badge-{% if order.status == "Received" %}warning{% elif order.status == "Delivered" %}success{% elif order.status == "On Delivery" %}secondary{% endif %} {{ order.id }}-status" style="color: #fff; {% if order.status == "Processing" %}background: #a5705b{% endif %}"><span id="status-row-{{ order.id }}" >{{ order.status }}</span></span>
									</td>
									<td style="text-align: center" >
										<div class="dropdown text-sans-serif"><button class="btn btn-primary tp-btn-light sharp" type="button" id="order-dropdown-0" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
											<div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="order-dropdown-0">
												<div class="py-2">
													{% csrf_token %}
													<div class="dropdown-item status-{{ order.id }}-delivered" data-url="{% url 'dashboard:change-status' order.id "Delivered" %}" style="cursor: pointer">Delivered</div>
													<div class="dropdown-item status-{{ order.id }}-delivery" data-url="{% url 'dashboard:change-status' order.id "On Delivery" %}" style="cursor: pointer">On Delivery</div>
													<div class="dropdown-item status-{{ order.id }}-processing" data-url="{% url 'dashboard:change-status' order.id "Processing" %}" style="cursor: pointer">Processing</div>
													<div class="dropdown-item status-{{ order.id }}-Received" data-url="{% url 'dashboard:change-status' order.id "Received" %}" style="cursor: pointer">Received</div>
													<div class="dropdown-divider"></div><div class="dropdown-item text-danger cancel-{{ order.id }}" data-url="{% url 'dashboard:cancel-order' order.id %}">Cancel</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
								<audio id="Audio-{{ order.id }}" >
									<source src="https://assets.mixkit.co/sfx/preview/mixkit-attention-bell-ding-586.mp3"
									type="audio/mp3">
								</audio>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div> -->
		<div class="card" style="margin-bottom: 10rem">
			<div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
				<div class="card-action card-tabs mt-3 mt-sm-0 mt-3 mb-sm-0 mb-3 mt-sm-0">
					<ul class="nav nav-tabs" role="tablist">
						
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#Today" role="tab" aria-selected="false">
								Today
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#Weekly" role="tab" aria-selected="false">
								Weekly
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#Monthly" role="tab" aria-selected="true">
								Monthly
							</a>
						</li>
						
						
						
					</ul>
				</div>
			</div>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane fade" id="Monthly">
						<div class="row align-items-center">	
							{% comment %} <div class="col-sm-6">
								<div id="radialBar" class="orderChart"></div>
							</div> {% endcomment %}
							<div class="table-responsive">
								<table class="table table-responsive-lg mb-0 table-striped">
									<thead>
										<tr>
											<th style="text-align: center">Order ID</th>
											<th style="text-align: center">Date</th>
											<th style="text-align: center">Customer Number</th>
											<th style="text-align: center">Location</th>
											<th style="text-align: center">Amount</th>
											<th style="text-align: center">Qty</th>

											<th style="text-align: center">Status</th>
											<th style="text-align: center"></th>
										</tr>
									</thead>
									<tbody id="customers">
										{% for order in month_orders %}
											<tr class="btn-reveal-trigger order-{{ order.id }}">
												
												<td style="text-align: center" ><a href="{% url 'dashboard:order-details' order.id %}">#{{ order.id }}</a></td>
												<td style="text-align: center" >{{ order.ordered_date|date:"Y-m-d h:i A" }}</td>
												<td style="text-align: center" >{{ order.phone_number }}</td>
												<td style="text-align: center" >{{ order.area }}, Block: {{ order.block }}, {{ order.street }} St, House No. {{ order.house }}</td>
												<td style="text-align: center" >{{ order.get_order_total }} KD</td>
												<td style="text-align: center;">{{ order.get_items_number }}</td>
												<td style="text-align: center"  class="py-2 text-right">
													<span  class="badge badge-{% if order.status == "Received" %}warning{% elif order.status == "Delivered" %}success{% elif order.status == "On Delivery" %}secondary{% endif %} {{ order.id }}-status {% if order.status == "Canceled" %}text-danger{% endif %}" style="color: #fff; {% if order.status == "Processing" %}background: #a5705b{% endif %}"><span id="status-row-{{ order.id }}" >{{ order.status }}</span></span>
												</td>
												{% if request.user.is_staff %}
													<td style="text-align: center" >
														<div class="dropdown text-sans-serif"><button class="btn btn-primary tp-btn-light sharp" type="button" id="order-dropdown-0" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
															<div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="order-dropdown-0">
																<div class="py-2">
																	{% csrf_token %}
																	<div class="dropdown-item status-{{ order.id }}-delivered" data-url="{% url 'dashboard:change-status' order.id "Delivered" %}" style="cursor: pointer">Delivered</div>
																	<div class="dropdown-item status-{{ order.id }}-delivery" data-url="{% url 'dashboard:change-status' order.id "On Delivery" %}" style="cursor: pointer">On Delivery</div>
																	<div class="dropdown-item status-{{ order.id }}-processing" data-url="{% url 'dashboard:change-status' order.id "Processing" %}" style="cursor: pointer">Processing</div>
																	<div class="dropdown-item status-{{ order.id }}-Received" data-url="{% url 'dashboard:change-status' order.id "Received" %}" style="cursor: pointer">Received</div>
																	<div class="dropdown-divider"></div><div class="dropdown-item text-danger status-{{ order.id }}-cancel" data-url="{% url 'dashboard:change-status' order.id "Canceled" %}" style="cursor: pointer">Cancel</div>
																</div>
															</div>
														</div>
													</td>
												{% endif %}
												<td>
													<i onClick="printExternal('{% url 'dashboard:invoice' order.id %}')" style="cursor: pointer" class="fas fa-print"></i>
												</td>
											</tr>
											
										{% endfor %}
										
									</tbody>
								</table>
							</div>
						</div>
						
					</div>
					<div class="tab-pane fade" id="Weekly">
						<div class="row align-items-center">	
							<div class="table-responsive">
								<table class="table table-responsive-lg mb-0 table-striped">
									<thead>
										<tr>
											<th style="text-align: center">Order ID</th>
											<th style="text-align: center">Date</th>
											<th style="text-align: center">Customer Number</th>
											<th style="text-align: center">Location</th>
											<th style="text-align: center">Amount</th>
											<th style="text-align: center">Qty</th>
											<th style="text-align: center">Status</th>
											<th style="text-align: center"></th>
										</tr>
									</thead>
									<tbody id="customers">
										{% for order in week_orders %}
											<tr class="btn-reveal-trigger order-{{ order.id }}">
												
												<td style="text-align: center" ><a href="{% url 'dashboard:order-details' order.id %}">#{{ order.id }}</a></td>
												<td style="text-align: center" >{{ order.ordered_date|date:"Y-m-d h:i A" }}</td>
												<td style="text-align: center" >{{ order.phone_number }}</td>
												<td style="text-align: center" >{{ order.area }}, Block: {{ order.block }}, {{ order.street }} St, House No. {{ order.house }}</td>
												<td style="text-align: center" >{{ order.get_order_total }} KD</td>
												<td style="text-align: center;">{{ order.get_items_number }}</td>
												<td style="text-align: center"  class="py-2 text-right">
													<span  class="badge badge-{% if order.status == "Received" %}warning{% elif order.status == "Delivered" %}success{% elif order.status == "On Delivery" %}secondary{% endif %} {{ order.id }}-status {% if order.status == "Canceled" %}text-danger{% endif %}" style="color: #fff; {% if order.status == "Processing" %}background: #a5705b{% endif %}"><span id="status-row-{{ order.id }}" >{{ order.status }}</span></span>
												</td>
												{% if request.user.is_staff %}
													<td style="text-align: center" >
														<div class="dropdown text-sans-serif"><button class="btn btn-primary tp-btn-light sharp" type="button" id="order-dropdown-0" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
															<div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="order-dropdown-0">
																<div class="py-2">
																	{% csrf_token %}
																	<div class="dropdown-item status-{{ order.id }}-delivered" data-url="{% url 'dashboard:change-status' order.id "Delivered" %}" style="cursor: pointer">Delivered</div>
																	<div class="dropdown-item status-{{ order.id }}-delivery" data-url="{% url 'dashboard:change-status' order.id "On Delivery" %}" style="cursor: pointer">On Delivery</div>
																	<div class="dropdown-item status-{{ order.id }}-processing" data-url="{% url 'dashboard:change-status' order.id "Processing" %}" style="cursor: pointer">Processing</div>
																	<div class="dropdown-item status-{{ order.id }}-Received" data-url="{% url 'dashboard:change-status' order.id "Received" %}" style="cursor: pointer">Received</div>
																	<div class="dropdown-divider"></div><div class="dropdown-item text-danger status-{{ order.id }}-cancel" data-url="{% url 'dashboard:change-status' order.id "Canceled" %}" style="cursor: pointer">Cancel</div>
																</div>
															</div>
														</div>
													</td>
												{% endif %}
												<td>
													<i onClick="printExternal('{% url 'dashboard:invoice' order.id %}')" style="cursor: pointer" class="fas fa-print"></i>
												</td>
											</tr>
											
										{% endfor %}
										
									</tbody>
								</table>
							</div>
						</div>
						
					</div>
					<div class="tab-pane fade show active" id="Today">
						<div class="row align-items-center">	
							<div class="table-responsive">
								<table class="table table-responsive-lg mb-0 table-striped">
									<thead>
										<tr>
											<th style="text-align: center">Order ID</th>
											<th style="text-align: center">Date</th>
											<th style="text-align: center">Customer Number</th>
											<th style="text-align: center">Location</th>
											<th style="text-align: center">Amount</th>
											<th style="text-align: center">Qty</th>
											<th style="text-align: center">Status</th>
											<th style="text-align: center"></th>
										</tr>
									</thead>
									<tbody id="today-orders">
										{% for order in today_orders %}
											<tr class="btn-reveal-trigger order-{{ order.id }}">
												
												<td style="text-align: center" ><a href="{% url 'dashboard:order-details' order.id %}">#{{ order.id }}</a></td>
												<td style="text-align: center" >{{ order.ordered_date|date:"Y-m-d h:i A" }}</td>
												<td style="text-align: center" >{{ order.phone_number }}</td>
												<td style="text-align: center" >{{ order.area }}, Block: {{ order.block }}, {{ order.street }} St, House No. {{ order.house }}</td>
												<td style="text-align: center" >{{ order.get_order_total }} KD</td>
												<td style="text-align: center;">{{ order.get_items_number }}</td>
												<td style="text-align: center"  class="py-2 text-right">
													<span  class="badge badge-{% if order.status == "Received" %}warning{% elif order.status == "Delivered" %}success{% elif order.status == "On Delivery" %}secondary{% endif %} {{ order.id }}-status {% if order.status == "Canceled" %}text-danger{% endif %}" style="color: #fff; {% if order.status == "Processing" %}background: #a5705b{% endif %}"><span id="status-row-{{ order.id }}" >{{ order.status }}</span></span>
												</td>
												{% if request.user.is_staff %}
													<td style="text-align: center" >
														<div class="dropdown text-sans-serif"><button class="btn btn-primary tp-btn-light sharp" type="button" id="order-dropdown-0" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
															<div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="order-dropdown-0">
																<div class="py-2">
																	{% csrf_token %}
																	<div class="dropdown-item status-{{ order.id }}-delivered" data-url="{% url 'dashboard:change-status' order.id "Delivered" %}" style="cursor: pointer">Delivered</div>
																	<div class="dropdown-item status-{{ order.id }}-delivery" data-url="{% url 'dashboard:change-status' order.id "On Delivery" %}" style="cursor: pointer">On Delivery</div>
																	<div class="dropdown-item status-{{ order.id }}-processing" data-url="{% url 'dashboard:change-status' order.id "Processing" %}" style="cursor: pointer">Processing</div>
																	<div class="dropdown-item status-{{ order.id }}-Received" data-url="{% url 'dashboard:change-status' order.id "Received" %}" style="cursor: pointer">Received</div>
																	<div class="dropdown-divider"></div><div class="dropdown-item text-danger status-{{ order.id }}-cancel" data-url="{% url 'dashboard:change-status' order.id "Canceled" %}" style="cursor: pointer">Cancel</div>
																</div>
															</div>
														</div>
													</td>
												{% endif %}
												<td>
													<i onClick="printExternal('{% url 'dashboard:invoice' order.id %}')" style="cursor: pointer" class="fas fa-print"></i>
												</td>
												
											</tr>
											
										{% endfor %}
										
									</tbody>
								</table>
							</div>
						</div>
					</div>   
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content %}


{% block extra_scripts %}

<script>


function printExternal(url) {
	console.log("hiiiididi")
    var printWindow = window.open(url);

    printWindow.addEventListener('load', function() {
        if (Boolean(printWindow.chrome)) {
            printWindow.print();
            setTimeout(function(){
                printWindow.close();
            }, 500);
        } else {
            printWindow.print();
            printWindow.close();
        }
    }, true);
}




function formatAMPM(date) {
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'pm' : 'am';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ' ' + ampm;
  return strTime;
}

var new_orders = []
{% for order in today_orders %}

	{% if order.status == "Received" %}

		new_orders.push("item")

	{% endif %}

{% endfor %}
var new_orders_number = new_orders.length
var aud = document.getElementById("Audio")
console.log("Hellooo")
if(new_orders_number > 0){
	aud.play()
	aud.addEventListener('ended', function() {
		this.currentTime = 0;
		this.play();
	}, false);
	console.log("hiiii")
} 



$(document).ready(function() {
	
	{% for order in orders %}

		
		$(".status-{{ order.id }}-processing").click(function() {
			var csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
			var data = "csrfmiddlewaretoken="+ csrf +"&id={{ item.slug }}&status=Processing"
			$.ajax({
				url: $(".status-{{ order.id }}-processing").data("url"),
				data: data,
				type: 'post',
				success: function(response) {
					$(".{{ order.id }}-status").css("background", "#a5705b")
					$(".{{ order.id }}-status").css("color", "#fff")

					$(".{{ order.id }}-status").text(response['status'])
					

					if(new_orders_number > 0){
						console.log(new_orders_number, "BEFORE PROCESSING")
						new_orders_number -= 1
						console.log(new_orders_number, "AFTER PROCESSING")
						if(new_orders_number > 0){
							aud.play()
							aud.addEventListener('ended', function() {
								this.currentTime = 0;
								this.play();
							}, false);
							console.log("hiiii")
						}else {
							console.log("Hello")
							aud.pause();
							aud.currentTime = 0;
						}
					}	
				}


			})

		})

		$(".status-{{ order.id }}-delivery").click(function() {
			var csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
			var data = "csrfmiddlewaretoken="+ csrf +"&id={{ item.slug }}&status=Delivery"
			$.ajax({
				url: $(".status-{{ order.id }}-delivery").data("url"),
				data: data,
				type: 'post',
				success: function(response) {
					$(".{{ order.id }}-status").css("background", "#3E3F7A")
					$(".{{ order.id }}-status").css("color", "#fff")
					$(".{{ order.id }}-status").text(response['status'])



					if(new_orders_number > 0){
						console.log(new_orders_number, "BEFORE PROCESSING")
						new_orders_number -= 1
						console.log(new_orders_number, "AFTER PROCESSING")
						if(new_orders_number > 0){
							aud.play()
							aud.addEventListener('ended', function() {
								this.currentTime = 0;
								this.play();
							}, false);
							console.log("hiiii")
						}else {
							console.log("Hello")
							aud.pause();
							aud.currentTime = 0;
						}
					}
				}

			})

		})


		$(".status-{{ order.id }}-cancel").click(function() {
			var csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
			var data = "csrfmiddlewaretoken="+ csrf +"&id={{ item.slug }}&status=Canceled"
			$.ajax({
				url: $(".status-{{ order.id }}-cancel").data("url"),
				data: data,
				type: 'post',
				success: function(response) {
					$(".{{ order.id }}-status").css({"background": "transparent", "color": "#f94687"})
					$(".{{ order.id }}-status").text(response['status'])



					if(new_orders_number > 0){
						console.log(new_orders_number, "BEFORE PROCESSING")
						new_orders_number -= 1
						console.log(new_orders_number, "AFTER PROCESSING")
						if(new_orders_number > 0){
							aud.play()
							aud.addEventListener('ended', function() {
								this.currentTime = 0;
								this.play();
							}, false);
							console.log("hiiii")
						}else {
							console.log("Hello")
							aud.pause();
							aud.currentTime = 0;
						}
					}
				}

			})

		})

		$(".status-{{ order.id }}-delivered").click(function() {
			var csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
			var data = "csrfmiddlewaretoken="+ csrf +"&id={{ item.slug }}&status=Delivered"
			$.ajax({
				url: $(".status-{{ order.id }}-delivered").data("url"),
				data: data,
				type: 'post',
				success: function(response) {
					
					$(".{{ order.id }}-status").css("background", "#2BC155")
					$(".{{ order.id }}-status").css("color", "#fff")
					$(".{{ order.id }}-status").text(response['status'])


					if(new_orders_number > 0){
						console.log(new_orders_number, "BEFORE PROCESSING")
						new_orders_number -= 1
						console.log(new_orders_number, "AFTER PROCESSING")
						if(new_orders_number > 0){
							aud.play()
							aud.addEventListener('ended', function() {
								this.currentTime = 0;
								this.play();
							}, false);
							console.log("hiiii")
						}else {
							console.log("Hello")
							aud.pause();
							aud.currentTime = 0;
						}
					}
				}

			})

		})


		$(".status-{{ order.id }}-Received").click(function() {
			var csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
			var data = "csrfmiddlewaretoken="+ csrf +"&id={{ item.slug }}&status=Received"
			$.ajax({
				url: $(".status-{{ order.id }}-Received").data("url"),
				data: data,
				type: 'post',
				success: function(response) {
					
					$(".{{ order.id }}-status").css("background", "#dc3545")
					$(".{{ order.id }}-status").css("color", "#fff")
					$(".{{ order.id }}-status").text(response['status'])


					console.log(new_orders_number, "BEFORE PROCESSING")
					new_orders_number += 1
					console.log(new_orders_number, "AFTER PROCESSING")
					if(new_orders_number > 0){
						aud.play()
						aud.addEventListener('ended', function() {
							this.currentTime = 0;
							this.play();
						}, false);
						console.log("hiiii")
					}else {
						new_orders_number = 1
						aud.play()
						aud.addEventListener('ended', function() {
							this.currentTime = 0;
							this.play();
						}, false);
						console.log("hoooo")

					}
					
				}

			})

		})

		$(".cancel-{{ order.id }}").click(function(){
			let csrf = document.querySelector('[name=csrfmiddlewaretoken]').value
			let data = "csrfmiddlewaretoken="+ csrf +"&id={{ order.id }}"
			$.ajax({
				url: $(".cancel-{{ order.id }}").data("url"),
				data: data,
				type: "post",
				success: function(){
					$(".order-{{ order.id }}").remove()


					if(new_orders_number > 0){
						console.log(new_orders_number, "BEFORE PROCESSING")
						new_orders_number -= 1
						console.log(new_orders_number, "AFTER PROCESSING")
						if(new_orders_number > 0){
							aud.play()
							aud.addEventListener('ended', function() {
								this.currentTime = 0;
								this.play();
							}, false);
							console.log("hiiii")
						}else {
							console.log("Hello")
							aud.pause();
							aud.currentTime = 0;
						}
					}
				}
			})
		})

		
		
	{% endfor %}




})
var wsStart = "ws://"
if(location.protocol == "https:"){
	wsStart  = "wss://"
}
var endpoint = wsStart + location.host + location.pathname

console.log(location)

var socket = new WebSocket(endpoint)

socket.onopen = function(e){
	console.log("open", e)

}
socket.onmessage = function(e){
	var sound = true

	console.log("message", e)
	var data = JSON.parse(e.data)
	if(data.status == "Received"){
		var badge = "warning"
	}else if(data.status == "Delivered"){
		var badge = "success"
	}else if(data.status == "On Delivery"){
		var badge = "secondary"
	}else if(data.status){
		var badge = "order"
	}
	var urlDelivered = '{% url "dashboard:change-new-status" "order_id" "Delivered" %}'
	var urlReceived = '{% url "dashboard:change-new-status" "order_id" "Received" %}'
	var urlProcessing = '{% url "dashboard:change-new-status" "order_id" "Processing" %}'
	var urlDelivery = '{% url "dashboard:change-new-status" "order_id" "On Delivery" %}'
	var order_detail = '{% url "dashboard:order-details" "order_id" %}'
	var today = new Date()
	var month = today.getMonth() + 1
	var date = today.getFullYear() +'-'+ month +'-'+ today.getDate()
	
	$("#today-orders").prepend('<tr class="btn-reveal-trigger order-'+ data.order_id +'">\
								<td style="text-align: center" ><a href="'+ order_detail.replace("order_id", data.order_id) +'">#'+ data.order_id +'</a></td>\
								<td style="text-align: center" >'+ data.ordered_date +'</td>\
								<td style="text-align: center" >'+ data.number +'</td>\
								<td style="text-align: center" >'+ data.location +'</td>\
								<td style="text-align: center" >'+ data.amount +' KD</td>\
								<td style="text-align: center;">'+ data.qty +'</td>\
								<td style="text-align: center" class="py-2 text-right">\
									<span  class="badge badge-warning"><span id="status-row-'+ data.order_id +'" >'+ data.status +'</span></span>\
								</td>\
								{% if request.user.is_staff %}\
									<td style="text-align: center" >\
										<div class="dropdown text-sans-serif"><button class="btn btn-primary tp-btn-light sharp" type="button" id="order-dropdown-0" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>\
											<div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="order-dropdown-0">\
												<div class="py-2">\
													{% csrf_token %}\
													<a class="dropdown-item status-'+ data.order_id +'-delivered" href="'+ urlDelivered.replace("order_id", data.order_id) +'" style="cursor: pointer">Delivered</a>\
													<a class="dropdown-item status-'+ data.order_id +'-delivery" href="'+ urlDelivery.replace("order_id", data.order_id) +'" style="cursor: pointer">On Delivery</a>\
													<a class="dropdown-item status-'+ data.order_id +'-processing" href="'+ urlProcessing.replace("order_id", data.order_id) +'" style="cursor: pointer">Processing</a>\
													<a class="dropdown-item status-'+ data.order_id +'-Received" href="'+ urlReceived.replace("order_id", data.order_id) +'" style="cursor: pointer">Received</a>\
													<div class="dropdown-divider"></div><div class="dropdown-item text-danger status-{{ order.id }}-cancel" href="{% url 'dashboard:change-status' '+ data.order_id +' "Canceled" %}" style="cursor: pointer">Cancel</div>\
												</div>\
											</div>\
										</div>\
									</td>\
								{% endif %}\
								<td>\
									<i onClick="printExternal("{% url "dashboard:invoice" '+ data.order_id +' %}")" style="cursor: pointer" class="fas fa-print"></i>\
								</td>\
							</tr>'

	)


	new_orders_number += 1

	
	
	
 	

	console.log("hellooo")
	aud.play()``
	aud.addEventListener('ended', function() {
		this.currentTime = 0;
		this.play();
	}, false);
		
		


		


	
	



}
socket.onerror = function(e){
	console.log("error", e)
}
socket.onclose = function(e){
	console.log("close", e)
//	sweetAlert("Connection Lost", "Please refresh the page to avoid any possible problems!!", "error")
	//location.reload()
}
	

</script>



<script src="{% static 'dashboard/vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>
<script src="{% static 'dashboard/js/sweetalert.init.js' %}"></script>

{% endblock extra_scripts %}    
	
</body>
</html>