{% extends 'dashboard/base.html' %}


{% block head %}

<style>
    .ui-widget-header {
      background: #F32735;
      border: none;
    }


    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
      color: #00205C;
      border: none;
      background: #f6f6f6;
    }


    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
      color: #F32735;
      border: 1px solid #F32735;
      background: #f6f6f6;
    }
</style>
{% endblock %}

{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <h1>Reports</h1>
        <div style="background: #e5e5e5; padding: 60px; border-radius: 1.25rem; margin-bottom: 5%; margin-top: 5%">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
                <div>
                    <h3>General Report</h3>
                    <p>General Statistics About The Orders and Users Numbers</p>
                </div>  

                    
            </div>
        
                <form class="general-income-form">
                    {% csrf_token %}
                    <div class="row" style="margin-bottom: 30px">
                        <label for="general_income_from">From</label>
                        <input type="text" name="general_income_from"  class="form-control" id="general_income_from" placeholder="Pick a Date" style="cursor: pointer;" readonly>
                    </div>
                    <div class="row" style="margin-bottom: 30px">
                        <label for="general_income_to">To</label>
                        <input type="text" name="general_income_to"  class="form-control" id="general_income_to" placeholder="Pick a Date" style="cursor: pointer;" readonly>
                    </div>
                    <div class="form-group" style="text-align: center; margin-top: 3%">
                        <input type="button" value="Export" class="btn btn-primary general-income-submit"/>

                    </div>
                </form>
            
        </div>


        <div style="background: #e5e5e5; padding: 60px; border-radius: 1.25rem; margin-bottom: 5%; margin-top: 5%">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
                <div>
                    <h3>Sales Report</h3>
                    <p>All Orders With Their Details</p>
                </div>
                    
            </div>
        
                <form class="advanced-income-form">
                    {% csrf_token %}
                    <div class="row" style="margin-bottom: 30px">
                        <label for="advanced_income_from">From</label>
                        <input type="text" name="advanced_income_from"  class="form-control" id="advanced_income_from" placeholder="Pick a Date" style="cursor: pointer;" readonly>
                    </div>
                    <div class="row" style="margin-bottom: 30px">
                        <label for="advanced_income_to">To</label>
                        <input type="text" name="advanced_income_to"  class="form-control" id="advanced_income_to" placeholder="Pick a Date" style="cursor: pointer;" readonly>
                    </div>
                    <div class="form-group" style="text-align: center; margin-top: 3%">
                        <input type="button" value="Export" class="btn btn-primary advanced-income-submit"/>

                    </div>
                </form>
            
        </div>



        <div style="background: #e5e5e5; padding: 60px; border-radius: 1.25rem; margin-bottom: 5%; margin-top: 5%">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
                <div>
                    <h3>Visits Report</h3>
                    <p>Number of Visits</p>
                </div>
                    
            </div>
        
                <form class="visits-form">
                    {% csrf_token %}
                    <div class="row" style="margin-bottom: 30px">
                        <label for="visits_from">From</label>
                        <input type="text" name="visits_from"  class="form-control" id="visits_from" placeholder="Pick a Date" style="cursor: pointer;" readonly>
                    </div>
                    <div class="row" style="margin-bottom: 30px">
                        <label for="visits_to">To</label>
                        <input type="text" name="visits_to"  class="form-control" id="visits_to" placeholder="Pick a Date" style="cursor: pointer;" readonly>
                    </div>
                    <div class="form-group" style="text-align: center; margin-top: 3%">
                        <input type="button" value="Export" class="btn btn-primary visits-submit"/>

                    </div>
                </form>
            
        </div>



        <div style="background: #e5e5e5; padding: 60px; border-radius: 1.25rem; margin-bottom: 5%; margin-top: 5%">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
                <div>
                    <h3>Users Report</h3>
                    <p>All Users With Their Details</p>
                </div>
                    
            </div>
        
                <form class="users-form">
                    {% csrf_token %}
                    <div class="row" style="margin-bottom: 30px">
                        <label for="users_from">From</label>
                        <input type="text" name="users_from"  class="form-control" id="users_from" placeholder="Pick a Date" style="cursor: pointer;" readonly>
                    </div>
                    <div class="row" style="margin-bottom: 30px">
                        <label for="users_to">To</label>
                        <input type="text" name="users_to"  class="form-control" id="users_to" placeholder="Pick a Date" style="cursor: pointer;" readonly>
                    </div>
                    <div class="form-group" style="text-align: center; margin-top: 3%">
                        <input type="button" value="Export" class="btn btn-primary users-submit"/>

                    </div>
                </form>
            
        </div>
    </div>
</div>



{% endblock content %}


{% block extra_scripts %}

<script>


var pickupPickerOptions = {
  dateFormat: 'dd/mm/yy',
  firstDay: 1,
  maxDate: 0,
  onSelect: function(date) {
    console.log("selected")
  }
}

// GENERAL REPORT

$("#general_income_from").datepicker(pickupPickerOptions);
$("#general_income_from").click(function() {
    console.log("ihi")
    $("#general_income_from").datepicker("show")
})


$("#general_income_to").datepicker(pickupPickerOptions);
$("#general_income_to").click(function() {
    console.log("ihi")
    $("#general_income_to").datepicker("show")
})


$('.general-income-submit').on('click', e => {
    // random data
    let data = $(".general-income-form").serialize();
    let request = new XMLHttpRequest();
    request.open('POST', '{% url "dashboard:general-income" %}', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.responseType = 'blob';

    console.log("general income clicked")
    request.onload = function (e) {
        if (this.status === 200) {
            let filename = "";
            let disposition = request.getResponseHeader('Content-Disposition');
            // check if filename is given
            if (disposition && disposition.indexOf('attachment') !== -1) {
                console.log("filename before", filename)
                let filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                
                let matches = filenameRegex.exec(disposition);
                if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                console.log("filename before", filename)
                
            }
            let blob = this.response;
            if (window.navigator.msSaveOrOpenBlob) {
                window.navigator.msSaveBlob(blob, filename);
            }else {
                let downloadLink = window.document.createElement('a');
                let contentTypeHeader = request.getResponseHeader("Content-Type");
                downloadLink.href = window.URL.createObjectURL(new Blob([blob], {type: contentTypeHeader}));
                downloadLink.download = filename;
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            }
        } else {
            alert('Download failed.')
        }
    };
    request.send(data);
    $(".general-income-form").trigger("reset");
});






// ADVANCED INCOME REPORT

$("#advanced_income_from").datepicker(pickupPickerOptions);
$("#advanced_income_from").click(function() {
    console.log("ihi")
    $("#advanced_income_from").datepicker("show")
})


$("#advanced_income_to").datepicker(pickupPickerOptions);
$("#advanced_income_to").click(function() {
    console.log("ihi")
    $("#advanced_income_to").datepicker("show")
})



$('.advanced-income-submit').on('click', e => {
    // random data
    let data = $(".advanced-income-form").serialize();
    let request = new XMLHttpRequest();
    request.open('POST', '{% url "dashboard:advanced-income" %}', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.responseType = 'blob';

    request.onload = function (e) {
        if (this.status === 200) {
            let filename = "";
            let disposition = request.getResponseHeader('Content-Disposition');
            // check if filename is given
            if (disposition && disposition.indexOf('attachment') !== -1) {
                let filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                let matches = filenameRegex.exec(disposition);
                if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
            }
            let blob = this.response;
            if (window.navigator.msSaveOrOpenBlob) {
                window.navigator.msSaveBlob(blob, filename);
            }
            else {
                let downloadLink = window.document.createElement('a');
                let contentTypeHeader = request.getResponseHeader("Content-Type");
                downloadLink.href = window.URL.createObjectURL(new Blob([blob], {type: contentTypeHeader}));
                downloadLink.download = filename;
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            }
        } else {
            alert('Download failed.')
        }
    };
    console.log(data)
    request.send(data);
    $(".advanced-income-form").trigger("reset");
});




// VISITS REPORT

$("#visits_from").datepicker(pickupPickerOptions);
$("#visits_from").click(function() {
    console.log("ihi")
    $("#visits_from").datepicker("show")
})


$("#visits_to").datepicker(pickupPickerOptions);
$("#visits_to").click(function() {
    console.log("ihi")
    $("#visits_to").datepicker("show")
})



$('.visits-submit').on('click', e => {
    // random data
    let data = $(".visits-form").serialize();
    let request = new XMLHttpRequest();
    request.open('POST', '{% url "dashboard:visits-report" %}', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.responseType = 'blob';

    request.onload = function (e) {
        if (this.status === 200) {
            let filename = "";
            let disposition = request.getResponseHeader('Content-Disposition');
            // check if filename is given
            if (disposition && disposition.indexOf('attachment') !== -1) {
                let filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                let matches = filenameRegex.exec(disposition);
                if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
            }
            let blob = this.response;
            if (window.navigator.msSaveOrOpenBlob) {
                window.navigator.msSaveBlob(blob, filename);
            }
            else {
                let downloadLink = window.document.createElement('a');
                let contentTypeHeader = request.getResponseHeader("Content-Type");
                downloadLink.href = window.URL.createObjectURL(new Blob([blob], {type: contentTypeHeader}));
                downloadLink.download = filename;
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            }
        } else {
            alert('Download failed.')
        }
    };
    request.send(data);
    $(".visits-form").trigger("reset");
});





// VISITS REPORT

$("#users_from").datepicker(pickupPickerOptions);
$("#users_from").click(function() {
    console.log("ihi")
    $("#users_from").datepicker("show")
})


$("#users_to").datepicker(pickupPickerOptions);
$("#users_to").click(function() {
    console.log("ihi")
    $("#users_to").datepicker("show")
})



$('.users-submit').on('click', e => {
    // random data
    let data = $(".users-form").serialize();
    let request = new XMLHttpRequest();
    request.open('POST', '{% url "dashboard:users-report" %}', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.responseType = 'blob';

    request.onload = function (e) {
        if (this.status === 200) {
            let filename = "";
            let disposition = request.getResponseHeader('Content-Disposition');
            // check if filename is given
            if (disposition && disposition.indexOf('attachment') !== -1) {
                let filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                let matches = filenameRegex.exec(disposition);
                if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
            }
            let blob = this.response;
            if (window.navigator.msSaveOrOpenBlob) {
                window.navigator.msSaveBlob(blob, filename);
            }
            else {
                let downloadLink = window.document.createElement('a');
                let contentTypeHeader = request.getResponseHeader("Content-Type");
                downloadLink.href = window.URL.createObjectURL(new Blob([blob], {type: contentTypeHeader}));
                downloadLink.download = filename;
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            }
        } else {
            alert('Download failed.')
        }
    };
    request.send(data);
    $(".users-form").trigger("reset");
});






</script>

{% endblock extra_scripts %}
