{% extends 'dashboard/base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'dashboard/vendor/pickadate/themes/default.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/vendor/pickadate/themes/default.date.css' %}">
<link href="{% static 'dashboard/vendor/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">


{% endblock head %}

{% block content %}

<div class="content-body">
    <div class="container-fluid">
    
        <h1>Date Off</h1>

        <form method="POST">
            {% csrf_token %}
            
            
            
            <label style="margin-top: 3%">Date</label>
            <input class="form-control input-daterange-datepicker" type="text" name="date">



            {% if form.date.errors %}
            <ul>
                {% for error in form.date.errors %}
                <li style="color: red">{{ error }}</li>  
                {% endfor %}
            </ul>
        {% endif %}

            

            <div style="text-align: center;">
                <button class="btn btn-primary" type="submit" style="margin-top: 3%;">Submit</button>
            </div>
        </form>
    
    </div>
</div>

{% endblock content %}



{% block extra_scripts %}


<script src="{% static 'dashboard/vendor/moment/moment.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'dashboard/vendor/pickadate/picker.js' %}"></script>
<script src="{% static 'dashboard/vendor/pickadate/picker.time.js' %}"></script>
<script src="{% static 'dashboard/vendor/pickadate/picker.date.js' %}"></script>


<!-- Daterangepicker -->
<script src="{% static 'dashboard/js/bs-daterange-picker-init.js' %}"></script>


{% endblock extra_scripts %}