{% extends 'dashboard/base.html' %} {% block content %}

<div class="content-body">
  <div class="container-fluid">
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <label style="margin-top: 3%">Title</label>
      {{ form.title }}

      <label style="margin-top: 3%">Ar Title</label>
      {{ form.ar_title }}
      <label style="margin-top: 3%">Paragraph</label>
      {{ form.paragraph }}
      <label style="margin-top: 3%">Ar Paragraph</label>
      {{ form.ar_paragraph }}


      <label style="margin-top: 3%">number</label>
      {{ form.number }}
      
      <div style="text-align: center">
        <button class="btn btn-primary" type="submit" style="margin-top: 3%">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
