{% extends 'dashboard/base.html' %}


{% block content %}

<div class="content-body">
    <div class="container-fluid">
        
        <div>
            
            <div class="card">
                <div class="card-header d-sm-flex flex-wrap d-block pb-0 border-0">
                    <div class="card-action card-tabs mt-3 mt-sm-0 mt-3 mb-sm-0 mb-3 mt-sm-0">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#Today" role="tab" aria-selected="false">
                                    Today
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Weekly" role="tab" aria-selected="false">
                                    Weekly
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Monthly" role="tab" aria-selected="true">
                                    Monthly
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="Monthly">
                            <div class="row align-items-center">	
                                <div class="col-sm-6">
                                    <div id="radialBar" class="orderChart"></div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-responsive-lg mb-0 table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Transaction ID</th>
                                                <th style="text-align: center">Email</th>
                                                <th style="text-align: center" class="pl-5 width200">Phone Number</th>
                                                <th style="text-align: center">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody id="customers">
                                            {% for transaction in month_transactions %}
                                                <tr class="btn-reveal-trigger">
                                                    
                                                    <td style="text-align:center" class="py-2">#{{ transaction.id }}</td>
                                                    <td style="text-align:center" class="py-2">{{ transaction.user.email }}</td>
                                                    <td style="text-align:center" class="py-2 pl-5 wspace-no">{{ transaction.user.profile.phone_number }}</td>
                                                    <td style="text-align:center" class="py-2">{{ transaction.amount }}</td>
                                                </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane fade" id="Weekly">
                            <div class="row align-items-center">	
                                <div class="col-sm-6">
                                    <div id="radialBar2" class="orderChart"></div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-responsive-lg mb-0 table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Transaction ID</th>
                                                <th style="text-align: center">Email</th>
                                                <th style="text-align: center" class="pl-5 width200">Phone Number</th>
                                                <th style="text-align: center">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody id="customers">
                                            {% for transaction in week_transactions %}
                                                <tr class="btn-reveal-trigger">
                                                    
                                                    <td style="text-align:center" class="py-2">#{{ transaction.id }}</td>
                                                    <td style="text-align:center" class="py-2">{{ transaction.user.email }}</td>
                                                    <td style="text-align:center" class="py-2 pl-5 wspace-no">{{ transaction.user.profile.phone_number }}</td>
                                                    <td style="text-align:center" class="py-2">{{ transaction.amount }}</td>
                                                </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane fade show active" id="Today">
                            <div class="row align-items-center">	
                                <div class="col-sm-6">
                                    <div id="radialBar3" class="orderChart"></div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-responsive-lg mb-0 table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Transaction ID</th>
                                                <th style="text-align: center">Email</th>
                                                <th style="text-align: center" class="pl-5 width200">Phone Number</th>
                                                <th style="text-align: center">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody id="customers">
                                            {% for transaction in today_transactions %}
                                                <tr class="btn-reveal-trigger">
                                                    
                                                    <td style="text-align:center" class="py-2">#{{ transaction.id }}</td>
                                                    <td style="text-align:center" class="py-2"> {{ transaction.user.email }}</td>
                                                    <td style="text-align:center" class="py-2 pl-5 wspace-no">{{ transaction.user.profile.phone_number }}</td>
                                                    <td style="text-align:center" class="py-2">{{ transaction.amount }}</td>
                                                </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}