{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <label>Image ( 1200 X 800 px ) ( Max 1 MB )</label>
            <div class="input-group" style="margin-bottom: 1rem">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.picture }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            <div class="form-group">
                <label>Button Text</label>
                {{ form.text }}
            </div>
            <div class="form-group">
                <label>Button Ar Text</label>
                {{ form.ar_text }}
            </div>

            <div class="form-group">
                <label>Button Link</label>
                {{ form.link }}
            </div>

            <div class="form-group">
                <label>Button Ar Link</label>
                {{ form.ar_link }}
            </div>

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.has_link }}
                <label class="custom-control-label" for="customCheckBox2">with link</label>
            </div>
            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.disabled }}
                <label class="custom-control-label" for="customCheckBox1">Disable</label>
            </div>
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}

            
            
            <div class="form-group" style="text-align: center; margin-top: 3%">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

{% endblock content %}