{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                {{ form.en_name }}
            </div>
            <div class="form-group">
                <label>Ar Name</label>
                {{ form.ar_name }}
            </div>
            <div class="form-group">
                <label>Price</label>
                <div class="input-group">
                    {{ form.price }}
                    <div class="input-group-append">
                        <span style="background: #00205C; color: #fff" class="input-group-text">KD</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Delivery Date</label>
                {{ form.delivery_date }}
            </div>

            <label>Image ( 800 X 533 px ) ( Max 1 MB )</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.image }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            {% if form.image.errors %}
                <ul>
                    {% for error in form.image.errors %}

                    <li style="color: red">{{ error }}</li>  

                    {% endfor %}
                </ul>
            {% endif %}
            {% if tray %}
                <img style="display: block; width: 25%; margin: 1rem 0" src="{{ tray.image.url }}" alt="Tray Image">
            {% endif %}
            <div class="form-group">
                <label>Weight</label>
                {{ form.weight }}
            </div>

            <div class="form-group">
                <label>Unit</label>
                {{ form.unit }}
            </div>
            <div class="form-group">
                <label>Height</label>
                {{ form.height }}
            </div>
            <div class="form-group">
                <label>Width</label>
                {{ form.width }}
            </div>
            <div class="form-group">
                <label>length</label>
                {{ form.length }}
            </div>

            <div class="form-group">
                <label>Type</label>
                {{ form.type }}
            </div>
                
            
            <div class="form-group" style="text-align: center; margin-top: 3%">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

{% endblock content %}