{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}

            <label>Banner Image1 ( 1800 X 500 px ) ( Max 1 MB )</label>
            <div class="input-group" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.image1 }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            {% if form.image1.errors %}
                <ul>
                    {% for error in form.image1.errors %}

                    <li style="color: red">{{ error }}</li>  

                    {% endfor %}
                </ul>
            {% endif %}
            <img style="display: block; width: 50%; margin: 1rem 0" src="{{ banner_image.image1.url }}" alt="banner image 1">


            <label style="margin-top: 1rem;">Banner Image2 ( 1800 X 500 px ) ( Max 1 MB )</label>
            <div class="input-group" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.image2 }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            {% if form.image2.errors %}
                <ul>
                    {% for error in form.image2.errors %}

                    <li style="color: red">{{ error }}</li>  

                    {% endfor %}
                </ul>
            {% endif %}
            <img style="display: block; width: 50%; margin: 1rem 0" src="{{ banner_image.image2.url }}" alt="banner image 2">


            <label style="margin-top: 1rem">Banner Image3 ( 1800 X 500 px ) ( Max 1 MB )</label>
            <div class="input-group" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.image3 }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            {% if form.image3.errors %}
                <ul>
                    {% for error in form.image3.errors %}

                    <li style="color: red">{{ error }}</li>  

                    {% endfor %}
                </ul>
            {% endif %}
            <img style="display: block; width: 50%; margin: 1rem 0" src="{{ banner_image.image3.url }}" alt="banner image 3">


            <label style="margin-top: 1rem">Banner Image4 ( 1800 X 500 px ) ( Max 1 MB )</label>
            <div class="input-group" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.image4 }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            {% if form.image4.errors %}
                <ul>
                    {% for error in form.image4.errors %}

                    <li style="color: red">{{ error }}</li>  

                    {% endfor %}
                </ul>
            {% endif %}
            <img style="display: block; width: 50%; margin: 1rem 0" src="{{ banner_image.image4.url }}" alt="banner image 4">

            <label>Banner Image5 ( 1800 X 500 px ) ( Max 1 MB )</label>
            <div class="input-group" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.image5 }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            {% if form.image5.errors %}
                <ul>
                    {% for error in form.image5.errors %}

                    <li style="color: red">{{ error }}</li>  

                    {% endfor %}
                </ul>
            {% endif %}
            <img style="display: block; width: 50%; margin: 1rem 0" src="{{ banner_image.image5.url }}" alt="banner image 5">
            
            
            <div class="form-group" style="text-align: center; margin-top: 3%">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

{% endblock content %}