{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                {{ form.en_title }}
            </div>
            <div class="form-group">
                <label>Ar Name</label>
                {{ form.ar_title }}
            </div>

            <div class="form-group">
                <label>Number</label>
                {{ form.number }}
            </div>

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.coming_soon }}
                <label class="custom-control-label" for="customCheckBox1">Coming Soon</label>
            </div>
            
            
            <div class="form-group" style="text-align: center; margin-top: 3%">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

{% endblock content %}