{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% if error %}
                <p style="color: red">{{ error }}</p>

            
            
            {% endif %}
            <div class="form-group">
                <label>Title</label>
                <input name="title" type="text" value="{{ category.en_title }}" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Ar Title</label>
                <input name="ar_title" type="text" value="{{ category.ar_title }}" class="form-control">
            </div>
            <label>Image</label>
            <div class="input-group" style="margin-bottom: 1rem">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" name="picture" class="custom-file-input" id="picture">
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            <label>Banner Image</label>
            <div class="input-group" style="margin-bottom: 1rem">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" name="banner_picture" class="custom-file-input" id="picture">
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            <div class="form-group">
                <label>Number</label>
                <input name="number" type="text" value="{{ category.number }}" class="form-control" required>
            </div>


            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                <input type="checkbox" name="hidden" class="custom-control-input" id="customCheckBox1" {% if category.hidden %} checked {% endif %}>
                <label class="custom-control-label" for="customCheckBox1">Hide</label>
            </div>


            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                <input type="checkbox" name="has_dimensions" class="custom-control-input" id="customCheckBox2" {% if category.has_dimensions %} checked {% endif %}>
                <label class="custom-control-label" for="customCheckBox2">Has Dimensions</label>
            </div>
            
            
           
            <div class="form-group" style="text-align: center; margin-top: 5%">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>

    </div>
</div>

{% endblock content %}