{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label>Flavor</label>
                {{ form.en_name }}
            </div>
            <div class="form-group">
                <label>Ar Flavor</label>
                {{ form.ar_name }}
            </div>
            
           
            <div class="form-group" style="text-align: center; margin-top: 5%">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>

    </div>
</div>

{% endblock content %}