{% extends 'dashboard/base.html' %}




{% block content %}



<div class="content-body">
    <div class="container-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label>Ar Name</label>
                {{ form.ar_title }}
            </div>


            <label>Price</label>
            <div class="input-group">
                {{ form.price }}
                <div class="input-group-append">
                    <span style="background: #00205C; color: #fff" class="input-group-text">KD</span>
                </div>
            </div>

            <div class="form-group">
                <label>Type</label>
                {{ form.type }}
            </div>
            

            <label>Image ( 800 X 800 px ) ( Max 1 MB )</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.image }}
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
            {% if form.image.errors %}
                <ul>
                    {% for error in form.image.errors %}

                    <li style="color: red">{{ error }}</li>  

                    {% endfor %}
                </ul>
            {% endif %}
            {% if box_item %}
                <img style="display: block; width: 25%; margin: 1rem 0" src="{{ box_item.image.url }}" alt="Box Item Image">
            {% endif %}


            


            
           
           
            <div class="form-group" style="text-align: center; margin-top: 3%">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>

    </div>
</div>

{% endblock content %}