{% extends 'dashboard/base.html' %}




{% block content %}

<div class="content-body">
    <div class="container-fluid">
    
        <h1>Working Hours</h1>

        <form method="POST">
            {% csrf_token %}
            <h3 style="margin-top: 6%">First Time</h3>
            <label style="margin-top: 3%">From</label>
            {{ form.from_time1 }}
            <label style="margin-top: 3%">To</label>
            {{ form.to_time1 }}

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.disabled_time1 }}
                <label class="custom-control-label" for="customCheckBox1">Disabled?</label>
            </div>

            <h3 style="margin-top: 6%">Second Time</h3>
            <label style="margin-top: 3%">From</label>
            {{ form.from_time2 }}
            <label style="margin-top: 3%">To</label>
            {{ form.to_time2 }}

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.disabled_time2 }}
                <label class="custom-control-label" for="customCheckBox2">Disabled?</label>
            </div>

            <h3 style="margin-top: 6%">Third Time</h3>
            <label style="margin-top: 3%">From</label>
            {{ form.from_time3 }}
            <label style="margin-top: 3%">To</label>
            {{ form.to_time3 }}

            <div class="custom-control custom-checkbox mb-3" style="margin-top: 3%">
                {{ form.disabled_time3 }}
                <label class="custom-control-label" for="customCheckBox3">Disabled?</label>
            </div>

            <div style="text-align: center;">
                <button class="btn btn-primary" type="submit" style="margin-top: 3%;">Submit</button>
            </div>
        </form>
    
    </div>
</div>

{% endblock content %}